- var active= {"category": "Veterinarios", "service": null}
- var title = "Marketing Veterinario - Braun Marketing & Consulting"
- var description = "¿Eres Veterinario? ¿Querrías hacer creer tu negocio usando herramientas de marketing? Te decimos como hacerlo."
- var fraseHeader= "Si te extrañas cuando tus clientes te preguntan ¿para qué le pongo la vacuna si está sano?, ¿te extrañas de que tu clínica necesite Marketing Veterinario?"

-
    var faq = [
        {
            pregunta: "¿Es necesario invertir en una Agencia especializada en Marketing para veterinarios?",
            respuesta: "Es vital delegar los servicios de marketing online a una empresa especializada, ya que es muy importante estar en internet, pero es más importante es tener una buena presencia en este medio. Si tu empresa realiza unas acciones de marketing online profesionales podrás obtener unos grandes beneficios tanto en la captación de nuevos clientes como en ventas."
        },
        {
            pregunta: "¿Por qué invertir en marketing online?",
            respuesta: "Si quieres que tu público te conozca debes de invertir en marketing online y algunas de las razones de porque estar presente en internet son:<ul><li>Alcance, el número de usuarios y el tiempo en internet va aumentando día a día, por tanto, nuestro público objetivo en este medio es mucho mayor que en el medio offline.</li><li>Segmentación, con el marketing online serán los usuarios los que encentren tu anuncio. Puedes segmentar por tipo de clientes y esto nos asegura un mayor porcentaje de ventas.</li><li>Análisis, la rentabilidad de una campaña de marketing online se puede medir casi al milímetro y en tiempo real.</li><li>Coste: es menor en marketing online que en marketing tradicional.</li></ul>"
        },
        {
            pregunta: "La principal ventaja de contratar a una agencia especializada en marketing para veterinarios es que esta realizará acciones de marketing optimizadas y en el mismo intervalo de tiempo podrá llevar varias acciones conjuntas, ya que cuenta con un equipo de profesionales cada uno especializado en una rama del marketing online. También es más barato para la empresa contratar los servicios de marketing a una agencia que mantener un trabajador en plantilla para las acciones de marketing online.",
            respuesta: "CC"
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: "No, es un canal encargado de dar voz a la marca en las comunidades donde se encuentra tu público objetivo. Las ventas se realizan en tu web y las redes sociales es el medio por el cuál debes de llevar tráfico cualificado al sitio web. Son de vital importancia cuidar las redes sociales porque en ellas es donde interactúas directamente con tus usuarios."
        }
    ]
