- var active= {"category": "Veterinarios", "service": null}
- var title = "Marketing Veterinario - Braun Marketing & Consulting"
- var description = "¿Eres Veterinario? ¿Querrías hacer creer tu negocio usando herramientas de marketing? Te decimos como hacerlo."
- var fraseHeader= "Si te extrañas cuando tus clientes te preguntan ¿para qué le pongo la vacuna si está sano?, ¿te extrañas de que tu clínica necesite Marketing Veterinario?"