extends /partials/html-layout
include /mixins/layout.pug

block body
	+layout(menu, {"category": "Veterinarios", "service": null}, "Veterinarios")
	#content-wrapper


		include /partials/footer

	include /partials/form