- var active = {"category": "Odontólogos", "service": null}
- var title = "Marketing para Odontólogos - Braun Marketing & Consulting"
- var description = "¿Eres Odontólogo? ¿Te gustaría dar un empujón fuerte a tu marketing y atraer nuevos pacientes? Nosotros nos encargamos."
- var fraseHeader = "Cervantes dijo que \"una boca sin muelas, es como un molino sin piedra\". Nosotros pensamos que una clínica dental sin Marketing, es una boca sin muelas que arreglar..."