- var active = {"category": "Odontólogos", "service": null}
- var title = "Marketing para Odontólogos - Braun Marketing & Consulting"
- var description = "¿Eres Odontólogo? ¿Te gustaría dar un empujón fuerte a tu marketing y atraer nuevos pacientes? Nosotros nos encargamos."
- var fraseHeader = "Cervantes dijo que \"una boca sin muelas, es como un molino sin piedra\". Nosotros pensamos que una clínica dental sin Marketing, es una boca sin muelas que arreglar..."

-
    var faq = [
        {
            pregunta: "¿Es necesario invertir en una Agencia especializada en Marketing para odontólogos?",
            respuesta: "Sí, igual que cualquier servicio debemos dejarlo en manos de profesionales. Sólo una agencia especializada en tu sector sabrá optimizar las campañas de marketing online y con ello obtener mejores resultados, trayendo a tu negocio un mayor número de clientes y beneficios."
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing para odontólogos?",
            respuesta: "Una agencia especializada en marketing siempre te va a asegurar mejores resultados que una persona de marketing online en plantilla, esto es debido a que la agencia está compuesta por un grupo de profesionales especializados en el sector, y cada uno especialista en diferentes ramas del marketing online. Es más económica y más eficiente que tener un trabajador en plantilla que tendría que saber ejecutar cada especialidad del marketing online."
        },
        {
            pregunta: "¿Puedo conseguir más clientes con el marketing online?",
            respuesta: "Sí, con las acciones de marketing podremos atraer un mayor número de clientes nuevos, debido a que conoceremos las necesidades que tiene tu público objetivo, cómo satisfacerlas y cómo atraerlo hacia tu negocio para convertirlos en clientes y con esto conseguir un mayor número de ventas."
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: "No, esto es un error muy común que tienen las empresas. Las redes sociales es un canal más de la empresa en el medio online y su principal objetivo es darle voz a la marca manteniendo una relación bidireccional con los usuarios. Es muy importante que las redes sociales las lleven profesionales porque en ellas podemos conocer de primera mano las necesidades e inquietudes de nuestros usuarios."
        }
    ]
