- var active = {"category": "Marketing Farmacéutico", "service": "Redes Sociales"}
- var title = "Redes Sociales - Braun Marketing & Consulting"
- var description = "¿Aún no estás en las redes sociales? No tardes más y déjalo en nuestras manos."

- var intro = "Cuando nos referimos a los servicios relacionados con las <strong>redes sociales</strong>, estamos hablando de uno de los sectores que mayor relevancia están adquiriendo en las últimas décadas, éxito que va ligado a la normalización que en nuestra sociedad está experimentando el uso de este tipo de plataformas, hasta el punto de que para las generaciones más jóvenes se trata de un medio absolutamente natural de comunicación e intercambio de información. En cuanto a las empresas, encuentran en este campo un cauce inigualable para darse a conocer, mantener una relación directa con sus posibles clientes, y dar mayor eco a la utilidad de sus servicios."
- var video = ""