extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Redes sociales: ventajas y oportunidades. Las redes más extendidas
 
	h3.title.is-3 ¿De qué hablamos con la expresión redes sociales?

	p.
		Las <strong>redes sociales</strong> son un tipo de plataforma de intercambio de todo tipo de información, en cualquier formato, desde las que los usuarios pueden <strong>comunicarse y compartir experiencias</strong>, textos, vídeos, fotos… Ya se trate de personas físicas o de empresas, las cuales pueden aprovechar estas oportunidades para recabar información sobre las costumbres y necesidades de su público objetivos, así como para dirigirse directamente a él, usando sus mismos códigos y formas, y partiendo de la base de que se trata de personas que cada vez se encuentran mejor preparadas y que asumen con mayor naturalidad el mundo de las nuevas tecnologías.
 
	h3.title.is-3 ¿Qué aportan las redes sociales?
 
	p.
		Sin duda son muchas e importantes las <strong>oportunidades</strong> que las <strong>redes sociales</strong> le dan a nuestra empresa, extendiendo nuestra marca por las mismas y permitiendo que aquellos usuarios a los que les agrade la información que publicamos, la <strong>compartan y recomienden</strong> nuestros servicios, aumentando considerablemente, de este modo, los visitantes a nuestra web.
	p.
		Asimismo, con las redes sociales conseguimos mantener un <strong>hilo directo con los usuarios</strong> que sean potenciales clientes de nuestra empresa, lo que genera una enorme oportunidad de conocer datos relevantes sobre los mismos así como ofrecerles una atención que aumente su satisfacción respecto de nuestra empresa. 

	p.
		Estas oportunidades se ven complementadas por las siguientes <strong>ventajas</strong>:
	ol
		li Podemos obtener esos beneficios <strong>sin coste</strong>, ya que la creación del perfil en las plataformas sociales es totalmente gratuita. Sin perjuicio de esto, sí resultará trabajoso y requerirá un esfuerzo importante la dotación de contenido atractivo y de alta calidad al perfil creado.
		li Las posibilidades de <strong>creación y extensión de nuestra marca</strong> se multiplican teniendo en cuenta que los usuarios de las principales redes sociales son cada vez más numerosos.
		li Según indicábamos anteriormente, con estas plataformas obtenemos un canal de <strong>comunicación directa con el público</strong>, incluso mediante vídeos que se emiten en directo y en los que se pueden impartir, por ejemplo, conferencias o tutoriales, para que los usuarios que lo estén viendo puedan hacer comentarios o lanzar preguntas en tiempo real. Es el caso de los directos de Facebook, Youtube e Instagram, y del Periscope de Twitter.
 

	h3.title.is-3 ¿Cuáles son las redes sociales más extendidas?

	p.
		A la hora de intentar aprovechar las oportunidades que brindan las redes y que hemos expuesto más arriba, debemos fijarnos especialmente en las que han adquirido <strong>más importancia</strong> en los últimos tiempos, y en aquéllas que, además, se hayan <strong>especializado</strong> en las facetas que más convengan a nuestros intereses. 
	p.
		Podemos, según lo dicho, hacer la siguiente <strong>relación de redes sociales</strong> que pueden interesar, con sus rasgos principales:
	ol
		li
			p.
				Comenzaremos refiriéndonos a la red que <strong>más usuarios</strong> tiene en la actualidad: <strong>Facebook</strong>.
			p.
				Es muy interesante para empresas ya que, junto con el perfil normal para personas, permite configurar otro <strong>para empresas</strong>, que permite servicios extra como la programación de publicaciones o la obtención de estadísticas.
			p.
				El público tipo de esta red es amplio: <strong>hombres o mujeres de cualquier edad y nivel socioeconómico</strong>. 
			p.
				Para la maximización de los beneficios obtenidos con las <strong>publicaciones</strong>, éstas encuentran su momento idóneo en horario <strong>de una a tres de la tarde y de siete a nueve de la noche, jueves y viernes</strong>.
			p.
				Por último, debemos mencionar que, tal y como anunciábamos, ostenta el mayor número de usuarios de las redes existentes, con un total de <strong>casi 1.600 millones de usuarios en todo el mundo</strong>. En nuestro país suman unos 19 millones, de los que 16 millones abarcan rangos de edad de entre 16 a 55 años. A pesar de esta enorme cantidad de usuarios, lo cierto es que cuando se realiza una publicación en Facebook, la misma <strong>solamente alcanza a un 3 ó 5%</strong> de ellos, porcentaje que solamente aumenta si la publicación es compartida o recibe likes y comentarios. 
		li
			p.
				En segundo lugar, respecto a las redes que se han centrado en en el envío de mensajes cortos, o <strong>microbloggings</strong>, citaremos a la más importante, que es <strong>Twitter</strong>.
			p.
				Efectivamente, se pueden compartir <strong>mensajes de tan sólo 140 caracteres</strong>, como máximo, que únicamente son <strong>visibles una o dos horas</strong>. En compensación, se obtiene una comunicación <strong>inmediata</strong> ya que los mensajes aparecen y pueden ser contestados prácticamente en tiempo real, lo que, unido a sus <strong>320 millones de usuarios en el mundo</strong> (7,7 millones sólo en España), la convierten en una plataforma muy interesante para las empresas.
			p.
				El prototipo de usuario de Twitter es de <strong>sexo masculino, de cualquier edad y de capacidad económica media o alta</strong>. La mejor hora para hacer publicaciones es a las <strong>doce y a las seis</strong> de la tarde.
		li
			p.
				La principal <strong>red profesional</strong> en nuestros días es, sin duda, <strong>LinkedIn</strong>.
			p.
				Se trata de una plataforma que, por su finalidad, ha pretendido adoptar una forma y contenido más serio y formal, consiguiendo atraer tanto a particulares como a empresas, hasta alcanzar la suma de <strong>más de 433 millones de usuarios en el mundo</strong>, de los cuales unos 8 millones están en España.
			p.
				El perfil del usuario típico de LinkedIn es un <strong>hombre de mediana edad y nivel económico alto</strong>. La mejor hora para publicar es <strong>a las cinco y a las seis de la tarde</strong>, en los <strong>días centrales de la semana</strong>.
		li
			p.
				Existen <strong>redes sociales especializadas en compartir vídeos</strong>, de entre las que la más importante, sin duda, es <strong>Youtube</strong>.
			p.
				Se trata de una plataforma que sigue experimentando un <strong>fuerte crecimiento</strong>, apoyado en el uso masivo de los smartphones que, en la actualidad, permiten de modo muy sencillo subir vídeos.
			p.
				Este hecho, junto con el buen posicionamiento que adquieren las publicaciones, merced a la indexación que de las mismas hace Google, han permitido que esta red alcance los <strong>1.000 millones de usuarios en el mundo</strong>, y subiendo. De ellos, España alcanza los 14 millones.
			p.
				El usuario de Youtube tiene el siguiente perfil: <strong>hombre de edad media y nivel económico alto o medio</strong>, y el mejor horario para publicar es a la <strong>una de la tarde, los miércoles y jueves</strong>.
		li
			p.
				Por último, también hay una red social por excelencia para <strong>subir fotos</strong>, que es <strong>Instagram</strong>.
			p.
				Por el mismo motivo de la generalización en el uso de smartphones, y por las amplias posibilidades para mejorar las instantáneas que se suben a la plataforma, gracias a los <strong>filtros</strong> que dan un acabado casi profesional, Instagram ha llegado a alcanzar los <strong>400 millones de usuarios en el mundo</strong>, y 8 aproximadamente en España.
			p.
				También las <strong>empresas</strong> pueden encontrar utilidad a esta plataforma, ya que <strong>acercan</strong> y ayudan a la gente a conocerlas mejor, pudiendo observar sus lugares de trabajo, personal, etc.
			p.
				El prototipo de usuario de Instagram es una <strong>mujer joven con un nivel económico medio</strong>. El mejor horario para publicar es a las <strong>tres y a las cuatro de la tarde, los lunes</strong>.
	hr

	h2.title.is-2 2. Lo que podemos hacer en las redes sociales
 
	h3.title.is-3 ¿Podemos hacer un listado de acciones en redes sociales?
	p.
		Para ordenar y comprender mejor cómo actuar en las redes, podemos enumerar de la siguiente manera las <strong>actuaciones a realizar</strong>:
	ol(type="a")
		li Comenzaremos promoviendo el <strong>estudio de lo hecho</strong> hasta ahora: estrategias, perfiles, imágenes, textos, publicaciones... Todo lo realizado y resultados obtenidos.
		li Sabiendo lo que tenemos hasta este momento, podremos fijarnos <strong>nuevos objetivos</strong> y, con ello, un renovado calendario de actuaciones a realizar, prefijando el lenguaje que utilizaremos, el modo en el que desarrollaremos la atención a los usuarios, etc.
		li En este momento, es importante que planifiquemos las <strong>redes sociales en las que queremos actuar</strong>, coordinando los textos y estrategias que llevemos en cada una de ellas, si son varias las elegidas.
		li Seleccionadas las redes, completaremos nuestros perfiles con <strong>textos y contenidos</strong> que deberán ser, necesariamente, de gran calidad para satisfacer las necesidades y expectativas de los usuarios. Este trabajo es, probablemente, el más arduo de los pasos que componen este listado.
		li Llegados a este punto, tan sólo nos quedará <strong>supervisar los perfiles creados</strong>, su correcto funcionamiento y que cumplen los objetivos previstos.
		li Como consecuencia de la actividad prevista en el punto anterior, emitiremos <strong>informes mensuales</strong> para dar cuenta de lo logrado en cada red, el comportamiento del público en respuesta a nuestras publicaciones y las mejoras a introducir a la vista de los defectos percibidos. 

