extends /partials/services-layout

block variables
	include _variables
block content


	h2.title.is-2 1. Analytics Google. Qué es y por qué nos interesa
	h3.title.is-3 ¿Cuál es el objeto del Analytics Google?
	p El #[strong Analytics Google] es el instrumento con el que pretendemos obtener la mayor cantidad posible de #[strong datos] que nos interesen sobre la evolución de nuestra empresa para, con ello, conocer si nuestras acciones de marketing están dando como resultado una mejora en las cifras del negocio o si, por el contrario, debemos introducir modificaciones y, en este caso, en qué sentido.
	p Por consiguiente, debemos desarrollar esta labor recopilatoria respecto de toda aquella información que #[strong nos permita entender la interacción del visitante de nuestra web con la misma], no limitándonos simplemente a recabar las entradas que hay en la página y las ventas que se producen. Los datos que recabemos pueden ser de gran ayuda para nuestro <a href="#[+nextServiceURL()]">Community Manager</a> para generar contenido.

	h3.title.is-3 ¿Para qué es importante Analytics Google?
	p Solamente conociendo con la mayor precisión posible toda la información que contribuya a una mejor #[strong comprensión] sobre los #[strong intereses], #[strong motivaciones], etc, de nuestro #[strong público objetivo], podremos #[strong acomodar nuestra página] a tales características, aumentando en consecuencia el índice de satisfacción en la experiencia del usuario y con ello la cantidad de visitas y de contrataciones de nuestro servicio. 

	hr

	h2.title.is-2 2. Nuestro método
	h3.title.is-3 ¿Qué pasos llevamos a cabo con Analytics Google?
	p A la hora de ejecutar las actuaciones descritas, diferenciaremos los siguientes #[strong pasos]:
	ul
		li: p Habrá que aplicar las #[strong métricas y herramientas] de medición convenientes a la clase de sitio de que dispongamos: blog, ecommerce o landing page.
		li: p Convendremos en las #[strong finalidades y en los indicadores claves de rendimiento] (KPI´s) que busquemos en primer lugar y, a la vista de las mismas, fijaremos las variables que estudiaremos. 
		li: p Todas las acciones de procesamiento de datos para su análisis con #[strong Analytics Google] se habrán de llevar a cabo en un #[strong plazo de tiempo], que fijaremos claramente.
		li: p Dicha medición, además, se realizará por medio de las #[strong herramientas] que también acordemos.
		li: p Elaboraremos un #[strong plan de medición].
		li: p Diseccionaremos los datos obtenidos para #[strong verificar el cumplimiento de objetivos] y redactar los informes pertinentes.
		li: p Ejecutaremos los #[strong ajustes y cambios] necesarios en la página que, a la vista de la información recabada, se presenten como aconsejables.

	h3.title.is-3 ¿Qué tenemos que medir?
	p Teniendo en cuenta que buscamos mejorar nuestra página para, con ello, aumentar sus cifras positivas, deberemos centrar las métricas que hagamos en #[strong aspectos] tales como:
	ul
		li: p #[strong Visitas a la web].
		li: p #[strong Visitas únicas].
		li: p Porcentaje de #[strong visitas nuevas].
		li: p Media de #[strong tiempo de duración de las visitas].
		li: p #[strong Páginas de entrada].
		li: p #[strong Tasa de rebote].

	h3.title.is-3 ¿Y qué son las métricas avanzadas?
	p Tras hacer un escrupuloso trabajo de recopilación de datos con #[strong Analytics Google], deberemos prestar especial atención a aquellos que guarden #[strong relación cercana con las finalidades] que tengamos en cada momento y, estas métricas concretas, diferentes según los objetivos de cada momento a las que van asociadas, son las que llamamos avanzadas.
	p Para conocer mejor a qué pueden ir referidas las métricas avanzadas, propondremos estos dos #[strong ejemplos]:
	ol
		li
			p Imaginemos que nuestra finalidad es fidelizar más visitantes, ya que nuestro sitio web está destinado al desarrollo de textos, porque se trate de un blog o una página de noticias, por ejemplo. 
			p En este caso, las métricas que nos interesarían estarían referidas al tanto por ciento de #[strong visitantes nuevos]; #[strong tiempo] en que permanecen en la web; la llamada #[strong profundidad de la visita] o número de páginas por las que navega; así como usuarios que se #[strong suscriben] a la página y #[strong comparten] el contenido.
		li
			p Supongamos, en cambio, que el fin que buscamos es mejorar las ventas, habida cuenta de que nuestra web es de venta de productos.
			p En este supuesto, serán fundamentales datos como la #[strong cuantía] media de lo que se gasta cada uno de los visitantes que realizan una compra en nuestra página (división entre ingresos y ventas); la #[strong tasa de conversión] (entradas a la web que acaban siendo ventas); y el #[strong número de ventas por visita].

