- var active = {"category": "Odontólogos", "service": "Consultoría Empresarial"}
- var title = "Consultoría Empresarial - Braun Marketing & Consulting"
- var description = "Con nuestra Consultoría Empresarial le ayudaremos a que su negocio no tenga ningún punto débil."

- var intro = ""
- var video = ""