- var active = {"category": "Marketing Farmacéutico", "service": "Benchmarking Farmacéutico"}
- var title = "Benchmarking Farmacéutico - Braun Marketing & Consulting"
- var description = "Te gustaría estar al día de lo que hace tu competencia. Te ayudamos haciendo un Benchmarking Farmacéutico"

- var intro = "A la hora de desarrollar las actuaciones necesarias para contribuir de manera decisiva a mejorar el <strong>posicionamiento, valor y relevancia</strong> de la empresa farmacéutica de nuestro cliente mediante las técnicas de marketing adecuadas, debemos tener presente, con carácter previo, la realización de las actuaciones de <strong>Benchmarking farmacéutic</strong>o, mediante las que podremos conocer las características que, en este aspecto, tienen las entidades líderes en este sector."
- var video = ""