extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Qué es el Benchmarking farmacéutico. Su relevancia

	h3.title.is-3 ¿Qué entendemos por Benchmarking farmacéutico?
	p Como se puede deducir de la introducción anterior, por #[strong Benchmarking farmacéutico] entendemos la labor de análisis y estudio dirigida a conocer los detalles de las estrategias de marketing y funcionamiento general empleadas por las principales empresas del sector farmacéutico que, presumiblemente, las han llevado a ostentar una posición privilegiada, con el objeto de trasladar, en la medida de lo posible, sus actuaciones a nuestro propio caso.

	h3.title.is-3 ¿Qué importancia tiene para nuestra empresa y qué ventajas ofrece?
	p La relevancia de las actuaciones de #[strong Benchmarking farmacéutico] encuentra su explicación en los beneficios innegables que puede ofrecernos el resultado de la operación de búsqueda de las principales características de la estrategia de marketing, y de otras facetas, de las empresas más vanguardistas del mercado, desde el punto de vista de la cantidad de modificaciones y variaciones, así como adiciones, que respecto de nuestra propia estrategia pueda suponer para #[strong obtener unos resultados más beneficiosos para nuestra entidad].
	p Desde esta perspectiva, deberemos fijar nuestro punto de mira especialmente en los rasgos de aquellas empresas que realmente sean las #[strong líderes del sector].
	p Los dos aspectos en los que podemos obtener unas ventajas más pronunciadas, son:
	ul
		li: p Introducción de las mejoras necesarias en la prestación del servicio que ofrecemos, de manera que aumente la satisfacción del cliente y, en consecuencia, los datos económicos de la empresa.
		li: p Perfeccionamiento de nuestros procesos de manera que logremos aumentar significativamente la eficiencia de los mismos sin incrementar los gastos.
	hr

	h2.title.is-2 2. Acciones de Benchmarking farmacéutico que desarrollamos

	h3.title.is-3 ¿Cuáles son los actos de Benchmarking farmacéutico que realizamos?
	p Podemos identificar #[strong cuatro momentos] distintos en el desarrollo de este tipo de actuaciones:
	ol
		li: p Fijación de nuestro objetivo, esto es, de las #[strong entidades que consideremos que ocupan una posición de privilegio] en el ámbito farmacéutico, sin olvidar que ser una entidad líder y rompedora, no necesariamente va a asociado con ser la empresa de mayor tamaño. 
		li: p #[strong Estudio de los elementos] que contribuyen a tener en esos puestos de liderazgo a la empresa objeto de análisis.
		li: p Investigación de cuáles sean los #[strong rasgos concretos] de la entidad dentro de su ámbito de actuación, deduciendo los beneficios que podemos obtener reproduciendo las características que consideremos oportunas.
		li: p Determinación de cuáles son, precisamente, las claves del éxito de la empresa objeto de estudio que podemos y queremos #[strong reproducir en nuestro funcionamiento]

