- var active = {"category": "Médicos", "service": "Healthcare Benchmarking"}
- var title = "Healthcare Benchmarking - Braun Marketing & Consulting"
- var description = "Con nuestro informe de Healthcare Benchmarking sabrás lo que hacen los líderes de tu especialidad en Internet con todo detalle."

- var intro = "Si queremos realizar una buena labor de marketing, no podemos precipitarnos a elaborar una estrategia de actuación directamente, a la vista de los objetivos y características de la página en cuestión o del servicio a prestar por el cliente, sin antes llevar a cabo una <strong>tarea minuciosa de investigación</strong> sobre lo que se está haciendo por parte de la que se revele como la <strong>competencia</strong> directa, que puede estar teniendo buenos resultados. Esto es lo que conocemos como <strong>Healthcare Benchmarking</strong>."
- var video = ""