- var active = {"category": "Marketing Médico", "service": "Reputación Online Médica"}
- var title = "Reputación Online Médica - Braun Marketing & Consulting"
- var description = "Si tienes reseñas negativas sobre ti en internet afectarán a nuevos pacientes. Nuestros servicios de reputación online médica harán que desaparezcan."

- var intro = "La <strong>reputación online médica</strong> tiene un aspecto que se puede considerar fuera de nuestro control, en cuanto a que depende, en cierta medida, de comentarios u opiniones de terceras personas ajenas a nuestra actividad. Pero en realidad, existen ciertas actuaciones que pueden ayudarnos a mantener una buena imagen, minimizando todos los factores que no dependan de nosotros."
- var video = ""