extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Qué es y cómo se mide la reputación online médica
	h3.title.is-3 ¿Qué es la reputación online médica?
	p La reputación online es la #[strong imagen] que tiene la empresa, institución o el profesional #[strong en internet]. Esta imagen digital no es sólo la percepción que se intenta transmitir sino que también está compuesta por opiniones, comentarios y noticias que se publican en redes sociales, foros o blogs y que no son de control propio.

	h3.title.is-3 ¿Por qué es importante la reputación online médica?
	p Tener una buena imagen puede ser fundamental en un sector como el #[strong sanitario], donde se ofrecen servicios relacionados con la #[strong salud]. No se trata de un bien con unas características técnicas predeterminadas que se puedan comparar, sino de bien intangible donde el factor más importante es la #[strong reputación del profesional] o la clínica para poder comparar a uno con otro.
	p Nuestra agencia se encarga no sólo de monitorizar su marca en Internet con los comentarios, opiniones y recomendaciones de los usuarios sino que buscamos aumentar su visibilidad y credibilidad para convertirle en una #[strong referente] dentro de su sector.

	h3.title.is-3 ¿Cómo se mide la reputación?
	p Para medir la #[strong reputación online médica] es necesario seguir varios #[strong pasos] metodológicos:
	ul
		li: p #[strong Monitorización] de lo que se desea estudiar (marca, persona, tema,...).Con el uso de varias herramientas podemos saber en cada momento qué se dice y qué se escribe sobre lo que estemos estudiando.
		li: p El segundo paso es la #[strong investigación] propiamente dicha. Para ello hace falta que el estudio tenga una parte cuantitativa así como otra parte cualitativa de la imagen que tienen los usuarios de nosotros.
		li: p Finalmente, se hará un #[strong análisis] de los datos obtenidos para extraer una conclusión sobre la reputación que tenemos. A partir de aquí, tendremos que ver si se corresponde con lo que nosotros deseamos o hay que aplicar correcciones para cambiarla.

	hr

	h2.title.is-2 2. Nuestros servicios sobre reputación online médica
	h3.title.is-3 ¿Qué actividades incluyen nuestros servicios?
	p Podemos citar las siguientes:
	ul
		li: p #[strong Escucha activa tanto redes como de blogs]: Haremos una monitorizarión exhaustiva de todo lo que se diga sobre la marca que estamos analizando. Para ello, será necesario el uso de varias herramientas y un sistema de alertas para saber en todo momento qué pasa en Internet en torno a la marca. Tener un buen análisis previo es fundamental para saber cuál es el punto de partida de la marca.
		li: p #[strong Eliminación de críticas negativas en Google]: Detectamos todas las críticas que se hagan a la marca y hacemos que pierdan relevancia dentro del buscador. Para ello, es necesario tener un buen sistema de escucha que nos permita estar al tanto de todo lo que se dice. A continuación, debemos tener un buen ecosistema propio bien posicionado para que las posibles críticas se pierdan fuera de la primera página de Google.
		li: p #[strong Mejora en las entradas de Google]: Haremos que nuestro contenido propio y aquél que controlamos, sea el primero en aparecer en el buscador, de manera que sabremos qué ven los usuarios sobre nosotros.
		li: p #[strong Interacciones en las redes sociales]: Ayudamos a crear corrientes favorables en el entorno de las redes sociales. Tener buenos comentarios en las redes sociales nos puede ayudar a tener una imagen favorable.
		li: p #[strong Gestión de crisis reputacionales]: En caso de sufrir un ataque a la reputación online, gestionamos la situación minimizando los daños. Las crisis reputacionales se pueden generar por un error propio o por un ataque interesado de algún competidor o persona malintencionada.
