- var active = {"category": "Médicos", "service": "Posicionamiento Natural"}
- var title = "Posicionamiento Natural para Médicos - Braun Marketing & Consulting"
- var description = "¿Te gustaría salir en los primeros puestos de Google cuando alguien busque tu especialidad en Internet? Entonces contacta con nosotros."

- var intro = "El servicio que ofrecemos dentro de lo que denominamos <strong>posicionamiento natural</strong>, abarca toda una gama de actividades para cuyo mejor entendimiento vamos a desgranar, aun brevemente, a continuación."
- var video = ""