footer.footer.hero.is-danger.abs-container
	div.absolute-full
	.container
		.columns
			.column.is-3
				h3.subtitle Braun Marketing & Consulting
				each category, cat_name in menu.categories
					p
						a(href="/"+category.slug)= cat_name
			.column.is-3
					h3.subtitle Sobre nosotros
					p
						a Política de privacidad y cookies
			.column.is-4
					h3.subtitle Contacto
					p: a(href='mailto:contacto@braunmarketingandconsulting.es')
						span.icon
							i.fa.fa-envelope
						span contacto<wbr>@braunmarketingandconsulting.es
					p: a(href='tel:+34 999 88 87 77')
						span.icon
							i.fa.fa-phone
						span 000 111 222
					p
						span.icon
							i.fa.fa-building
						span Dirección
					h3.subtitle Redes sociales
					a(href='https://www.facebook.com/Braun-Marketing-Consulting-1461669590532398/')
						span.icon
							i.fa.fa-facebook
					a(href='https://twitter.com/BraunConsulting')
						span.icon
							i.fa.fa-twitter

			.column.is-2
					h3.subtitle Auditoría GRATIS
					p
						.field.toggle-on-form
							p.control
								a.button.is-success Pedir auditoría
