.modal#modal-form
	.modal-background.animated.fadeIn
	form.modal-card(action="/mail.php", method="post")
		header.modal-card-head
			p.modal-card-title Auditoría GRATIS
			button.delete.toggle-off-form(type="button")
		section.modal-card-body
			.field
				label.label URL
				p.control
					input.input.dest-url(type='text', name='url', placeholder='URL')
			.field
				label.label Nombre
				p.control
					input.input(type='text', name='nombre', placeholder='Nombre')
			.field
				label.label Empresa
				p.control
					input.input(type='text', name='empresa', placeholder='Empresa', value='')
			.field
				label.label Correo Electrónico
				p.control.has-icon.has-icon-right
					input.input(type='email', name='email', placeholder='Correo Electrónico', value='')
					span.icon.is-small
						i.fa.fa-envelope
			.field
				label.label Teléfono
				p.control.has-icon.has-icon-right
					input.input(type='phone', name='telefono', placeholder='Teléfono', value='')
					span.icon.is-small
						i.fa.fa-phone
			.field
				label.label Sugerencias (opcional)
				p.control
					textarea.textarea(name='sugerencia', placeholder='Escribe una sugerencia...')
		footer.modal-card-foot
			button.button.is-success Enviar
			button.button.toggle-off-form(type="button") Cancelar