html(lang='es')
  block variables
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= title
    meta(name='description', content=description)
    meta(name='HandheldFriendly', content='true')
    meta(name='MobileOptimized', content='320')
    meta(name='application-name', content='Braun Marketing and Consulting')
    meta(name='theme-color', content='#294F6C')
    meta(name='msapplication-TileColor', content='#294F6C')
    meta(name='msapplication-TileImage', content='/img/logo.svg')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='default')
    link(rel='apple-touch-startup-image', href='/img/logo.svg')
    link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='icon', type='image/png', href='/img/logo.png')
    link(rel='apple-touch-icon', href='/img/logo.svg')
    link(rel='author', type='text/plain', href='/humans.txt')
    link(rel='sitemap', type='application/xml', title='Sitemap', href='/sitemap.xml')
    link(rel='stylesheet', href='/css/styles.css')
  body(cz-shortcut-listen='true')
    block body
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '', 'auto');
      ga('send', 'pageview');
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAtxc2up_ZAi8C95WWzzc8RE72wB5tnF9w', async, defer)
    // build:js /js/script.js 
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.js')

    script(src='/js/forms.js')
    script(src='/js/map.js')
    script(src='/js/mobile-menu.js')
    script(src='/js/sticky.js')
    // endbuild 