extends /partials/html-layout
include /mixins/header
include /mixins/url

block variables

block body
	include /partials/components/mobile-menu
	+header(intro, 'header-'+active.category.replace(/\s+/g, '-').toLowerCase()+'-'+active.service.replace(/\s+/g, '-').toLowerCase())
	#content-wrapper
		include /partials/components/breadcrumbs
		include /partials/components/servicios

		include /partials/components/sidebar

		include /partials/components/auditoria
		include /partials/components/prensa
		include /partials/components/testimonios

		include /partials/components/nosotros
		include /partials/components/footer

	include /partials/components/form
	include /partials/components/jobform