- var active = {"category": "Fisioterapeutas", "service": "Desarrollo Web"}
- var title = "Desarrollo Web para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Nuestro desarrollo web emplea la última tecnología para que tu página esté a la última y atraiga pacientes."

- var intro = "Sin perjuicio de otros aspectos del marketing, más relacionados con el contenido y otro tipo de estrategias, debemos tener muy en cuenta también el ámbito de la imagen y la apariencia externa en relación con el <strong>Desarrollo web</strong> que, no solamente no es un asunto que tenga poca importancia, sino que, muy al contrario, contribuye de manera decisiva a la conformación del carácter de nuestra empresa tal y como va a ser percibido por el público."
- var video = ""