- var active = {"category": "Fisioterapeutas", "service": "Consultoría Estratégica"}
- var title = "Consultoría Estratégica para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Con nuestra consultoría estratégica descuartizamos su negocio, veremos donde flaquea y se lo mejoramos."

- var intro = ""
- var video = ""