- var active = {"category": "Fisioterapeutas", "service": "Consultoría Estratégica"}
- var title = "Consultoría Estratégica para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Con nuestra consultoría estratégica descuartizamos su negocio, veremos donde flaquea y se lo mejoramos."

- var intro = "Si quieres saber el modo de crecer en cada período, mejorar la rentabilidad de tu negocio o articular tu empresa desde cero, nuestra <strong>consultoría estratégica</strong> puede serte de mucha ayuda. Hay dos requisitos para maximizar las posibilidades de un negocio: aumentar su rendimiento y sustentar dicho aumento en el futuro. Con Braun Marketing & Consulting podrás cumplir con ambas exigencias y, a continuación, te explicamos cómo."
- var video = ""