extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Qué es el Desarrollo web y por qué es tan importante
	h3.title.is-3 ¿Cómo podemos definir el desarrollo web?
	p Como decíamos anteriormente, es indispensable ocuparnos de dotar a nuestra empresa del #[strong sello distintivo] que la identifique ante los usuarios frente a otros competidores. Todas las acciones encaminadas a configurar el #[strong aspecto gráfico] de nuestra página para lograr esa finalidad, subrayando aquellas secciones que nos interesen de cara también a que el cliente reciba los datos que busca y que nos interesa que tenga, es lo que llamamos #[strong Desarrollo web].

	h3.title.is-3 ¿Cuál es la relevancia del Desarrollo web?
	p Cuando hablamos de este apartado del marketing, nos referimos al #[strong aspecto externo] de la web y, a este respecto, no podemos olvidar que éste provoca la primera impresión que un usuario tiene sobre nuestra página y que puede influir en el <a href="#[+nextServiceURL()]">Análisis Web</a>.
	p No es necesario explicar la importancia que tiene una primera impresión, aunque sea basada, en un principio, únicamente en la estética, para transmitir una #[strong buena imagen]. Lo cierto es que un diseño apropiado facilitará que el visitante de la página se encuentre cómodo en ella y aumente su #[strong confianza] en nuestro servicio, no sólo brindándole una imagen seductora, sino también integrando de manera precisa los requisitos de navegación que logre hacer la web más #[strong intuitiva]. 
	p Pero no termina aquí el listado de las ventajas que se derivan de la realización de un #[strong Desarrollo web] de calidad. La mayor satisfacción de los visitantes de la página repercutirá en un #[strong aumento de las visitas] lo cual, a su vez beneficiará el #[strong posicionamiento] de la web en las búsquedas en Internet. 


	h3.title.is-3 ¿Qué es la UX?
	p Este término es el que empleamos para referirnos a la #[strong experiencia del usuario] en el uso de nuestra web.
	p A su vez, esta experiencia se puede definir como todas las circunstancias que afectan y condicionan la visita del usuario a la página y el uso de la misma por su parte, dando lugar a una sensación satisfactoria para él, o no.
	p Estos condicionantes a que nos referíamos vienen dado por el #[strong Desarrollo web] y van referidos a cuestiones tales como, entre otras:
	ul
		li Accesibilidad.
		li Software.
		li Usabilidad.
		li Utilidad.
		li Calidad de contenidos.
		li Emociones que transmita al usuario.
		li Elaboración y transmisión de marca.

	hr

	h2.title.is-2 2. Metodología

	h3.title.is-3 ¿En qué consisten los métodos de trabajo que desarrollamos en este ámbito?

	p Podemos enumerar las siguientes #[strong etapas] en nuestra estrategia de #[strong Desarrollo web]:
	ol
		li: p #[strong Análisis de las webs que existen] en el ámbito que interese a nuestro cliente y estudio del perfil de usuario al que nos dirigiremos, todo ello con el fin de configurar nuestra página adecuadamente.
		li: p #[strong Selección de las palabras clave] que introduciremos en el diseño, en congruencia con las que sean más utilizadas por los interesados en servicios como los que ofrece el cliente.
		li: p #[strong Elaboración de un boceto], o mock up, de la página tal y como se lanzará una vez aprobada por el cliente. 
		li: p #[strong Realización de la web] por los diseñadores y programadores.
		li: p #[strong Examen del funcionamiento] adecuado de la página y del ajuste de su funcionamiento a las finalidades que teníamos previstas. 
