- var active = {"category": "Farmacéuticos", "service": "Reputación Online"}
- var title = "Reputación Online - Braun Marketing & Consulting"
- var description = "¿Quieres saber que se dice de ti por internet? Te ayudamos a gestionar tu Reputación Online."

- var intro = ""
- var video = ""