- var active = {"category": "Marketing para Fisioterapeutas", "service": null}
- var title = "Marketing para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "¿Eres Fisioterapeuta? ¿Te gustaría dar un empujón fuerte a tu Marketing y atraer nuevos pacientes? Nosotros sabemos hacerlo."
- var intro = "Si la fisioterapia es la ciencia que da vida a los años, nuestro Marketing para Fisioterapeutas es lo que le dará años a tu clínica"

-
    var faq = [
        {
            pregunta: "¿Me conviene invertir en una Agencia especializada en Marketing para fisioterapeutas?",
            respuesta: `<p>Internet hoy en día evoluciona muy rápido, si no estás al día puedes perder importancia y tu competencia se posicionará mejor y conseguirá clientes que tú nunca podrás conseguir. Si la competencia en el mundo offline es muy agresiva en el mundo online se multiplica, ya que estas compitiendo a nivel global y el número de empresas es mucho mayor.</p>
            <p>Las <strong>técnicas de ventas tradicionales en internet no funcionan</strong>, por ello es muy importante dejar tu negocio en manos de una agencia de marketing para fisioterapeutas, donde trabajan profesionales muy cualificados en este canal.</p>
            <p><strong>Las agencias de marketing online estamos actualizadas y conocemos lo que pasa en tu sector día a día</strong> , esto es una ventaja para tu empresa porque cuando ocurra algún <strong>cambio de algoritmo en los principales buscadores (Google, Yahoo y Bing)</strong> o incluso en el comportamiento de los usuarios de tu sector serás el primero en adaptarte y con ello posicionarte por encima de tus competidores. Podrás crecer más rápido en el mundo online y así conseguir mayores beneficios y nuevos clientes.</p>
            <p>También contamos con <strong>un equipo informático muy potente y herramientas específicas de pago para cada acción de marketing online</strong> , los resultados de estas herramientas son mucho más fiables que las gratuitas que son las que suelen utilizar las empresas, ya que el coste de estas herramientas no compensas si se utilizan para un solo proyecto.</p>
            <p>Internet es un mundo donde una empresa pequeña con una buena estructura de marketing online puede competir al mismo nivel con una multinacional, ya que ambas empresas utilizan las mismas herramientas. Incluso puedes posicionarte por encima de ellas y arrebatarle clientes.</p>
            <p>Si contratas una agencia especializada para fisioterapeutas podrás dejar en buenas manos tu empresa en internet y dedicarte a lo que de verdad eres bueno, no tendrás que estar al tanto de las actualizaciones y novedades de internet, sino sólo de dar un buen servicio a los clientes que llegan a tu clínica.</p>
            <p>Hoy en día <strong>si tu empresa no está en internet no existes</strong>, los usuarios cada vez más antes de consumir un servicio lo primero que hacen es buscarlo en internet y si tu empresa no aparece en la primera página del buscador tienes un problema porque estas perdiendo clientes. <strong>Si quieres aparecer en esos resultados tendrás que invertir en marketing online</strong>, sino ese usuario será cliente de otra clínica de fisioterapia.</p>`
        },
        {
            pregunta: "¿Qué ventajas tiene el marketing online para tu empresa?",
            respuesta: `<p>Habrás escuchado mucho que debes de hacer marketing online para tu empresa, y mucha gente lo hace sin saber en realidad que beneficios le reportará a su empresa.</p>
            <p>Hoy día debes de realizar acciones de marketing online, ya que la competencia que existe es bestial y si no realizas estas acciones tu empresa no existirá en internet. Muchas empresas se creen que por tener una página web o redes sociales ya es suficiente para conseguir clientes en este medio, pero no es así, si no apoyas estas plataformas con estrategias de marketing online nadie las conocerá.</p>
            <p><strong>Internet es una oportunidad, ya que con menor coste</strong> que en el mundo offline tu empresa <strong>puede crecer y posicionarse por encima de tu competencia</strong> y con esto conseguir un mayor número de clientes y beneficios.</p>
            <p>Las principales ventajas que tiene el marketing online para tu empresa son:</p>
            <ul>
                <li><strong>Bajo coste</strong>: si lo comparamos con el marketing tradicional, el marketing online es mucho más económico y efectivo, ya que podemos llegar con un alto nivel de segmentación a nuestro público objetivo.</li>
                <li><strong>Nuestros clientes y clientes potenciales pasan su día a día en internet</strong>: Es un medio fantástico para poder interactuar de manera bidireccional con estos usuarios, podemos conocer cuáles son su necesidades e inquietudes y con nuestros servicios subsanarlas.</li>
                <li>El marketing online <strong>no sólo nos ayuda a conseguir nuevos clientes, sino que también nos ayuda a fidelizar a los que ya tenemos</strong>.</li>
                <li>El marketing online <strong>lo puede realizar cualquier empresa y pueden competir de tú a tú con cualquier multinacional</strong>. Es una gran oportunidad para que pequeñas y medianas empresas puedan arrebatarle cuota de mercado a las multinacionales.</li>
            </ul>
            `
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing para fisioterapeutas?",
            respuesta: `
                <p>Es más eficaz delegar estas acciones a una agencia de <em>marketing para fisioterapeutas</em> que contratar a una o varias personas en plantilla para que realicen labores de marketing online, por varias razones:</p>
                <ul>
                    <li><strong>Es más económico</strong>, una agencia de marketing online está compuesta por un grupo muy diverso de profesionales de este sector. <strong>La agencia podrá realizar más acciones de marketing de manera conjunta, es decir una estrategia 360º</strong>. Algunas de las especialidades que componen el marketing online son: Estrategia online, publicidad online, redacción de contenidos, desarrollo web, redes sociales, diseño gráfico, comunicación corporativa etc. En una empresa el coste de contratar a un especialista por cada rama del marketing online tendría un coste mayor.</li>
                    <li><strong>Experiencia</strong>, en nuestra agencia especializada en marketing para fisioterapeutas los profesionales que la componemos somos especialistas en <strong>marketing online y en el sector de fisioterapeutas en internet.</strong> Todos los días movemos muchos proyectos de este sector y tenemos una gran experiencia para sacarle el mayor partido a tu empresa en internet.</li>
                    <li><strong>Facilidad para el cambio</strong>. Si no estás contento con los resultados o las estrategias que lleva a cabo una agencia, es tan fácil como prescindir el contrato. Cuando tienes un equipo de profesionales de marketing dentro de tu empresa ya es <strong>más complicado porque entran en juego despidos, indemnizaciones</strong>, etc.</li>
                </ul>`
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: `<p>Esta pregunta es muy frecuente que las empresas se lo pregunten, ya que no tienen claro cuál es el fin de las redes sociales, si aumentan las ventas, si es un canal más del marketing online, si sólo es para crear comunidad e interactuar con tus usuarios...</p>
            <p><strong>La respuesta es sí</strong>, pero cuidado no, es decir tengo redes sociales por tanto conseguiré un aumento de mis ventas. Esto es como todo en el mundo online, <strong>debe de ir acompañado de una estrategia de redes sociales y una optimización de otros componentes del medio online como por ejemplo tu sitio web</strong>.</p>

            <p>En nuestra agencia de marketing para fisioterapeutas tenemos comprobado que las redes sociales sirven para:</p>
            <ul>
                <li><strong>Atraer más tráfico a tu sitio web</strong>, en redes sociales es donde está tu masa social, la cual está interesada en tus servicios o productos. Son un canal idóneo para llevar a ese posible <strong>cliente a tu sitio web y en él convertirlo en una venta</strong>.</li>
                <li><strong>Vender</strong>, dependiendo de tu producto o servicio es posible vender directamente desde las redes sociales.</li>
                <li><strong>Promocionar tu negocio</strong>, es idóneo para dar a conocer tu negocio local o nacional ya sea de manera orgánica o de pago.</li>
                <li><strong>Construir imagen de marca</strong>, esto es esencial si quieres tener una buena imagen en internet. Las <strong>redes sociales pueden ayudarte a conectar con tu comunidad y construir una buena reputación</strong> en ellas. Los usuarios las utilizan para investigar que empresas ofrecen los servicios o productos que están buscando, por ello es clave tener una buena imagen de marca para que estos te conozcan y terminen obteniendo tu producto o servicio.</li>
            </ul>`
        }
    ]



