- var active = {"category": "Odont칩logos", "service": "Analytics Google"}
- var title = "Servicios de Analytics Google - Braun Marketing & Consulting"
- var description = "Con nuestros servicios de Analytics Google tendr치s conocimiento de todo lo que ocurre en tu web."

- var intro = "El mundo del Analytics Google va relacionado con todas aquellas exigencias de medici칩n de todo tipo de datos que arroja nuestra empresa y que deben manejarse de manera inteligente y minuciosa con el objeto de mejorar los procesos que, con dicha informaci칩n, se muestren ineficaces o defectuosos, e incidir en los aspectos que ofrezcan mejores resultados en nuestra estrategia de marketing y empresarial"
- var video = ""