- var active = {"category": null, "service": null}
- var title = "Agencia de Marketing Online en Granada | Braun Marketing"
- var description = "✅✅ Si buscas una agencia de marketing online en Granada profesional haz Clic aquí. Más de 100 palabras clave en el puesto nº1 nos avalan ✅✅"
- var intro = "Consultores de negocio y Agencia de Marketing online especializada en el Sector Sanitario"
- var home = true
