- var active = {"category": null, "service": null}
- var title = "Agencia de Marketing Online y Consultores - Braun Marketing & Consulting"
- var description = "Agencia de Marketing Online y Consultores especializada en el sector sanitario, hacemos que tu negocio tenga una buena presencia online. Te asesoramos gratis."
- var intro = "Consultores de negocio y Agencia de Marketing online especializada en el Sector Sanitario"