extends /partials/html-layout

include /mixins/categorias
include /mixins/header

block variables
	include _variables
block body
	include /partials/components/mobile-menu
	+header("Consultores de negocio y Agencia de Marketing online especializada en el Sector Sanitario", 'header-inicio')
	#content-wrapper
		section#home-hero.hero.is-light
			.hero-body
				.container
					h2.title ¿Por qué debo invertir en una consultora estratégica y agencia de marketing online especializada en el sector sanitario?
					.card-deck
							.card
								.card-content
									p.title.is-4 60% de los internautas realizan búsquedas Sanitarias
							.card
								.card-content
									p.title.is-4 1,2 millones de búsquedas mensuales relacionadas con salud
							.card
								.card-content
									p.title.is-4 90% busca su dolencia en internet
							.card
								.card-content
									p.title.is-4 ¿Sabes lo mejor de todo?
									p.title.is-4 El 75% no pasa de la primera página de Google

		+categorias(
			"Nuestras acciones de Marketing online y consultoría harán que tus clientes te encuentren entre los primeros resultados",
			"¿Crees que hoy en día con tus conocimientos y experiencia es suficiente?",
			"Dinos qué profesional eres y te diremos cómo ayudarte"
		)

		block content

		include /partials/components/auditoria
		include /partials/components/prensa
		section.hero#text-left-img-right.is-primary
			.hero-body
				.columns.is-gapless
					.column
						.container-left
							h2.title La transparencia y la consistencia constituyen dos valores que guiarán nuestros procesos de Consultoría y Marketing Online
					.column
						img(src="/img/transparencia.jpg")
		include /partials/components/testimonios

		include /partials/components/nosotros
		include /partials/components/footer

	include /partials/components/form
	include /partials/components/jobform
