extends /partials/html-layout
include /mixins/layout.pug

block body
	+layout(menu, {"category": "Médicos", "service": "Servicio Médico 1"}, "Servicio M 1")
	#content-wrapper


		include /partials/footer

	include /partials/form