extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Explicación y relevancia de las gestiones de la consultoría de negocio

	h3.title.is-3 ¿Por qué es conveniente contar con una consultoría de negocio?
	p Toda empresa o profesional tendrá como objetivo final obtener la #[strong rentabilidad] de su negocio que le permita hacerlo crecer. Para alcanzar esta meta, nosotros llevaremos a cabo importantes acciones basadas en el #[strong análisis de mercado], #[strong estudio del cliente] tipo de la empresa en relación con su servicio o producto, o la determinación clara de los #[strong objetivos] a medio y largo plazo.  
	p Toda esta actividad se dividirá en los sectores estratégicos de la empresa, relacionados con el ámbito operativo, de clientes y, especialmente, de finanzas.

	h3.title.is-3 ¿Qué implican estas prestaciones para quien las recibe?
	p Una de las principales necesidades de toda empresa que comienza su andadura o que aún no ha alcanzado su punto de equilibrio financiero, es obtener la #[strong financiación] suficiente para poder seguir operando y crecer hasta llegar a esa situación de autosuficiencia.
	p Para obtener los créditos o inversiones que la empresa requiere, es importante contar con un #[strong plan de negocio] que aporte confianza a la entidad que vaya a facilitar la financiación. Con la #[strong consultoría de negocio] se puede elaborar este plan de manera rigurosa, demostrando en él el conocimiento y control sobre todas las cifras y aspectos de la empresa. 
	hr

	h2.title.is-2 2. Acciones que realizamos

	h3.title.is-3 ¿Cuál es nuestra metodología de actuación?
	p Los #[strong pasos] indispensables para desarrollar una #[strong consultoría de negocio eficaz], son los siguientes: 
	ul
		li: p En primer lugar, la elaboración del ya comentado #[strong plan de negocio], que contenga todos los datos necesarios sobre el funcionamiento de la empresa, siempre que se puedan obtener de la misma. En caso contrario, habrá que desarrollar el plan mediante estimaciones basadas en la experiencia.
		li: p En segundo lugar, lograr la #[strong financiación] necesaria para poder actuar y alcanzar la autosuficiencia financiera.
		li: p El tercer punto va relacionado con la puesta a disposición del cliente de un servicio de #[strong asesoramiento] que se presta desde el momento del inicio de la andadura de la empresa o negocio y durante todos los pasos que vaya dando. 
		li: p Cuarto, tener en cuenta y controlados #[strong los datos que arroje el funcionamiento de la empresa], que nos permita tener continuamente un conocimiento preciso de su situación, especialmente en los relacionado con el flujo de caja, ingresos y gastos, captación de inversión, etc.
		li: p El quinto punto es el referido al #[strong cash flow de caja], o búsqueda del equilibrio entre las cantidades y momentos de cobro, y las de pagos a realizar.
		li: p Será fundamental el sexto paso, en el que nos marcamos como objetivo alcanzar la #[strong rentabilidad] que acredite la eficiencia en el funcionamiento de la empresa, más allá de lograr un margen de beneficios apropiado.
		li: p Por último, mantendremos un conocimiento e información sobre los datos relativos a las fluctuaciones del #[strong mercado] y de los #[strong precios] en el sector correspondiente, nivel de #[strong ingresos] de la empresa así como de los #[strong gastos], tanto directos como indirectos (transporte, comercialización, manera de prestar el servicio o entregar el producto, etc).
