- var active = {"category": "Médicos", "service": "SEM"}
- var title = "SEM para Médicos - Braun Marketing & Consulting"
- var description = "Si quieres aparecer entre los primeros puestos de google de manera inmediata, necesitas hacer SEM. Nosotros lo hacemos por ti."

- var intro = "Aunque, como veremos, el <strong>SEM</strong> tiene un componente de pago, también en este ámbito deberemos elaborar una estrategia para obtener los frutos perseguidos. Por ello, conviene dar unas breves <strong>nociones sobre el SEM</strong> y un repaso al respecto de los <strong>servicios</strong> que ofrecemos en relación al mismo."
- var video = ""