- var active = {"category": "Marketing Odontológico", "service": "Consultoría Empresarial"}
- var title = "Consultoría Empresarial - Braun Marketing & Consulting"
- var description = "Con nuestra Consultoría Empresarial le ayudaremos a que su negocio no tenga ningún punto débil."

- var intro = "Toda empresa que quiera lograr el máximo rendimiento a sus posibilidades deberá buscar aumentar su <strong>rentabilidad</strong> y mantener ese crecimiento estable. Braun Marketing & Consulting dispone de una <strong>consultoría empresarial</strong> que ofrece los servicios necesarios para alcanzar ese objetivo. Aquí exponemos lo que hacemos."
- var video = ""