extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Concepto de consultoría empresarial. Importancia para el negocio

	h3.title.is-3 ¿Qué significa disponer de consultoría empresarial?
	p La empresa que cuenta con los servicios de una #[strong consultoría empresarial], dispondrá de un conjunto de profesionales que analizarán el #[strong mercado] en el que la empresa se mueve, el perfil de su #[strong público] objetivo, concreción de las características de su #[strong servicio o producto], planificación de los #[strong objetivos] a alcanzar, etc.
	p Se trata de una labor completa que trata de lograr, como objetivo final, la #[strong mejora de la rentabilidad] del negocio y de la eficiencia en los ámbitos financiero, operativo y de clientes. 
	p De los tres ámbitos nombrados, probablemente el más importante sea el #[strong financiero], respecto del que se trabajará para mejorar las cifras económicas de la empresa.


	h3.title.is-3 ¿Es importante este servicio para el cliente?

	p Debemos responder, sin duda, afirmativamente. Ostentar un #[strong plan de negocio] adecuado proporcionado por el trabajo de #[strong consultoría empresarial] correcto significa, para la empresa del cliente, contar con su mejor aval para convencer a todo tipo de entidades, públicas o privadas, para #[strong conceder la financiación necesaria].
	p Asimismo, el conocimiento que los consultores llegan a tener sobre los números de la empresa, les sirven para aumentar considerablemente las posibilidades de un #[strong futuro próspero] para la misma.
	hr

	h2.title.is-2 2. Método de actuación

	h3.title.is-3 ¿Qué servicios componen nuestros servicios de consultoría empresarial?
	p Para no extendernos, enumeraremos los siguientes #[strong siete puntos] en que podemos dividir el trabajo que llevamos a cabo en este sector: 
	ol(type="a")
		li: p Como decíamos anteriormente, es fundamental para la empresa del cliente #[strong contar con un plan de negocio completo], en el que se recojan las cifras, directamente obtenidas del análisis de la empresa, o de una estimación que se realice, si en la misma no existe el modo de obtener esos datos. 
		li: p Actuaciones de #[strong localización de la mejor financiación] que se pueda lograr. 
		li: p Puesta a disposición del cliente de los mejores #[strong colaboradores posibles para obtener el asesoramiento] adecuado en el ámbito de que se trate durante toda la trayectoria de la empresa. 
		li: p #[strong Estudio permanente de las cifras] de la empresa, para impedir que su funcionamiento empeore y mantener controlados datos relativos a flujo de caja, cantidad de ingresos y costes, inversiones posibles, etc.
		li: p Búsqueda del #[strong equilibrio constante entre los cobros y los pagos] (cash flow de caja).
		li: p Se perseguirá lograr #[strong aumentar el margen de beneficio] (diferencia entre ingresos y gastos) y, sobre todo, la #[strong rentabilidad], que resulta más ilustrativa sobre la eficiencia de la empresa.
		li: p Redacción de informes sobre #[strong gastos directos de la empresa y gastos indirectos] (como los provenientes del transporte, comercialización, forma de prestación de los servicios o puesta a disposición de los productos, etc), así como del #[strong comportamiento del mercado] y de los #[strong precios] que presenta la competencia. Las conclusiones deberán contener nuestra previsión sobre la rentabilidad de la empresa del cliente.   
