- var active = {"category": "Marketing Odontológico", "service": "Benchmarking Odontológico"}
- var title = "Benchmarking para Odontólogos - Braun Marketing & Consulting"
- var description = "Si quieres estar al día tienes que saber lo que hacen los líderes. Con nuestros informes de Benchmarking Odontológico lo estarás."

- var intro = "Cuando hablamos de <strong>Benchmarking odontológico</strong> estamos haciendo referencia a una faceta fundamental en el contexto del marketing específico para dentistas, que tiene que ver con la labor de búsqueda de todas aquellas ventajas, virtudes, beneficios, tácticas, etc, que las entidades punteras en este sector del mercado desarrollan, antes de configurar la que será nuestra propia estrategia."
- var video = ""