extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Benchmarking odontológico: qué es y por qué es importante

	h3.title.is-3 ¿Cuál es el concepto de Benchmarking odontológico?
	p Tal y como adelantábamos en la introducción, el #[strong Benchmarking odontológico] es el conjunto de acciones dirigidas a recopilar cuantos elementos originadores del #[strong éxito de las empresas líderes] del mercado odontológico podamos encontrar, para tratar de aplicarlos a la nuestra en la medida de lo posible y siguiendo un criterio predefinido por el estudio y el análisis. 

	h3.title.is-3 ¿Para qué es importante el Benchmarking odontológico?
	p La razón principal de la importancia de esta actuación radica en la #[strong aplicabilidad] que los resultados del análisis de la actuación de las entidades líderes del mercado pueda tener en nuestra empresa, #[strong generando posibles mejoras] en diferentes aspectos y maximizando los recursos con los que contemos. También puede ser de gran ayuda a la hora del <a href="#[+nextServiceURL()]">diseño de la página web</a>. 
	p Cuanto mayor sea el éxito o liderazgo de la empresa analizada, más en cuenta habrá que tener sus estrategias de cara a nuestro propio funcionamiento. 

	h3.title.is-3 ¿Cuáles son esos beneficios que podemos obtener de esta práctica?
	p Las #[strong dos facetas] en las que vamos a poder identificar de manera más pronunciada las ventajas de esta acción, son: 
	ol(type="a")
		li: p #[strong Perfeccionamiento de nuestro servicio], contribuyendo a mejorar el grado de complacencia de los usuarios y, por tanto, del número de clientes.   
		li: p Al mismo tiempo, derivado del esfuerzo por conocer los mecanismos de las empresas que más triunfan, lograremos #[strong maximizar los recursos] de los que disponga nuestra empresa, produciendo más y obteniendo mayor beneficio, sin un aumento del gasto. 

	hr

	h2.title.is-2 2. Actuaciones a realizar respecto del Benchmarking odontológico

	h3.title.is-3 ¿Qué acciones llevamos a cabo?
	p Debemos diferenciar #[strong cuatro momentos] distintos en el desarrollo de las actuaciones que hemos descrito:
	ul
		li: p Obviamente debemos empezar #[strong localizando a las empresas] que, como hemos venido repitiendo, se han colocado en los puestos de #[strong liderazgo] en el ámbito odontológico, sin desviar nuestra atención simplemente hacia las entidades que se presenten como las más grandes, ya que nos interesan las entidades innovadoras y vanguardistas, y éstas no tienen por qué ser siempre las más grandes.
		li: p A continuación, llegará el momento de examinar con detenimiento las #[strong causas y motivos del éxito] de la empresa objeto de estudio.
		li: p En tercer lugar, haremos un análisis de las #[strong características específicas de la empresa] en cuestión y deduciremos las ventajas que obtendremos del #[strong Benchmarking odontológico].
		li: p Por último y, al fin, aislaremos los #[strong elementos de éxito que estimemos que son trasladables] a nuestra empresa para aumentar sus prestaciones.
