- var active = {"category": "Veterinarios", "service": "Analytics Web"}
- var title = "Analytics Web - Braun Marketing & Consulting"
- var description = "¿Quieres saber lo que hacen los usuarios en tu página web? Los informes de Analytics Web son lo buscas."

- var intro = "Antes de implementar cualquier tipo de estrategia de marketing para una página web, debemos hacer un trabajo previo de recopilación de datos que nos ayude a configurarla de la mejor manera. Y no sólo eso, sino que una vez creada, deberemos realizar un control de los números que obtengamos en cada apartado de la web, para introducir cuantas mejoras sirvan para aumentar dichas cifras ¿Cuáles son esos datos que debemos de tener en cuenta y a qué van referidos?"
- var video = ""