extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Definición y relevancia de Benchmarking

	h3.title.is-3 ¿Qué es el Benchmarking?
	p Se trata de un #[strong proceso sistemático y continuo de estudio] de los productos, servicios y procesos de las #[strong organizaciones reconocidas como las mejores o de referencia en el sector]. Una vez analizado lo que hacen, se tratará de incorporar a nuestra empresa todo aquello que sea posible y que contribuya a mejorar los resultados de la misma. Por ejemplo, esta técnica es muy útil para nuestro <a href="../desarrollo-web">Desarrollo Web</a>.

	h3.title.is-3 ¿Por qué es importante el Benchmarking?
	p Desde un punto estratégico de la empresa, es fundamental saber qué está pasando en el mercado y #[strong qué ofrecen nuestros competidores], en especial los #[strong líderes] del sector. La finalidad de esta técnica no es sólo saber qué se está haciendo, sino ser capaz de detectar qué podemos incorporar a nuestra empresa para mejorar el servicio a nuestros clientes. El #[strong Benchmarking] ofrece una gran ventaja en dos áreas fundamentales:
	ul
		li: p #[strong Nivel de calidad]: Ser capaz de aumentar el valor del producto, no sólo desde el punto de vista monetario sino también a nivel de percepción del usuario.
		li: p #[strong Productividad]: Se trata de aumentar la eficiencia en los procesos de la empresa para ser capaz de producir más con los mismos recursos.

	hr
	h2.title.is-2 2. Nuestro método
	h3.title.is-3 ¿Cuál es nuestro proceso de Benchmarking?
	p Como hemos dicho se trata de un #[strong proceso sistemático]:
	ul
		li: p #[strong Detectar quiénes son las empresas líderes en sector]. Muchas veces las más grandes no son los líderes o las que están a la vanguardia.
		li: p Hacer un #[strong estudio profundo de cuáles son sus fortalezas] y qué les hace destacar por encima del resto.
		li: p #[strong Analizar la propia empresa] para ver en qué situación se encuentra dentro del mercado y cuáles pueden ser las oportunidades que nos ofrece el #[strong Benchmarking].
		li: p #[strong Proponer], a la vista de las técnicas y ventajas competitivas de las entidades líderes, #[strong qué es factible incorporar a nuestra empresa] para poder mejorar nuestra posición en el mercado.
