- var active = {"category": "Fisioterapeutas", "service": null}
- var title = "Marketing para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "¿Eres Fisioterapeuta? ¿Te gustaría dar un empujón fuerte a tu Marketing y atraer nuevos pacientes? Nosotros sabemos hacerlo."
- var fraseHeader = "Si la fisioterapia es la ciencia que da vida a los años, nuestro Marketing para Fisioterapeutas es lo que le dará años a tu clínica"

-
    var faq = [
        {
            pregunta: "¿Me conviene invertir en una Agencia especializada en Marketing para fisioterapeutas?",
            respuesta: "Sí, se aconseja siempre dejar tú empresa en manos de profesionales de marketing para fisioterapeutas por varias razones:<ul><li>Menor gasto para la empresa contratar una agencia especializada que tener una persona en plantilla para las acciones de marketing online.</li><li>La experiencia que tiene la agencia de marketing especializada en un sector y en el canal de internet no la tiene una persona de marketing online en plantilla.</li><li>Una agencia de marketing al tener un grupo de profesionales puede realizar diferentes acciones para tu empresa de manera simultánea.</li></ul>"
        },
        {
            pregunta: "¿Qué ventajas tiene el marketing online para tu empresa?",
            respuesta: "Si quieres atraer más clientes a tu empresa y con ello más ventas debe de emplear acciones de marketing en tu empresa. Con estas acciones sabrás que necesidades tiene tu público objetivo y cómo satisfacerlas con tus productos o servicios."
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing para fisioterapeutas?",
            respuesta: "Es más económico delegar estas acciones a una agencia de marketing especializada por varias razones, la más significativa es que son especialistas en este sector y conocen las necesidades y donde se encuentra tu público objetivo, si tienes una persona de marketing online en plantilla primero debe analizar el sector y luego crear las acciones de marketing online, llevaría más tiempo. También una agencia de marketing está compuesta por un grupo de personas especializadas y que pueden ejecutar más tipos de acciones como, SEO, SEM, social media, diseño gráfico etc., y con más inmediatez."
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: "No, las redes sociales tienen otros objetivos como por ejemplo crear relaciones duraderas con tus clientes, mejorar la difusión de tu página web o incluso es un canal idóneo para la atención al cliente. Es el canal que le da voz a tu empresa, por tanto, debes de cuidar el tono y la respuesta hacia tus usuarios."
        }
    ]
