- var active = {"category": "Fisioterapeutas", "service": null}
- var title = "Marketing para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "¿Eres Fisioterapeuta? ¿Te gustaría dar un empujón fuerte a tu Marketing y atraer nuevos pacientes? Nosotros sabemos hacerlo."
- var fraseHeader = "Si la fisioterapia es la ciencia que da vida a los años, nuestro Marketing para Fisioterapeutas es lo que le dará años a tu clínica"