- var active = {"category": "Marketing Veterinario", "service": "Benchmarking Veterinario"}
- var title = "Benchmarking Veterinario - Braun Marketing & Consulting"
- var description = "Encárganos un informe de Benchmarking Veterinario para conocer lo que hace la competencia."

- var intro = "En este apartado vamos a tratar todas las actuaciones encaminadas a conocer de manera precisa las características en diversos ámbitos con las que vienen dotadas las empresas que lideran el sector veterinario, para tratar de contribuir con ello a la mejora de la nuestra, conjunto de acciones que denominamos <strong>Benchmarking veterinario</strong>."
- var video = ""