extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Por qué llevar a cabo actuaciones de Benchmarking veterinario

	h3.title.is-3 ¿Cuál es el concepto de Benchmarking veterinario?
	p.
		Podemos conceptuar el <strong>Benchmarking veterinario</strong> como la realización de todos aquellos actos de investigación de las principales particularidades que se dan en las entidades que lideran el mercado en el ámbito veterinario, con el objeto de intentar aplicar los mismos criterios en el desarrollo de nuestra empresa para mejorar sus números en todos los aspectos.

	h3.title.is-3 ¿Es realmente importante para nuestra empresa esta labor? 
	p.
		Si queremos desarrollar de manera seria la mejor estrategia de marketing o de cualquier otro aspecto de la empresa, sería una <strong>temeridad ignorar</strong> todas aquellas acciones que otras entidades de triunfan en la esfera veterinaria están realizando y que están contribuyendo a ese éxito.
	p.
		La verdadera importancia, pues, de este trabajo, radica en <strong>resultado positivo que sobre la situación de nuestra empresa</strong> puede producirse como consecuencia de la traslación de tales extremos, y que nos ahorrará, además, muchas pruebas y equivocaciones antes de acertar con todos los aspectos de nuestra estrategia empresarial, tomando como referencia principal a las empresas más vanguardistas del mercado.

	h3.title.is-3 ¿Cuáles son los principales aspectos positivos en los que puede repercutir el Benchmarking veterinario para nuestra empresa? 
	p.
		Dos son los resultados positivos que buscaremos esencialmente con nuestro trabajo en este ámbito:
	ul
		li <strong>Mejorar los números de la empresa</strong> (usuarios, clientes, ventas, etc), mediante la disposición de mejores servicios o más adecuados para el perfil de cliente que nos interese.
		li <strong>Mejorar la relación inversión-resultado</strong>. Se trata de lograr resultados más beneficiosos con el mismo nivel de gasto, mediante el correcto progreso de los procesos. 

	hr
	h2.title.is-2 2. Lo que nosotros hacemos, respecto del Benchmarking veterinario

	h3.title.is-3 ¿Cómo se traduce el Benchmarking veterinario en la práctica?
	p.
		A la vista de todo lo expuesto, podemos distinguir <strong>cuatro etapas</strong> concretas:
	ul
		li El primer paso es <strong>localizar a las empresas que queremos tomar como referentes por su liderazgo</strong>. Lo que no debemos olvidar es que la empresa elegida deberá ser la mejor y más vanguardista, que no obligatoriamente tiene que ser la más grande. 
		li En segundo lugar intentaremos conocer <strong>qué circunstancias han dado lugar a que la empresa seleccionada haya alcanzado las cotas de éxito</strong> que ostente.  
		li Tercero, <strong>analizaremos la empresa en el marco de su ámbito de actuación</strong> concreto, identificando qué ventajas podremos obtener del estudio que estamos realizando.
		li Por último, concretaremos las <strong>intervenciones a realizar sobre nuestra empresa</strong> para adaptarla a las características tomadas de la entidad de referencia. 

