- var active = {"category": "Marketing Veterinario", "service": "ASO"}
- var title = "ASO, cómo optimizar tu aplicación - Braun Marketing & Consulting"
- var description = "Optimizamos la ficha de tu App para que sea visible y esté en las primeras posiciones de App Store y Google Play."

- var intro = "Cada día se suben miles de <strong>aplicaciones móviles a las App Stores</strong>, por lo tanto debes conseguir diferenciarte del resto de aplicaciones con el objetivo de que los usuarios se descarguen tu Apps. ¿Quieres diferenciar tu aplicación móvil de la competencia?"
- var video = ""
