- var active= {"category": "Marketing Veterinario", "service": null}
- var title = "Marketing Veterinario - Braun Marketing & Consulting"
- var description = "¿Eres Veterinario? ¿Querrías hacer crecer tu negocio usando herramientas de marketing? Te decimos cómo hacerlo."
- var intro= "Si te extrañas cuando tus clientes te preguntan ¿para qué le pongo la vacuna si está sano?, ¿te extrañas de que tu clínica necesite Marketing Veterinario?"

-
    var faq = [
        {
            pregunta: "¿Es necesario invertir en una Agencia especializada en Marketing veterinario?",
            respuesta: `<p>La respuesta es sí, nadie mejor que una agencia especializada en marketing veterinario podrá llevar la gestión, mantenimiento y monitorización de las acciones de marketing online de una clínica veterinaria.</p>
            <p>El marketing en internet es completamente diferente al marketing tradicional, debido a que <strong>internet es un medio muy cambiante y en constante transformación</strong>, por lo tanto, no se deben de copiar las acciones de marketing tradicional y utilizarlas en este medio digital. Este es un error muy común que hacen las empresas que no tienen una gestión de sus estrategias online por una agencia.</p>
            <p><strong>La competencia en este medio se multiplica</strong> porque entras a competir a un medio global, es decir ya no sólo vendes en la zona donde tienes tu tienda física, sino que <strong>vendes a todo el mundo</strong> que necesite tus productos o servicios.</p>
            <p><strong>Las agencias especializadas en marketing veterinario estamos en constante aprendizaje</strong>, esto es debido a que continuamente internet cambia y las estrategias que estabas implementando ayer, hoy no son efectivas. Por ejemplo, los buscadores (Google, Yahoo, Bing) cambian su algoritmo constantemente, <strong>si no estás alerta y hay algún cambio puedes perder posiciones y tu competencia arrebatarte clientes</strong>. Si contratas una agencia de marketing online no tendrás que preocuparte de los cambios que haya en internet y si alguno de ellos penaliza a tu empresa, la agencia se encarga de todo e implementará las acciones adecuadas en el momento adecuado.</p>
            <p>También disponemos de <strong>un equipo informático y unas herramientas de pago muy potentes para que tus campañas de marketing online sean óptimas</strong>, si una clínica veterinaria tuviera este equipo y herramientas le supondría un coste muy elevado.</p>
            <p>Los consumidores en internet son completamente diferentes que los consumidores que entran a tu clínica veterinaria, <strong>nosotros al ser especialista en tu sector en internet conocemos muy bien las necesidades e inquietudes de los consumidores, y qué acciones de marketing online implementar</strong> para convertir esos consumidores en clientes de tu clínica.</p>
            <p>En internet todas las empresas juegan con las mismas cartas, es decir una empresa pequeña o mediana puede competir con una multinacional de su sector, incluso apoderarse de algunos de sus clientes. Esto conlleva mucho esfuerzo y dedicación, por tanto, es aconsejable contratar una agencia de marketing veterinario.</p>`
        },
        {
            pregunta: "¿Por qué invertir en marketing online?",
            respuesta: `<p>Existen multitud de razones de porque tu empresa debe de invertir en marketing veterinario para su clínica. Partiendo de que hoy en día <strong>si no estás en internet no existes para los consumidores</strong>, es muy importante implementar unas buenas estrategias de marketing online para conseguir beneficios en internet.</p>
            <p>Vamos a analizar las cuatro principales ventajas para invertir en internet:</p>
            <ul>
                <li><strong>Alcance</strong>, internet es un medio que no para de crecer año tras año. <strong>Cada vez son más los usuarios</strong> que consumen este medio, pero el dato más importante es que estos usuarios <strong>están cada vez más tiempo</strong> en internet. Llegamos a un público más amplio que en el medio offline. Por tanto, si cada vez son más los usuarios y su duración en este medio, porque tu empresa no debe de estar en él.</li>
                <li><strong>Segmentación</strong>, con el marketing online las acciones que realizamos sabemos qué tipo de público las visualizará, esto es una gran ventaja ya que <strong>el público que ve nuestros anuncios sabemos que está interesado en nuestros productos o servicios y la probabilidad de que los adquiera es mayor</strong>. Sin embargo, la publicidad tradicional está dirigida al público en general.</li>
                <li><strong>Análisis</strong>, con las herramientas que contamos en el marketing online para el análisis de una campaña <strong>podemos saber al milímetro si una campaña funciona o no y en tiempo real</strong>, podemos personalizar las métricas que queremos medir y con esto saber si la campaña es rentable o no. Eliminamos la incertidumbre que existen en otros medios con las mediciones de las campañas de marketing.</li>
                <li><strong>Coste</strong>, es mucho <strong>menor que en cualquier otro medio</strong>. Sabemos dónde está nuestro público objetivo y con la segmentación el gasto es mucho menor que en marketing tradicional que nos dirigimos al público en general.</li>
            </ul>`
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing veterinario?",
            respuesta: `<p>Sí, es mejor dejarle tus estrategias de marketing online a una agencia especializada en <em>marketing veterinario</em> que tener que contratar a varias personas y mantenerlas en plantilla en tu empresa.</p>
            <p>Algunas de las razones por la que debes contratar a una agencia de marketing online son:</p>
            <ul>
                <li>Es más económico, <strong>el coste es menor cuando contratas una agencia de marketing online que tener en plantilla a un equipo de profesionales del marketing</strong>. En una agencia hay diferentes perfiles del marketing online que se integran para realizar una buena estrategia de marketing online, tener estos perfiles en tu empresa sería muy costoso.</li>
                <li><strong>Experiencia</strong>, una agencia de marketing veterinario tiene una gran experiencia en el sector. Continuamente están trabajando con proyectos de este sector y <strong>conocen a los consumidores perfectamente</strong>. Cuando contratas personas que trabajen en plantilla primero deben estar un tiempo conociendo y analizando el sector veterinario en internet y después realizar acciones de marketing online, con esto perderás un tiempo que tus competidores aprovecharán para captar clientes en internet.</li>
                <li><strong>Facilidad de cambio</strong>, si no estás contento con tus estrategias de marketing en el medio online puedes prescindir el contrato con la agencia y buscar a otra. Cuando quieres <strong>prescindir de un trabajador propio</strong> de la empresa es más complicado porque <strong>entran en juego despidos, indemnizaciones, etc</strong>.</li>
            </ul>`
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: `<p><strong>Sí, sirven para aumentar las ventas</strong>. Las redes sociales tienen multitud de funciones dentro de la estrategia de marketing online, pero para que de verdad sean efectivas <strong>debes dejarlas en manos de profesionales</strong>. Las empresas que gestionan sus redes sociales no obtienen buenos resultados, y al tiempo las terminan abandonando. </p>
            <p>Si realizamos una buena gestión de las redes sociales podemos conseguir:</p>
            <ul>
                <li><strong>Aumentar el tráfico</strong>, es muy importante tener tráfico de usuarios en nuestro sitio web, porque si no lo tenemos no podremos vender, ya que nadie nos conocerá ni verá nuestros producto o servicios. Con las redes sociales podemos <strong>llevar un tráfico muy cualificado a nuestro sitio web</strong>, ya que tenemos en ellas una comunidad muy segmentada.</li>
                <li><strong>Vender</strong>, desde las redes sociales se puede vender, pero esto depende del producto o servicio.</li>
                <li><strong>Promoción</strong>, es un canal idóneo para promocionar nuestra marca, productos o servicios ya sea de forma orgánica o de pago. En las redes sociales <strong>hay una gran masa de consumidores interesados en nuestro producto</strong> y que mejor canal que este para darnos a conocer.</li>
                <li><strong>Imagen de marca</strong>, este factor es muy importante para una empresa, porque no solo vale estar presente, sino que los consumidores tengan una buena imagen de nuestra marca, de lo contrario no obtendrán nuestros productos o servicios. En las redes sociales los usuarios suelen buscar y comparar productos o servicios, <strong>si no tenemos una buena imagen de marca los usuarios no compraran lo que ofrecemos al mercado</strong>.</li>
            </ul>`
        }
    ]
