- var active = {"category": "Odontólogos", "service": "Posicionamiento Web"}
- var title = "Posicionamiento Web para Odontólogos - Braun Marketing & Consulting"
- var description = "El servicio de Posicionamiento Web hará que salgas entre los primeros resultados de búsqueda de Internet."

- var intro = "La expresión <strong>posicionamiento web</strong> abarca toda una variedad de prestaciones que ofrecemos a nuestros clientes. Podemos explicar brevemente nuestros servicios de la siguiente manera:"
- var video = ""