- var active = {"category": "Odontólogos", "service": "Community Manager"}
- var title = "¿Necesitas un community manager? - Braun Marketing & Consulting"
- var description = "Con nuestros servicios de Community Manager podrás estar tranquilo y con la confianza de que tus RRSS están en buenas manos."

- var intro = ""
- var video = ""