- var active = {"category": "Odontólogos", "service": "Community Manager"}
- var title = "¿Necesitas un community manager? - Braun Marketing & Consulting"
- var description = "Con nuestros servicios de Community Manager podrás estar tranquilo y con la confianza de que tus RRSS están en buenas manos."

- var intro = "La figura que en la actualidad está adquiriendo cada vez más importancia es la de Community manager, debido al auge que están experimentando las redes sociales en nuestra sociedad, convirtiéndose en un medio fundamental de interacción entre todo tipo de personas y empresas. En consideración a ello, toda empresa deberá preocuparse de tener presencia en las redes de la forma apropiada según sus objetivos, para lo que el Community manager podrá aportar sus conocimientos para obtener el máximo partido en este nuevo ámbito"
- var video = ""