- var active = {"category": "Veterinarios", "service": "Asesoramiento Empresarial"}
- var title = "Asesoramiento empresarial - Braun Marketing & Consulting"
- var description = "Confía en nuestro Asesoramiento Empresarial para saber qué cosas mejorar en tu clínica."

- var intro = ""
- var video = ""