extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Qué es el SEO local y cuál es su importancia y sus clases

	h3.title.is-3 Empecemos por preguntarnos ¿Qué es el SEO local?
	p Con el objetivo de aumentar la relevancia de una web y mejorar su posicionamiento dentro de los resultados que arrojan los motores de búsqueda de Internet, se pueden desarrollar toda una serie de actuaciones técnicas que no impliquen gasto y a las que llamamos #[strong SEO local]. 

	h3.title.is-3 ¿Es importante el SEO local?
	p La respuesta es un #[strong sí] rotundo. En la actualidad el SEO local es la forma de transmitir a los buscadores de Internet, mediante el estudio y la aplicación de la táctica correcta, que tu #[strong página es útil] para los usuarios y que, en virtud de ese valor, debe #[strong posicionarse mejor]. 
	p Cuando hablamos de la táctica adecuada tras un estudio, nos referimos a la necesidad de tener un conocimiento de cuáles son los complejos algoritmos que manejan los buscadores, y que van evolucionando con el tiempo, para decidir el posicionamiento de una página. Estos mecanismos que usan los motores de búsqueda, tratan de otorgar a cada página unos #[strong valores con los que asignar ese posicionamiento], valores que son, principalmente, #[strong dos]: 
	ul
		li: p #[strong La Autoridad]. Este valor es apreciado por el buscador en una web cuando entiende que la misma goza de una alta #[strong notoriedad] para los usuarios y, a su vez, deduce esto cuando comprende que dicha web presenta un gran interés para los mismos porque es muy compartida por ellos.
		li: p #[strong La Relevancia]. Los buscadores entienden que concurre este criterio de posicionamiento cuando las palabras usadas más a menudo por los usuarios para realizar sus búsquedas en Internet, son contenidas en los textos de la web, en un determinado número y modo.
	p No se trata, como en otras épocas ocurría, de incluir en nuestra página cuantas más veces mejor las #[strong palabras clave], usadas por los internautas para hacer sus búsquedas, sino de introducirlas en la cuantía y forma apropiadas en relación con los criterios que manejan ahora los buscadores. 

	h3.title.is-3 ¿Qué es el SEO local on-page?
	p El #[strong on-page], también llamado #[strong on-site], es el tipo de #[strong SEO local] que busca cumplir los requisitos exigidos por los buscadores para otorgar mayor #[strong relevancia] a una página, abarcando todas las actuaciones dirigidas a dicho fin, como es el uso adecuado de las keywords o palabras clave, la forma de las URLs, tiempo de carga de la página o experiencia del usuario.
	h3.title.is-3 ¿Qué es el SEO local off-page?
	p El #[strong off-page], también denominado #[strong off-site], es el tipo de SEO local que engloba todas aquellas actuaciones que intentan lograr que los motores de búsqueda otorguen mayor #[strong autoridad] a nuestra web, intentando aumentar su popularidad actuando sobre los aspectos externos de la misma: mayor cantidad y calidad de enlaces a la página; más actuaciones en redes sociales y medios locales; notoriedad de la marca; CTR (Clic Throught Rate), o posicionamiento en los resultados de la búsqueda.
	hr

	h2.title.is-2 2. Métodos para el SEO local
	p Una vez explicado en qué consiste el #[strong SEO local] y por qué es importante, entraremos de lleno en el modo en que encaramos para nuestros clientes los servicios que prestamos en cuanto a este ámbito.
	p Aquí te presentamos un gráfico de los cuatro aspectos en que se dividen estos servicios:
	p.has-text-centered
		img(src="/img/Metodologia_SEO.png", alt=active.service)

	h3.title.is-3 ¿Qué implica el establecimiento de palabras clave?
	p La importancia del establecimiento de palabras clave viene dada por el papel que juega el #[strong conocimiento] de los mecanismos usados por los motores de búsqueda respecto a las keywords y la aplicación de la #[strong estrategia adecuada] para el mejor posicionamiento de nuestra web. 
	p A este respecto, necesitamos manejar unos determinados #[strong criterios] para elaborar nuestra táctica, unos #[strong instrumentos] para aplicar la misma, y unas interesantes #[strong aplicaciones] para elegir las palabras clave concretas que usaremos: 

	ol
		li 
			p Para la elaboración de dicha estrategia, jugamos con tres criterios:
			ul
				li: p La #[strong notoriedad] o #[strong popularidad] de las keywords.
				li: p La #[strong competencia] existente respecto de las mismas.
				li: p El #[strong encaje] que presentan dentro de la página.
		li 
			p En segundo lugar, para aplicar correctamente estos criterios, disponemos de dos #[strong instrumentos]:
			ul
				li: p El #[strong KEI (Keyword Efectiveness Index)], que suministra información muy concreta sobre las búsquedas y competencia que presentan las palabras clave.
				li: p El #[strong Google PageRank], con el que se obtienen datos sobre el ranking de los primeros resultados de una búsqueda, para medir cuánto esfuerzo supondrá posicionar una palabra clave.

		li 
			p Por último, para seleccionar las palabras clave específicas que utilizaremos, disponemos de las siguientes aplicaciones:
			ul
				li: p #[strong Google trends]: Nos suministra información sobre las tendencias de las palabras claves en las búsquedas que se realizan, para conocer de este modo su estacionalidad.
				li: p #[strong Google Keyword Planner]: Nos aporta datos sobre la cantidad de veces que ha sido buscada una palabra clave, así como su competencia y tiempo, debiendo tener, para acceder a dicha información, una campaña activa de Google Adwords.
				li: p #[strong Rank-Tracker]: Nos aporta datos sobre la cantidad de veces que ha sido buscada una palabra clave, así como su competencia y tiempo, debiendo tener, para acceder a dicha información, una campaña activa de Google Adwords.
	p Con esta actividad podremos vigilar continuamente la evolución de la estrategia que hayamos planificado y saber que palabra clave está #[strong funcionando mejor]. Al mismo tiempo, mantendremos a raya a la #[strong competencia], y podremos estar alerta ante un intento de robo de nuestro posicionamiento por parte de la misma, #[strong mejorándolo] desde cualquier parte y con cualquier idioma.
	

	h3.title.is-3 ¿Qué actuaciones abarca la adaptación web seo on page?
	p Una vez elaborada la estrategia para el establecimiento de palabras clave, tal y como acabamos de explicar, deberemos #[strong acomodar los textos de la web] a la misma para lograr el posicionamiento apropiado en los buscadores de Internet.
	p Con este fin, será imprescindible contar con un #[strong contenido interesante] para los usuarios, que presente el #[strong número de palabras clave que nuestro plan prevea], adaptando los textos a los criterios usados por los motores de búsqueda.
	p Esta adaptación se lleva a cabo en varios puntos del contenido de la página web:
	ol(type="a")
		li: p En el #[strong título]: Breves y con fuerza descriptiva.
		li: p En la #[strong mtadescription].
		li: p En la #[strong URL]: De modo que sea amigable.
		li: p En las #[strong cabeceras]: También descriptivas.
		li: p En el #[strong cuerpo del texto]: Elaborado por personas conocedoras de la materia de que se trate, procurando que sea original y de calidad, e incluyendo las etiquetas Schema.org y JSON-LD al código HTML, de modo que los bots encuentren mayor facilidad a la hora de analizar el contenido.
		li: p En las #[strong imágenes]: Incluyendo la descripción “alt” para que la página posicione cuando los usuarios busquen imágenes mediante la keyword elegida por nosotros.

	h3.title.is-3 ¿Qué conlleva la estrategia de contenidos?
	p A continuación, deberemos centrar nuestros esfuerzos en que el propio #[strong contenido] de nuestra web se adapte perfectamente a la estrategia planeada, de modo que seleccionemos los #[strong canales, formatos y tiempos] que permitan a los usuarios sacar el máximo partido posible a nuestra web, con una #[strong temática y un lenguaje] adecuados según el tipo de público al que queramos dirigirnos, añadiendo keywords long-tail. El mayor interés que despertemos en nuestro público, aumentará nuestra relevancia ante los buscadores, a lo que contribuiremos #[strong compartiendo] nuestra web en redes sociales o blogs e introduciendo el formato de clasificación de textos según la #[strong estructura SILO], ordenando las palabras clave en silos de modo que el buscador otorgará más valor a la página.

	h3.title.is-3 ¿Qué supone el posicionamiento natural off page?
	p Es la parte de nuestra #[strong estrategia de SEO local] que está relacionada con el #[strong ámbito externo] de la página web, y está encaminada a lograr #[strong redireccionamientos] a la misma, procurando que se lleven a cabo desde enlaces de alta calidad, así como consiguiendo menciones en plataformas sociales, blogs, redes sociales, etc. Con estas actuaciones se conseguirá elevar el ranking de la página. 
	p Estas #[strong actuaciones] son:
	ul
		li: p #[strong Linkbuilding]: Procurando para nuestra web un ecosistema de páginas con contenidos que se puedan relacionar con el de la nuestra y que suponga más redireccionamientos.
		li: p #[strong Linkbaiting]: Esta actuación se centra en elaborar contenidos de gran interés para los usuarios, para que compartan dichos contenidos así como las imágenes y vídeos que incorporemos.
		li: p #[strong Actuación en foros] como simples usuarios.
		li: p La publicación de #[strong notas de prensa].
		li: p Creación de un #[strong canal en Youtube] e identificación en #[strong Google+] y #[strong Google My Business], instrumento con el que unificamos en una sola forma todas las que existían anteriormente para enlazar nuestra página a otros negocios locales. En este sentido, antes nos encontrábamos con Google+ para las páginas de empresa y para las fichas Places.