extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Definición e importancia de Analytics Web
	h3.title.is-3 ¿Qué entendemos por Analytics Web?
	p #[strong Analytics Web] es el utensilio con el que podremos realizar la actividad de indagación y obtención de datos relevantes sobre el funcionamiento de nuestra página web, sobre las cifras que devienen de sus procesos y sobre la prestación del servicio a los usuarios que nos contratan, de modo que podamos conocer el devenir de nuestro negocio y elaborar proyecciones futuras, con el objeto de mejorar cualquiera de esas cifras o todas ellas.
	p Como no se trata simplemente de recopilar datos sin más, sino de conocer la #[strong información que nos ayude a mejorar nuestra empresa], deberemos profundizar en los números sobre la relación del posible cliente con nuestra página para, con ello, lograr la finalidad que nos planteemos en cada caso. 

	h3.title.is-3 ¿Son importantes las acciones de Analytics Web?
	p Sin duda debemos responder #[strong afirmativamente] a esta pregunta. Tanto es así, que sólo las mediciones que hagamos sobre las estrategias empleadas en nuestro negocio y nuestra web, nos permitirán conocer si las mismas #[strong están siendo exitosas o no], de modo que evitemos dar continuidad a actuaciones que nos estén perjudicando, y hacer los cambios que los resultados de las métricas nos aconsejen para reconducir la situación hacia la consecución de los propósitos que nos hayamos marcado.  

	hr
	
	h2.title.is-2 2. Acciones de Analytics Web que llevamos a cabo
	h3.title.is-3 ¿Qué actuaciones de Analytics Web empleamos?
	p La mejor forma de enumerar las #[strong principales acciones] que, dentro de este ámbito, desarrollamos, es ordenarlas por orden cronológico:
	ol
		li: p En primer lugar, será importante que distingamos #[strong las métricas que debamos usar] en atención al tipo de sitio web que tengamos, así como las #[strong herramientas de medición] que más nos convengan.
		li: p Elegidas las herramientas, seleccionaremos las #[strong variables de medición] que analizaremos que, en este caso, dependerán de los objetivos que tengamos fijados en cada caso y de los indicadores clave de rendimiento, o KPI´s.
		li: p Con estos puntos de partida determinados, nos marcaremos un #[strong plazo] para realizar las mediciones y los análisis.
		li: p Realizadas las mediciones en el plazo previsto, elaboraremos los informes pertinentes que contengan nuestras #[strong conclusiones] sobre la evolución del objeto de estudio.
		li: p A la vista de dichas conclusiones, procederemos a intervenir en la web para, si es necesario, llevar a cabo las #[strong correcciones] que vengan exigidas por los resultados de nuestro estudio. 

	h3.title.is-3 ¿Qué mediciones nos conviene realizar?
	p Cuando tratamos el tema de las actuaciones de #[strong Analytics Web], hemos de diferenciar las #[strong métricas que, en general, conviene realizar], de las llamadas #[strong métricas avanzadas], que se refieren a los objetivos concretos que nos hayamos marcado en nuestra empresa.
	p En cuanto a las primeras, podemos enumerar, como los elementos básicos que tener controlados muy de cerca, los siguientes:
	ol
		li Las #[strong visitas a la web].
		li Las #[strong visitas únicas].
		li Las #[strong visitas nuevas], en porcentaje.
		li La media de #[strong tiempo de duración de las visitas].
		li Las #[strong páginas de entrada].
		li La #[strong tasa de rebote].
	p En cuanto a las avanzadas, como van ligadas a la finalidad de cada momento, varían dependiendo de las circunstancias. Así, podemos mencionar dos #[strong posibles y frecuentes casos]: 
	ol
		li
			p Tipo de página: de contenidos.
			p Objetivo: fidelizar clientes.
			p Métricas que interesarían: 
			ul
				li Número porcentual de #[strong visitas nuevas].
				li Tiempo de #[strong permanencia en la web].
				li cantidad de páginas del sitio en las que entra (#[strong profundidad de la visita]).
				li Usuarios que se #[strong suscriben a la página].
				li Usuarios que #[strong comparten] la página.
		li
			p Tipo de página: de ventas.
			p Objetivo: aumentar ventas.
			p Métricas que interesarían: 
			ul
				li Media de las #[strong compras de cada visitante], dividiendo los ingresos totales por las ventas realizadas. 
				li Tasa de conversión (visitantes que acaban comprando). 
				li #[strong Ventas que se producen por cada visita]. 
