extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Definición, importancia y tipos de Search Engine Marketing
	h3.title.is-3 ¿Qué entendemos por Search Engine Marketing?
	p.
		Podemos definir el <strong>Search Engine Marketing</strong> como el producto de la búsqueda de un usuario en Internet, pero refiriéndonos solamente al que aparece en el área patrocinada del buscador.
	p.
		Esto significa que, al tratarse de un posicionamiento por precio, el orden del mismo viene dado por la <strong>puja</strong>, la calidad del anuncio y la página de destino. 
	p.
		El instrumento para esta actividad de Google se llama <strong>Adwords</strong>, y es el sistema probablemente más utilizado.

	h3.title.is-3 ¿Qué entendemos por Search Engine Marketing?
	p.
		Podemos destacar tres ventajas evidentes que devienen del Search Engine Marketing:
	ol
		li Proporciona <strong>visibilidad</strong> a nuestra página de modo casi inmediato.
		li Nos da la posibilidad de adquirir una <strong>relevancia</strong> a la altura de los que sean nuestros grandes competidores.
		li La <strong>amortización</strong> de la inversión (ROI) se produce en breve plazo de tiempo, ya que dirige a nuestra página a aquellos usuarios que encajen con el perfil que buscamos, habida cuenta de que se puede elegir el horario y el lugar en que aparecerá el anuncio.

	h3.title.is-3 ¿Cuál será el orden de los anuncios?
	p.
		Dependiendo de dos circunstancias, los anuncios que se publican aparecen en una posición u otra: 
	ul
		li
			p.
				<strong>La puja</strong> por palabra clave, según la cual se establece el coste máximo para que se vea el anuncio de nuestra página tras la búsqueda de los internautas.
			p.
				De este modo, y como es obvio, cuanto más elevado sea el precio que se ofrezca, más alta será la posición del anuncio de nuestra web. Por otro lado, el precio por aquellas palabras clave con una alta competencia y muchas búsquedas, será más alto.
		li
			p.
				<strong>La relevancia</strong> del anuncio, criterio que viene referido a la calidad de la página, la relación adecuada entre las palabras clave y el contenido de la página, y el texto del anuncio.
			p.
				La relevancia ostenta gran importancia, hasta tal punto que un anuncio con una puja superior puede verse superado en el posicionamiento por otro que tenga más relevancia.
	p.
		Al margen de estos anuncios propios de las estrategias de <strong>Search Engine Marketing</strong>, ofrecemos la posibilidad de llevar a cabo campañas de <strong>anuncios para ser repartidos por las redes sociales</strong>, con la particularidad a tener en cuenta de que cada red social posee su propio instrumento de gestión de campañas.
	p.
		Por este motivo, mientras que con un motor de búsqueda, cuando se realiza una se muestran los resultados que tendrán relación con la misma, en el caso de las redes sociales esos resultados se van mostrando al mismo tiempo que el usuario está observando el contenido de sus contactos, pudiendo no tener ninguna relación con ellos.
	p.
		Al tratarse, pues, de una <strong>información que aparece sin ser buscada</strong>, en el caso de las redes sociales es necesario crear anuncios con mayor carga de <strong>creatividad y atractivo visual</strong> en sus imágenes, vídeos y textos, de modo que capten la atención del usuario sin resultar estridentes en cuanto al entorno en que se hallan.


	h3.title.is-3 ¿Podemos publicar otro tipo de anuncios?
	p.
		La respuesta es que <strong>sí</strong>. Además de los anuncios que hemos visto en los que, al realizar una búsqueda en Google aparecerían los anuncios que estuvieran relacionados con la misma, aparte lógicamente del resto de resultados, se pueden publicar <strong>anuncios que se reparten por redes sociales</strong>.
	p.
		Estos anuncios les aparecen a los usuarios de dichas redes aunque el contenido que estén visualizando no tenga relación con el anuncio.
	p.
		Evidentemente, al tratarse de anuncios que no se refieren a temáticas que estén buscando los internautas, conllevarán un <strong>mayor trabajo de creatividad</strong>, con mensajes que traten de enganchar a quien lo vea y diseño original. 
	
	p.has-text-centered
		img(src="/img/sem2.png" alt=active.service)
	hr

	h2.title.is-2 2. Métodos de actuación
	p.
		Tras hacer esta breve inmersión en el campo del <strong>Search Engine Marketing</strong>, pasaremos a explicar cómo actuamos respecto al mismo:
	h3.title.is-3 ¿Qué hacer primero?
	p.
		La primera actuación que debemos llevar a cabo es la <strong>fijación de los objetivos</strong> que pretendemos lograr ya que, teniendo claro nuestra finalidad, podremos plantearnos la <strong>estrategia</strong> apropiada para el caso en concreto.
	p.
		Estos objetivos pueden pasar, dependiendo del supuesto ante el que nos encontremos, por tratar de conseguir más ventas, aumentar el tráfico en la página, obtener branding (generación de marca), disponer de más datos de usuarios mediante cuestionarios, etc.
	h3.title.is-3 ¿Qué es el estudio de las palabras clave?
	p.
		Se trata de la actividad que tiene como objeto la <strong>obtención de los términos usados por los internautas para realizar búsquedas</strong> en Internet y conocer, de este modo, los que utilizan cuando quieren encontrar el producto o servicio que vendemos. Estas expresiones las usaremos posteriormente para que sirvan de activación del anuncio.
	p.
		Es, en definitiva, una manera inmejorable de traer a nuestra página el <strong>tráfico que nos interese</strong> y obtener el mayor <strong>rendimiento</strong> posible al dinero que invirtamos en la campaña.
	p.
		En esta línea, cuando nuestra campaña se presente en redes sociales, habrá que hacer un estudio del <strong>tipo de usuario</strong> de cada una de ellas para <strong>seleccionar</strong> a quién debe aparecerle el anuncio y a quién no, con datos como edad, sexo, lugar de residencia, capacidad económica, aficiones, etc.

	h3.title.is-3 ¿Qué acciones realizamos para crear el anuncio?

	p Para crear el anuncio llevaremos a cabo las tres siguientes actuaciones:
	ul
		li
			p.
				<strong>Determinación del público</strong> a quien aparecerá el anuncio, durante cuánto tiempo y en qué horario. 
		li
			p.
				<strong>Selección de la red</strong> en la que preferimos que se vea el anuncio, entre <strong>tres opciones</strong> que, eso sí, se pueden combinar:
			ul
				li
					p.
						En primer lugar tenemos los anuncios que aparecen cuando se hace una búsqueda en Internet, en una posición anterior y posterior a los resultados de la misma. Se trata de la <strong>red de búsqueda</strong>.
				li
					p.
						En segundo lugar, los anuncios que aparecen en webs asociadas a Google, que conforman un grupo de más de dos millones de páginas y aplicaciones. Afortunadamente, se permite llevar a cabo una segmentación de las mismas para que el anuncio aparezca en las páginas de temática que nos interese, por el tipo de usuario, su lugar de ubicación, etc. Es la llamada <strong>red Display</strong>.
				li
					p.
						Por último, tenemos los anuncios que aparecen de manera automática a los usuarios que ya entraron en algún momento a nuestra web y que, en virtud de su interés en nuestro servicio, les surge dicho anuncio en su visita a otras páginas webs. Es el denominado <strong>remarketing</strong>.
					p.
						Se trata de una táctica habitual en el ámbito de buscadores de hoteles y vuelos.

		li
			p.
				La última actuación a realizar es el desarrollo del <strong>diseño</strong> del anuncio y de su <strong>contenido</strong>, eligiendo una atractiva “llamada a la acción” y completando con unos textos que permitan al usuario conocer adecuadamente cuál es la temática de nuestra web.


	h3.title.is-3 ¿Cómo hacemos el estudio de la página de destino?
	p.
		La página de destino es <strong>la web a la que el usuario llegará</strong> clicando en nuestro anuncio, resultando indispensable para nuestra campaña que aquélla <strong>aporte valor</strong> al internauta en cuanto a su contenido y que le resulte <strong>visualmente atractiva</strong>.
	p.
		Con estos objetivos, será necesario realizar un estudio previo de la web de destino para corregir eventuales errores y aportar elementos que la mejoren, siempre que ya exista una web creada. En caso contrario, la solución sería crear una que reúna las condiciones apropiadas.

	h3.title.is-3 ¿En qué consiste la gestión de las pujas?
	p.
		Ya hemos explicado anteriormente la importancia de las pujas para el posicionamiento del anuncio: a mayor dinero ofrecido, mejor posición en los resultados de búsqueda, en el área de anuncios.
	p.
		Las <strong>dos actuaciones</strong> a realizar son las siguientes:
	ul
		li
			p.
				<strong>Estudio de palabras clave</strong>, con su grado de competencia y su valor, utilizando los instrumentos adecuados.
		li
			p.
				<strong>Selección del modo de pago</strong>. Para abonar el precio de la campaña, elegiremos la forma de pago que mejor se adapte a los objetivos perseguidos con la misma.
			p.
				Hay tres maneras fundamentales de pago:
			ul
				li
					p.
						<strong>Pago por cada clic</strong> sobre el anuncio. Es el CPC.
				li
					p.
						<strong>Pago</strong> de un precio <strong>por cada mil impresiones</strong> del anuncio. Es el CPM.
				li
					p.
						<strong>Pago por cada compra</strong> del producto o servicio. Es el CPA.

