extends /partials/services-layout

block variables
	include _variables
block content

	p Los usuarios descubren 7 de cada 10 Apps en los propios buscadores de las tiendas de Apps. Debes realizar estrategias de ASO, posicionamiento orgánico en la tienda de aplicaciones móviles, para que tu aplicación móvil aparezca de forma orgánica en las Apps Store.

	h2.title.is-2 ¿Por qué debo invertir en estrategias de ASO?
	h3.title.is-3 ¿Qué es el ASO?
	p No solo basta con crear una buena aplicación móvil, para que esta consiga tener una gran cantidad de descargas. Necesitas invertir en #[strong App Marketing] para poder diferenciarte de tu competencia. Cada día aparecen nuevas aplicaciones móviles en las tiendas de Apps que satisfacen las mismas necesidades que tu Apps, por lo que necesitas posicionarte por encima de ellas para que los usuarios se descarguen tu aplicación y no la de la competencia.
	p El #[strong ASO], App Search Optimization, es la #[strong optimización de la ficha de una App móvil] con el objetivo de que esta sea #[strong visible en las tiendas de aplicaciones] y generar instalaciones orgánicas a través de la búsqueda, los Top Charts y los destacados. Las estrategias de ASO tienen el mismo objetivo que las estrategias de SEO, posicionamiento orgánico en los motores de búsqueda. Con las estrategias  SEO se pretende posicionar un sitio web en las primeras posiciones de los motores de búsqueda, con las estrategias de ASO se pretende #[strong posicionar una aplicación móvil en las primeras posiciones de las tiendas de aplicaciones].
	p Las estrategias de optimización de Apps deben comenzar analizando en profundidad el público objetivo y el sector de la aplicación móvil. Este paso es fundamental para estructurar la estrategia ASO, ya que conociendo las necesidades de tu público objetivo y cómo son las aplicaciones móviles de tu sector, podrás diferenciarte de ellos y conseguir que tu aplicación sea más descargada que la de tu competencia.
	p #[strong El estudio de las palabras clave] por las que debe posicionar tu aplicación móvil es muy importante, ya que de este estudio dependerá la ejecución de la estrategia de posicionamiento de Apps. En este estudio debes tener en cuenta aspectos como la función que cumple tu App, las necesidades de tu público objetivo, cómo buscaría los usuarios tu aplicación, etc.
	p Se deben realizar diferente estrategia de App Store Optimization dependiendo de la tienda de Apps donde quieras posicionar tu Apps, las principales tiendas de aplicaciones son Apple Store y Google Play para sistemas Android. Cada tienda de aplicaciones tiene unas particularidades propias que debes tener en cuenta en la realización de tu estrategia de posicionamiento, ya que si realizas la misma para todas las tiendas de aplicaciones no conseguirás el mismo resultado, debido a que cada una tiene un algoritmo diferente.

	h3.title.is-3 ¿Cuál es el objetivo de las estrategias de mobile marketing?
	p Cuando realizas una aplicación móvil quieres cumplir con ella algunos objetivos de marketing digital, muchos de ellos se consiguen con estrategias de posicionamiento de Apps. Los principales objetivos que se consiguen con estrategias de ASO son:
	ul
		li Conseguir #[strong tráfico a la página de la aplicación móvil] en las tiendas de aplicaciones.
		li #[strong Aumentar el volumen de instalaciones orgánicas], reduciendo el coste por adquisición de usuarios. Por lo tanto, cuantas más instalaciones obtenga tu aplicación móvil aumentara su posicionamiento en las tiendas de aplicaciones. En Google Play también es un factor de conversión, ya que en la ficha de tu aplicación aparece una estimación del número de instalaciones.
		li #[strong Analizar el mercado] para recopilar información y diseñar una estrategia más afín a las búsquedas de los usuarios.
		li #[strong Mejorar la visibilidad de la aplicación móvil] aumentando las posibilidades de rankear más alto por las principales keywords de nuestro proyecto, intentando mejorar la posición en Top Charts y buscando la oportunidad para que Apple o Google nos destaquen en un destacado.
		li #[strong Maximizar los ingresos].

	hr

	h2.title.is-2 ¿Cómo realizar una estrategia ASO para tu aplicación móvil?
	p En primer lugar se debe crear #[strong diferentes tipos de estrategias de marketing mobile dependiendo de la tienda de aplicaciones móviles]. Cada App Store tiene un algoritmo diferente y hay elementos que en una se le da mucha importancia y en otra no, por lo que debes conocer a la perfección las características de cada App Store.
	p La estrategia ASO se compone de tres fases fundamentales, #[strong keywords research], #[strong optimización de la ficha de la aplicación] y #[strong monitorización de la App].
	p El #[strong estudio de palabras clave] es fundamental, ya que gracias a este conoceremos los términos por los que vamos a posicionar la aplicación móvil. Las keywords, palabras clave, la dividiremos en dos grupos dependiendo de su #[strong relevancia], keywords principales y secundarias. El primer grupo estará compuesto por muy pocas palabras clave y son las de mayor importancia, es decir las que tienen una mayor calidad y las que más tráfico nos van aportar. El segundo grupo son palabras que apoyaran a las principales, también aportarán tráfico, aunque este es de menos calidad y atraerá un menor número de usuarios. También hay que realizar un análisis exhaustivo de las aplicaciones relacionadas con tu sector mejor posicionadas en las App Store.
	p La segunda fase es la utilización de las palabras clave que hemos definido en la fase anterior para #[strong optimizar la ficha de nuestra aplicación móvil]. En cada tienda de aplicaciones al tener un algoritmo diferente para conseguir un buen posicionamiento, la optimización de la ficha es diferente. Dependiendo de la App Store unos campos serán más relevantes que otros.
	p La última fase de la estrategia de ASO es la #[strong monitorización]. Se deben monitorizar tanto nuestra aplicación móvil como la de la competencia, con el objetivo de mejorar la optimización de nuestra ficha. También se deben monitorizar los rankings de keywords y los Top Charts de la categoría de nuestra Apps.


	h3.title.is-3 ¿Qué factores debo tener en cuenta en el posicionamiento de una App?
	p Los factores que debes tener en cuenta en la realización de estrategias de #[em ASO] se dividen en dos grandes grupos, factores #[strong On-Metadata] y factores #[strong Off-Metadata]. Los factores On-Metadata son los que se pueden controlar desde la consola de desarrolladores y podemos incidir de forma directa en ellos. Los factores Off-Metadata son los que se pueden potenciar indirectamente pero no controlamos de forma directa. Estos factores son muy parecidos a los factores de SEO On page y SEO Off Page.
	p Los principales factores On-Metadata:
	ul
		li #[strong App Store (Apple)]:
			ul
				li #[strong App Name]: Es uno de los factores más importantes en la App Store, en ella debes incluir las keywords más relevantes.
				li #[strong Campo keywords]: Después del App name este campo es el más importante en el App Store. Debes incluir las keywords más relevantes y con más tráfico.
				li #[strong Categoría de la Apps]: Es esencial para facilitarle la búsqueda al usuario y para que la tienda de aplicaciones categorice correctamente tu Apps.
				li #[strong Nombre e histórico del desarrollador]: La App Store lo tiene en cuenta para destacar la aplicación móvil.
				li #[strong Icono]: Es un elemento visual que te ayuda a diferenciarte de tu competencia y llamar la atención de los usuarios.
				li #[strong Screenshots]: El máximo para esta tienda de aplicaciones son de 5 screenshots. Es una forma para explicar tu aplicación de manera visual, llama la atención del usuario. No permite realizar test A/B.
		li #[strong Google Play]:
			ul
				li #[strong Título]: Al igual que el App Name es un factor muy importante en Google Play, debes incluir las keywords más relevantes.
				li #[strong Descripción]: En ella debes incluir las keywords más relevantes. Tiene un gran peso en Google Play, puedes utilizar negritas y cursivas.
				li #[strong Descripción Breve]: Este campo es esencial para la conversión. Debes crear una descripción atractiva utilizando algunas keywords relevantes. Se pueden realizar test A/B en este campo.
				li #[strong Categoría de la Apps]: Es un factor esencial para que el usuario encuentre tu aplicación móvil y la tienda de aplicaciones categorice tu aplicación correctamente.
				li #[strong Nombre e histórico del desarrollador]: Es un factor que ayuda a posicionarte en la tienda de Google.
				li #[strong Icono]: Es el primer impacto visual de tu aplicación, con este elemento te puedes diferenciar de tu competencia y llamar la atención del usuario.
				li #[strong Screenshots]: En Google Play se pueden insertar un máximo de 8 screenshots, llaman la atención del usuario y explican de que trata tu aplicación web. Se pueden realizar test A/B.
				li #[strong Imagen Destacada]: Es un factor muy importante para la conversión, es el primer impacto visual de tu ficha en Google Play. Se pueden realizar test A/B.

	p Los principales factores Off-Metadata:
	ul
		li #[strong Volumen de instalaciones]: Es uno de los factores con más peso en el posicionamiento de aplicaciones móviles. Las Apps con más instalaciones aparecerán mejor posicionadas en el Top chart.
		li #[strong Velocidad de las instalaciones]: Es un factor esencial para estar posicionado en las primeras posiciones de la tienda de aplicaciones. Este factor se basa en la velocidad en la que tu aplicación ha sido instalada.
		li #[strong Valoraciones y comentarios]: La nota media de tu aplicación y las opiniones influyen en el posicionamiento de tu aplicación.

	p Las #[strong estrategias ASO] en las tiendas de aplicaciones #[strong son muy complejas], ya que el algoritmo por el que se rigen las diferentes App Store cambia continuamente. Se recomienda acudir a una #[strong agencia de marketing online especializada en posicionamiento ASO]. En #[strong Braun Marketing and Consulting] contamos con un equipo multidisciplinar y especializado en el posicionamiento de aplicaciones móviles. Somos una agencia especializada en el sector sanitario, por lo tanto conocemos a tu público objetivo en el medio online a la perfección. Si tienes una aplicación móvil relacionada con el sector sanitario y quieres posicionarla en las diferentes tiendas de aplicaciones, no dude en ponerse en contacto con nosotros.
