- var active = {"category": "Marketing Odontológico", "service": "Diseño Página Web"}
- var title = "Diseño Página Web - Braun Marketing & Consulting"
- var description = "Nuestro diseño de página web hará de tu página un escaparate único para que tu clínica atraiga cientos de clientes."

- var intro = "Si queremos transmitir a los clientes sensaciones relacionadas con la formalidad, la confiabilidad, la eficacia o la experiencia, debemos comenzar por cuidar, de manera escrupulosa, el aspecto de nuestra página web. Nos referimos a todos aquellos elementos que tienen que ver con la apariencia y funcionalidad, que forman parte de las acciones del <strong>diseño de página web</strong>, y que repercuten de manera indiscutible en la idea que el usuario se forma sobre nuestra empresa y la utilidad que encuentra en nuestra página."
- var video = ""