- var active= {"category": "Farmacéuticos", "service": null}
- var title = "Marketing Farmacéutico - Braun Marketing & Consulting"
- var description = "¿Eres Farmacéutico? ¿Quieres hacer Marketing Farmacéutico para mejorar tu negocio y no sabes cómo? Nosotros lo hacemos."
- var fraseHeader= "Solo una farmacia entiende la letra de un médico. Sólo nuestro marketing farmacéutico entenderá las necesidades de tu farmacia"
