- var active = {"category": "Odontólogos", "service": "Gestión Marca Online"}
- var title = "Gestión Marca Online - Braun Marketing & Consulting"
- var description = "Que se hable mal o bien de tu marca en internet es clave. Nuestros servicios de gestión de marca online harán que desaparezcan."

- var intro = ""
- var video = ""