- var active = {"category": "Odontólogos", "service": "Gestión Marca Online"}
- var title = "Gestión Marca Online - Braun Marketing & Consulting"
- var description = "Que se hable mal o bien de tu marca en internet es clave. Nuestros servicios de gestión de marca online harán que desaparezcan."

- var intro = "A continuación vamos a analizar brevemente todas las acciones de gestión de marca online con las que desarrollaremos la estrategia que permitirá controlar en la medida de lo posible la imagen que nuestra empresa tenga en la Red, minimizando los aspectos que queden al margen de nuestra actuación como son todos aquellos comentarios y opiniones negativos que pudieran publicarse por parte de determinados usuarios."
- var video = ""