extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Concepto de Healthcare Benchmarking. Su relevancia y beneficios

	h3.title.is-3 ¿Cómo podríamos definir el Healthcare Benchmarking?
	p.
		Cuando empleamos la expresión <strong>Healthcare Benchmarking</strong>, nos estamos refiriendo al análisis permanente de todas las actuaciones, en cuanto a los servicios, productos y procesos, que ha de realizarse respecto de las entidades mejor valoradas y consideradas el modelo a seguir en el ámbito del mercado en el que nos desenvolvamos.

	h3.title.is-3 ¿Cuál es la importancia del Healthcare benchmarking?
	p.
		La relevancia de esta práctica radica en la ventaja que obtendremos de tener un <strong>conocimiento profundo de las estrategias que están siguiendo las empresas competidoras</strong> en nuestro sector del mercado, consiguiendo localizar los servicios y tácticas que pueden servir de mejora para nuestro negocio. Será, en todo caso, fundamental tener especial atención a aquellas entidades que se hayan asentado como las punteras del ámbito de que se trate, por cuanto serán sus técnicas las que habrán de considerarse más exitosas.

	h3.title.is-3 ¿En qué aspectos podemos beneficiarnos de esta actuación?
	p.
		Existen dos aspectos en los que vamos a poder obtener evidentes <strong>beneficios</strong>:
	ol
		li <strong>Calidad</strong>: Empleando esta táctica correctamente, lograremos mejorar la valoración de nuestro servicio, lo que repercutirá en un aumento del nivel de satisfacción de los clientes y consecuentemente de la tesorería de la empresa.
		li <strong>Eficiencia</strong>: El segundo beneficio de implementar mejoras en nuestro servicio derivadas de la observación y estudio de la actividad de la competen"cia, es la obtención de mejoras en la productividad de la empresa sin necesidad de destinar más dinero para ello.

	hr

	h2.title.is-2 2. Nuestra metodología de Healthcare Benchmarking

	h3.title.is-3 ¿Cuáles son los pasos en esta actuación?
	p.
		Los <strong>pasos</strong> que seguimos a la hora de llevar a cabo esta importante actuación, son:
	ol(type="a")
		li <strong>Indagación de cuáles son las entidades que lideran</strong> el ámbito de actuación de nuestra empresa. En este aspecto, no hay que confundir tamaño con liderazgo: no siempre la que está a la cabeza en desarrollo es la empresa más grande.
		li <strong>Análisis profundo de las virtudes de dicha empresa</strong> que causan su éxito.
		li Colocación de la entidad o entidades seleccionadas en el marco del sector del mercado en el que se mueve para comprobar <strong>qué beneficios podemos obtener del Healthcare Benchmarking</strong>.
		li <strong>Selección de los elementos</strong> que se hayan revelado como los originadores del éxito de la empresa elegida y <strong>que consideremos que podemos introducir en nuestra estrategia de mercado</strong>.
