- var active = {"category": "Farmacéuticos", "service": "Google Analytics"}
- var title = "Google Analytics - Braun Marketing & Consulting"
- var description = "Implementamos en tu página web Google Analytics para saber cómo se comporta tu cliente."

- var intro = ""
- var video = ""