- var active = {"category": "Farmacéuticos", "service": "Google Analytics"}
- var title = "Google Analytics - Braun Marketing & Consulting"
- var description = "Implementamos en tu página web Google Analytics para saber cómo se comporta tu cliente."

- var intro = "Cuando hablamos de la importante herramienta Google Analytics, nos estamos adentrando en el ámbito del estudio de la información sobre empresas, análisis que tiene como finalidad medir de manera continua los números que surgen de la actividad en nuestro negocio como consecuencia de las decisiones que en cada momento vamos tomando, de manera que podamos conocer el buen o mal camino al que dirigimos nuestra empresa"
- var video = ""