extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Cómo crear una página web y en qué aspectos centrar nuestra atención

	h3.title.is-3 ¿En qué consiste crear una página web?
	p #[strong Crear una página web] implica el desarrollo de los trabajos necesarios para presentar los servicios de nuestra empresa o negocio de forma que se impriman los rasgos que van a definir la #[strong personalidad] de la misma y se introduzcan los mecanismos necesarios para que el usuario pueda conocer tales servicios y desplazarse por las distintas secciones de la página de modo cómodo y dinámico.

	h3.title.is-3 ¿Qué se pretende conseguir con el desarrollo de la página?
	p A la hora de #[strong crear una página web] hemos de recordar que estamos elaborando lo que será la carta de presentación de nuestro negocio y que, por tanto, estamos hablando de #[strong la cara visible de nuestra empresa] que deberá provocar las sensaciones de confianza necesarias en el usuario como para que se vea seducido por la información que se brinde en el contenido de la web y acabe contratando los servicios ofrecidos.
	p Así pues, hablamos de la #[strong imagen] de nuestra empresa pero también de la creación de unos #[strong contenidos] y unas #[strong estructuras] adecuados. Toda esta labor deberá producir una sensación de satisfacción en el visitante de la web, tanto por el atractivo #[strong aspecto] de la página como por la facilidad de su #[strong manejo] y la utilidad que le reporte su #[strong contenido], provocando necesariamente un aumento de las visitas y adquisición de servicios. Si queremos saber si cumplimos con todo esto será necesario implementar <a href="#[+nextServiceURL()]">Google Analytics</a>.
	p Estas sensaciones en el usuario que acabamos de describir, son las que denominamos #[strong experiencia del usuario], o #[strong UX], la cual será positiva si realizamos un trabajo apropiado en aspectos como:
	ul
		li: p La accesibilidad.
		li: p El software.
		li: p La usabilidad.
		li: p La utilidad.
		li: p La calidad de contenidos.
		li: p Las emociones que transmita al usuario.
		li: p La elaboración y transmisión de marca.

	hr

	h2.title.is-2 2. Acciones para crear una página web

	h3.title.is-3 ¿Cuál es la estrategia que empleamos para crear una página web?

	p Vamos a resumir esta materia en una breve referencia a las #[strong cinco fases] que consideramos indispensables:
	ol
		li: p Realización de cuantas #[strong comparativas] sean necesarias respecto de otras webs de empresas existentes en el mercado que puedan considerarse competencia a la nuestra.
		li: p Indagación de cuáles son las #[strong palabras clave] que conviene tener en cuenta a la hora de elaborar la web, por ser las que mejor relación de búsquedas y competencia tienen.
		li: p Presentación al cliente para su visto bueno de un #[strong mock up], o #[strong boceto], sobre la web tal y como creamos que ha de realizarse la misma tras los anteriores pasos.
		li: p Desarrollo de la #[strong página web] por diseñadores y programadores contrastados, según los criterios hasta el momento obtenidos.
		li: p #[strong Control] de la web, tras su entrada en funcionamiento, para comprobar que integra los requisitos que nos hubiéramos propuesto y que los usuarios obtienen una buena experiencia con su uso.

