extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Cómo crear una página web y en qué aspectos centrar nuestra atención
	h3.title.is-3 ¿En qué consiste crear una página web?
	p.
		<strong>Crear una página web</strong> implica el desarrollo de los trabajos necesarios para presentar los servicios de nuestra empresa o negocio de forma que se impriman los rasgos que van a definir la <strong>personalidad</strong> de la misma y se introduzcan los mecanismos necesarios para que el usuario pueda conocer tales servicios y desplazarse por las distintas secciones de la página de modo cómodo y dinámico.

	h3.title.is-3 ¿Qué se pretende conseguir con el desarrollo de la página?
	p.
		A la hora de <strong>crear una página web</strong> hemos de recordar que estamos elaborando lo que será la carta de presentación de nuestro negocio y que, por tanto, estamos hablando de <strong>la cara visible de nuestra empresa</strong> que deberá provocar las sensaciones de confianza necesarias en el usuario como para que se vea seducido por la información que se brinde en el contenido de la web y acabe contratando los servicios ofrecidos.

	p.
		Así pues, hablamos de la <strong>imagen</strong> de nuestra empresa pero también de la creación de unos <strong>contenidos</strong> y unas <strong>estructuras</strong> adecuados. Toda esta labor deberá producir una sensación de satisfacción en el visitante de la web, tanto por el atractivo <strong>aspecto</strong> de la página como por la facilidad de su <strong>manejo</strong> y la utilidad que le reporte su <strong>contenido</strong>, provocando necesariamente un aumento de las visitas y adquisición de servicios.

	p.
		Estas sensaciones en el usuario que acabamos de describir, son las que denominamos <strong>experiencia del usuario</strong>, o <strong>UX</strong>, la cual será positiva si realizamos un trabajo apropiado en aspectos como:

	ul
		li La accesibilidad.
		li El software.
		li La usabilidad.
		li La utilidad.
		li La calidad de contenidos.
		li Las emociones que transmita al usuario.
		li La elaboración y transmisión de marca.



	hr

	h2.title.is-2 2. Acciones para crear una página web

	h3.title.is-3 ¿Cuál es la estrategia que empleamos para crear una página web?

	p.
		PVamos a resumir esta materia en una breve referencia a las <strong>cinco fases</strong> que consideramos indispensables:
	ol
		li Realización de cuantas <strong>comparativas</strong> sean necesarias respecto de otras webs de empresas existentes en el mercado que puedan considerarse competencia a la nuestra.
		li Indagación de cuáles son las <strong>palabras clave</strong> que conviene tener en cuenta a la hora de elaborar la web, por ser las que mejor relación de búsquedas y competencia tienen.
		li Presentación al cliente para su visto bueno de un <strong>mock up</strong>, o <strong>boceto</strong>, sobre la web tal y como creamos que ha de realizarse la misma tras los anteriores pasos.
		li Desarrollo de la <strong>página web</strong> por diseñadores y programadores contrastados, según los criterios hasta el momento obtenidos.
		li <strong>Control</strong> de la web, tras su entrada en funcionamiento, para comprobar que integra los requisitos que nos hubiéramos propuesto y que los usuarios obtienen una buena experiencia con su uso.

