- var active = {"category": "Marketing para Fisioterapeutas", "service": "Gestión de Reputación Online"}
- var title = "Gestión de Reputación Online para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Como se hable de ti en internet influirá en próximos pacientes. Nuestros servicios de gestión de reputación online siempre serán buenos."

- var intro = "Es cierto que hay quien considera a la <strong>gestión de reputación onlin</strong>e un ámbito de trabajo ambiguo y que incluso queda fuera de las posibilidades de actuación del marketing, porque en muchos casos depende de mensajes y opiniones que se lanzan en la Red por usuarios que no podemos controlar. Sin embargo, lo cierto es que, realizando un trabajo meticuloso, seremos capaces de realizar acciones que influirán decisivamente de forma positiva en la imagen de nuestra empresa en Internet."
- var video = ""