extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Concepto de gestión de reputación online. Importancia
	h3.title.is-3 ¿Qué entendemos por gestión de reputación online?
	p.
		Se trata del conjunto de actuaciones dirigidas a <strong>mejorar la opinión</strong> que se tiene de nuestra empresa en Internet. La <strong>gestión de reputación online</strong> no solamente consiste en la imagen que nosotros queramos emitir a la gente, sino que, como adelantábamos anteriormente, también guarda relación con las publicaciones de comentarios, opiniones o noticias en cualquier plataforma sobre nosotros. 

	h3.title.is-3 ¿Cuál es la importancia de la gestión de reputación online?
	p.
		Cuando de un ámbito tan delicado e importante para la gente, como es el sanitario, se trata, <strong>la imagen que se tenga de nosotros</strong> se antoja fundamental para transmitir confianza en el cliente potencial. Pero no se trata de perseguir unos rasgos concretos que podamos enumerar, sino que el objeto principal de nuestra labor deberá centrarse en trabajar la reputación de quien preste el servicio (profesional, clínica…). 
	p.
		Por ello, nosotros hacemos un <strong>seguimiento minucioso</strong> de cualquier aspecto en Internet que pueda influir en este objetivo, aumentando al máximo la relevancia de publicaciones positivas para la imagen de nuestro cliente. 

	h3.title.is-3 ¿Cuáles son los pasos que seguimos para conocer qué reputación tiene nuestro cliente en Internet?
	p.
		Nuestro método para obtener esta información, pasa por desarrollar las siguientes <strong>etapas</strong>: 
	ol
		li
			p.
				<strong>Control exhaustivo</strong> de todos los comentarios, opiniones o mensajes de cualquier tipo que sobre nuestra empresa se publiquen. 
		li
			p.
				<strong>Estudio de la cantidad de información y de la calidad</strong> de la misma que los usuarios tienen sobre nuestra empresa. 
		li
			p.
				<strong>Listado de conclusiones</strong>, a la vista de los datos obtenidos, sobre la reputación que consideramos que la empresa tiene en la Red, y previsión de posibles actuaciones a realizar en caso de que no se corresponda con la imagen que deseamos. 
	hr


	h2.title.is-2 2. Metodología en la gestión de reputación online
	h3.title.is-3 ¿Cómo actuamos en la realización de estos servicios?
	p.
		Las <strong>acciones de gestión de reputación online</strong> que llevamos a cabo, son: 
	ol(type="a")
		li
			p.
				Para realizar el seguimiento de todo lo que se publique sobre nuestro cliente, necesitaremos <strong>usar los instrumentos técnicos</strong> necesarios y la disposición de las alertas que <strong>nos avisen cuando se nombre</strong> a la empresa. 
		li
			p.
				A continuación será necesario <strong>localizar cuantas publicaciones negativas para nosotros existan</strong>, para tratar de hacer que <strong>pierdan posicionamiento</strong> en los resultados de búsqueda. Realizar esta labor conlleva necesariamente haber creado previamente un sistema de publicaciones en Internet que tenga buen posicionamiento para impedir que las publicaciones indeseables alcancen la primera página de resultados de búsqueda. 
		li
			p.
				En relación con el punto anterior, <strong>trabajaremos la relevancia de nuestra página y de las publicaciones bajo nuestro control</strong> para que aparezcan en las primeras posiciones de búsqueda. 
		li
			p.
				Realizar todas las tareas necesarias para <strong>promover e introducir comentarios favorables en redes sociales</strong>, lo cual repercutirá muy positivamente en nuestra reputación.
		li
			p.
				Por último, en los supuestos de <strong>agresiones a nuestra imagen</strong> por parte de la competencia o de un usuario con mala fe, o incluso como consecuencia de un error de la empresa, se actuará inmediatamente para <strong>atajar cuanto antes las consecuencias</strong> negativas que se puedan producir y disminuir los posibles daños. 
