- var active= {"category": "Médicos", "service": null}
- var title = "Marketing para Médicos - Braun Marketing & Consulting"
- var description = "¿Eres médico? ¿Te gustaría dar un empujón fuerte a tu marketing y hacerte un hueco en internet? Nosotros podemos ayudarte."
- var fraseHeader= "Para el quirófano se busca al experto, no al amigo. ¿Por qué no para tu Marketing Médico?"

-
    var faq = [
        {
            pregunta: "¿Es necesario contratar un servicio especializado en Marketing médico?",
            respuesta: "Sí, es aconsejable dejar la parte de marketing online a una agencia especializada en este sector. La agencia conoce el sector y las necesidades de los usuarios que están interesados en este servicio, por tanto, la agencia sabrá captar su atención y los convertirá en clientes potenciales."
        },
        {
            pregunta: "¿Qué ventajas tiene marketing online?",
            respuesta: "El marketing online no es solo que conozcan tu marca en internet, hoy día si tu negocio no está en internet no existes. Las principales ventajas del marketing online son:<ul><li>Globalidad, pasas de estar presente físicamente de forma local a estar presente de forma global en la red.</li><li>Es más económico, las acciones de marketing online son más económicas que las acciones de marketing tradicional.</li><li>Interactividad, puedes entablar conversaciones bilaterales con tu público objetivo.</li></ul>"
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing médico?",
            respuesta: "Es mejor contratar una agencia especializada en marketing médico por varias razones:<ul><li>El coste es menor, tener una persona en plantilla para las acciones de marketing online le costaría más a la empresa que delegar estas acciones a una agencia de marketing especializada en su sector.</li><li>La experiencia que tiene la agencia de marketing especializada en un sector y en el canal de internet no la tiene una persona de marketing online en plantilla.</li><li>La agencia de marketing médico son profesionales expertos en este sector.</li><li>La agencia de marketing puede realizar más servicios que una persona física.</li></ul>"
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: "No, las redes sociales son un medio para atraer tráfico a tu web. Es el canal donde interactúas directamente con tu público objetivo. Es muy importante cuidar las redes sociales y crear en ellas una comunidad en relación a tu marca."
        }
    ]