- var active= {"category": "Médicos", "service": null}
- var title = "Marketing para Médicos - Braun Marketing & Consulting"
- var description = "¿Eres médico? ¿Te gustaría dar un empujón fuerte a tu marketing y hacerte un hueco en internet? Nosotros podemos ayudarte."
- var fraseHeader= "Para el quirófano se busca al experto, no al amigo. ¿Por qué no para tu Marketing Médico?"