extends /partials/html-layout
include /mixins/layout.pug

block body
	+layout(menu, {"category": "Médicos", "service": null}, "Médicos")
	#content-wrapper


		include /partials/footer

	include /partials/form