- var active = {"category": "Marketing Farmacéutico", "service": "Google Ads"}
- var title = "Google Ads - Braun Marketing & Consulting"
- var description = "Si quieres aparecer en Google por encima de tu competencia te optimizamos tu campaña en Google Ads"

- var intro = "Cuando hablamos de contribuir al posicionamiento de nuestra web mediante <strong>Google Ads</strong>, sabemos que estamos refiriéndonos a un <strong>sistema de pago</strong>: se abona un precio para insertar un anuncio en el área patrocinada de la página de resultados de búsquedas de Google. Sin embargo, no es algo tan sencillo. Habremos de realizar un <strong>estudio en profundidad</strong> respecto de múltiples cuestiones técnicas para aplicar la táctica que nos permita sacar el máximo rendimiento a nuestra inversión en el anuncio."
- var video = ""