extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Introducción al concepto de Google Ads. Ventajas que aporta
	h3.title.is-3 ¿Cuál es el concepto de Google Ads?
	p Tal y como adelantábamos, Google tiene dispuesto un instrumento de inclusión de anuncios en su página de resultados de búsquedas. De este modo, realizando una puja, podremos posicionar el anuncio de nuestra web en el área patrocinada. 
	p Como hemos dicho, la puja es un criterio de gran importancia para el mejor posicionamiento dentro del área de anuncios, ya que en la medida en que se ofrezca un pago mayor, mejor será la posición en los resultados, al igual que ocurre con la palabra clave elegida: a mayor número de búsquedas y menor competencia, mejor posicionamiento.  Sin perjuicio de esto, también juega un papel importante #[strong cómo sea el anuncio] y el #[strong contenido de la web] de destino (aquella a la que se llega clicando en el enlace del anuncio). En este sentido, es de gran importancia dedicar amplios esfuerzos a dotar de calidad, con las palabras clave apropiadas, los anuncios y los textos de la web, ya que de este modo obtendremos una #[strong relevancia] para nuestro anuncio mayor, que en muchos casos puede suponer un mejor posicionamiento incluso con respecto a otros con mayor puja. 
	p Gracias a este sistema lograremos un #[strong triple beneficio]:

	ol
		li: p #[strong Visibilidad] casi inmediata.
		li: p #[strong Posicionamiento] a la altura de nuestra competencia.
		li: p El #[strong ROI], o retorno de la inversión, es rápido porque permite desviar el tráfico de potenciales clientes a nuestra web, habida cuenta de que podemos seleccionar a nuestro público por horas y lugares.


	h3.title.is-3 ¿De qué depende la eficacia de Google Ads?
	p Ya hemos visto las importantes y rápidas ventajas que proporciona este sistema. Sin embargo, hay dos criterios que ya hemos mencionado y que afectan de manera decisiva en el mayor o menor beneficio que obtengamos: 
	ol(type="a")
		li: p #[strong La puja]: El aumento del precio ofrecido y de la calidad de la palabra clave (muchas búsquedas y nivel de competencia) es directamente proporcional al mejor posicionamiento del anuncio. 
		li: p #[strong El anuncio y la web] de destino: Depende de cómo hayamos trabajado una cosa y otra, nuestro resultado será mejor o peor. Para ello, podemos hacer un <a href="#[+nextServiceURL()]">Benchmarking Farmacéutico</a> y estudiar otras páginas de aterrizaje.

	h3.title.is-3 ¿Podemos publicar otro tipo de anuncios?
	p La respuesta es que #[strong sí]. Además de los anuncios que hemos visto en los que, al realizar una búsqueda en Google aparecerían los anuncios que estuvieran relacionados con la misma, aparte lógicamente del resto de resultados, se pueden publicar #[strong anuncios que se reparten por redes sociales].
	p Estos anuncios les aparecen a los usuarios de dichas redes aunque el contenido que estén visualizando no tenga relación con el anuncio.
	p Evidentemente, al tratarse de anuncios que no se refieren a temáticas que estén buscando los internautas, conllevarán un #[strong mayor trabajo de creatividad], con mensajes que traten de enganchar a quien lo vea y diseño original. 
	p.has-text-centered
		img(src="/img/sem4.png" alt=active.service)
		
	hr

	h2.title.is-2 2. Actuaciones que desarrollamos en este ámbito
	h3.title.is-3 ¿Cuáles son los servicios que ofrecemos respecto del Google Ads?
	p Conociendo ya las ventajas que ofrece este sistema, y también las exigencias para su desarrollo, estamos en disposición de desglosar brevemente las #[strong acciones que podemos realizar] para lograr el mejor resultado respecto a nuestro anuncio.
	p En este sentido, estas actuaciones #[strong son]:
	ul
		li: p Fijación de un #[strong objetivo].
		li: p Determinación de las #[strong keywords].
		li: p Configuración del #[strong anuncio].
		li: p Creación o modificación de la #[strong página de destino].
		li: p Tramitación de la #[strong puja].

	h3.title.is-3 ¿Qué implica fijar un objetivo?
	p No podemos limitarnos a establecer una meta de carácter general, como mejorar el posicionamiento o lograr más ingresos para nuestro cliente.
	p Tenemos que localizar cuál es nuestro #[strong objetivo concreto] según la etapa en la que nos encontremos, para elaborar la táctica adecuada a dicho fin.
	p De este modo:
	ul
		li: p En un principio puede que nos interese #[strong crearnos un nombre], generar una marca reconocible por el público.
		li: p Después, posiblemente querramos que llegue un #[strong mayor número de visitantes] a nuestra página.
		li: p Cuando conseguimos que un número importante de usuarios llegue a nuestra web, nos interesará #[strong aumentar los datos de conversión], es decir, mejorar las ventas.
		li: p En muchos casos, también será interesante para la empresa, en según qué momento, fijarse como objetivo #[strong lograr más datos] del público objetivo que llega a nuestra web.


	h3.title.is-3 ¿Qué supone elegir las keywords?

	p Para que el anuncio que creemos aparezca, debemos establecer los términos que, una vez introducidos por el usuario en sus búsquedas, harán que dicho anuncio entre en acción.
	p Estas palabras y frases son las keywords o palabras clave, debiendo realizarse un #[strong estudio en profundidad] sobre cuáles son #[strong las más usadas] por los internautas cuando realizan búsquedas sobre páginas relacionadas con la temática que nos interese, y el #[strong nivel de competencia] que presenta cada una de ellas, para determinar las que nos conviene.
	p De este modo, si se realiza la estrategia de keywords de manera adecuada y minuciosa, lograremos dirigir mejor el anuncio al usuario tipo que responde al perfil que perseguimos y obtener para nuestro cliente el #[strong máximo de beneficio] posible respecto de la inversión en el anuncio. 
	p Por otro lado, en cuanto a los anuncios que aparecen en #[strong redes sociales], según lo que explicábamos anteriormente, al tratarse de mensajes cuyo contenido no es buscado expresamente por el usuario, deberemos hacer una labor de #[strong indagación de las características del cliente potencial], para afinar mejor respecto a quién le debe aparecer el anuncio, según su edad, sexo, lugar en que viva, capacidad económica, etc.


	h3.title.is-3 ¿De qué modo se configura el anuncio?

	p Deberemos tener en cuenta los siguientes aspectos:
	ol
		li: p #[strong Perfil del público objetivo]: Conociendo este dato podremos decidir a quién dirigir el anuncio, tiempo de activación de la campaña y horario. 
		li: p #[strong Diseño]: Habremos de emplearnos a fondo para desarrollar un diseño atractivo y original, adaptado al público que nos interese.
		li: p #[strong Contenido]: El texto del anuncio deberá proporcionar, en poco espacio, la información que el sujeto necesita para conocer la temática de nuestra web o servicio, incluyendo una llamada a la acción seductora.
		li: p #[strong Red]: Tendremos que seleccionar una de las tres opciones de red para el anuncio: La de #[strong búsqueda] (el anuncio aparecerá al usar el buscador, de tal modo que si el tema de su búsqueda es similar al de nuestra web, se activará el anuncio); la #[strong Display] (el anuncio aparecerá en la red de más de dos millones de páginas asociadas a Google, previa criba de todas aquéllas que no respondan al contenido, perfil de usuario, etc, que nos interese); #[strong remarketing] (para que el anuncio aparezca a un usuario de nuestra web cuando esté visitando otras páginas. Es una técnica muy usada por buscadores de hoteles y vuelos).


	h3.title.is-3 ¿De qué modo se configura la página de destino?
	p La web que se abra al internauta que clique en nuestro anuncio, habrá de resultarle #[strong agradable] en cuanto al aspecto externo para invitarle a leer su contenido, el cual tendrá que ser #[strong interesante] y aportarle valor, si queremos que no salga de la página inmediatamente. 
	p Para lograr estos fines, será necesario examinar la web que haya, o en caso de que el cliente no tenga una, crearla según los criterios expuestos.

	h3.title.is-3 ¿Qué acciones se puede desarrollar respecto a las pujas?
	p Son #[strong dos las actuaciones ]que, principalmente, podemos desarrollar en cuanto a la puja del precio del anuncio, siempre bajo la premisa ya conocida de que cuanto mayor sea dicho precio, mejor será el posicionamiento:
	p En primer lugar, tendremos que informarnos, con el examen preceptivo y las herramientas necesarias, sobre las #[strong palabras clave] que ofrecen un mayor interés por su cantidad de búsquedas y competencia.
	p En segundo lugar, habrá de elegirse una #[strong manera de realizar el pago] que responda mejor a nuestros intereses, ya sea por #[strong CPC], o pago por clic, por #[strong CPM], o pago por mil impresiones, o bien por #[strong CPA], o pago por adquisición.


