- var active = {"category": "Marketing Odontológico", "service": "Apps"}
- var title = "Apps, aplicaciones para móvil - Braun Marketing & Consulting"
- var description = "¿Quieres que tu empresa tenga Apps para móvil, tablets o ipad? Diseñamos apps nativas específicas para cada plataforma."

- var intro = "Actualmente el uso de los dispositivos móviles esta en continuo crecimiento. Los usuarios pasan el 90% del tiempo que están con su dispositivo móvil en las <strong>Apps</strong>. ¿Te has planteado crear una aplicación móvil relacionada con el sector sanitario? Podrás captar más usuarios y conseguir más beneficios para tu empresa."
- var video = ""
