extends /partials/services-layout

block variables
	include _variables
block content


	h2.title.is-2 ¿Por qué es importante tener una Apps en tu empresa?
	h3.title.is-3 ¿Qué son las aplicaciones móviles?
	p Las #[strong aplicaciones móviles] o #[strong Apps] son un software con diferentes funcionalidades que se instala en un dispositivo móvil. El objetivo principal de las aplicaciones móviles es satisfacer las diferentes necesidades del usuario con las funcionalidades de estas.
	p En muchas ocasiones se confunden los términos de #[strong App para móvil] y sitios web móviles, la principal diferencia entre estos dos conceptos es que la primera se debe descargar e instalar en el dispositivo móvil y la segunda no es necesario, ya que se puede acceder a ella mediante el navegador de internet. En otras palabras una App para móvil es un software y un sitio web móvil son páginas web adaptadas para estos dispositivos.

	h3.title.is-3 ¿Qué aportan las #[strong Apps] a tu estrategia de marketing online?
	p La #[strong creación de Apps] aporta un gran valor añadido a tus estrategias de marketing digital, ya que creas un nuevo canal de difusión en el medio online para tus clientes. Con el desarrollo de Apps consigues un valor diferencial con respecto a tus competidores. En el sector actualmente, existe más oferta que demanda, por tanto, para conseguir captar pacientes necesitas aportarles un valor añadido y diferenciarte de tus competidores, con las aplicaciones móviles lo consigues.
	p Existen diferentes tipos de Apps que se pueden desarrollar para tu negocio, como son:
	ul
		li #[strong Branding]: Se pueden crear aplicaciones móviles corporativas en las que su único objetivo es transmitir los valores de marca a los usuarios. Con estas aplicaciones consigues aumentar tu notoriedad de marca.
		li #[strong Fidelizar clientes]: Este tipo de aplicaciones tienen la capacidad de dar a conocer de manera directa de nuevos servicios y/o descuentos, promociones etc.
		li #[strong Marketing de contenidos]: Estas aplicaciones se utilizan para difundir contenidos de la empresa. Son aplicaciones donde sólo se publica contenido de interés para el usuario. Con estas aplicaciones móviles consigues resolver dudas y aportar un gran valor añadido a tus pacientes.
		li #[strong Comunicación]: Se pueden utilizar como un canal de atención al cliente o para emitir comunicados.
		li #[strong Canal de venta (mCommerce)]: La aplicación puede ser otro canal de venta de tus productos o servicios.
	p Independientemente del tipo de Apps que se desarrolle, todas están enfocadas en generar negocio directa o indirectamente para tu empresa.
	p Aparte del objetivo de marketing que satisfacemos con los diferentes tipos de aplicaciones móviles, todas ellas generan otros beneficios muy importantes para tu empresa como son:
	ul
		li #[strong Aumenta la notoriedad de marca]: Con las Apps generas una mayor visibilidad y engagement de tu marca, por lo que existe mayor posibilidad de captar nuevos pacientes.
		li #[strong Dar a conocer tus servicios o productos]: Con las aplicaciones móviles puedes promocionar tus productos o servicios.
		li #[strong Mejora el retorno de inversión (ROI)]: El desarrollo de una Apps conlleva una inversión, pero si la aplicación es útil para el usuario recibirás un buen retorno de la inversión. Si has dejado el diseño, creación y desarrollo de tu Apps en manos de profesionales, recuperarás la inversión a corto plazo.
	h3.title.is-3 ¿Qué modelos de negocio online se pueden implementar en las #[strong Apps para móvil]?
	p Con la creación de una aplicación móvil se puede crear un nuevo canal de monetización. Los usuarios cada vez pasan más tiempo con su dispositivo móvil que en el ordenador, por ello muchas empresas están orientando su estrategia de negocio en internet en la creación de Apps.
	p Existen varios modelos de negocios para monetizar tu aplicación móvil, pero antes de elegir alguno debes conocer sus características a la perfección.
	ul
		li #[strong Premium]: En las aplicaciones premium se cobra un importe fijo por la descarga de la misma. Con esto la empresa tiene unos ingresos fijos por cada descarga, en este tipo de aplicaciones se consigue un mejor engagemet. Es un modelo ideal para App que se centran en un nicho en concreto.

	hr

	h2.title.is-2 Nuestra metodología en el Desarrollo de Apps
	h3.title.is-3 ¿Cómo es nuestro #[strong desarrollo de Apps]?
	p En Braun Marketing and Consulting contamos con un equipo altamente cualificado en el diseño, creación y desarrollo de aplicaciones móviles. Además de ser una agencia de marketing online y consultoría especializada en el sector sanitario.
	ul
		li #[strong Estudio previo del sector]: Ante de empezar con el diseño y la creación de aplicaciones móviles, realizamos un estudio exhaustivo del sector. Analizamos tanto las necesidades de tu público objetivo como tu competencia. Con esto la aplicación tendrá un valor diferencial de tus competidores y le aportará a tu público objetivo un valor añadido.
		li #[strong Diseño de Apps]: El diseño de aplicaciones móviles es esencial para que en el futuro esta funcione. Nuestros diseñadores de Apps tienen en cuenta aspectos fundamentales de y usabilidad. El App Store Optimization, ASO, son estrategias enfocadas al posicionamiento de la Apps en las tiendas virtuales. Para que tu aplicación tenga un buen posicionamiento y los usuarios que naveguen por ella tengan una buena experiencia. Realizamos wireframe y mock up diferentes para cada sistema operativo, Android e iOS. El diseñador otorga una personalidad diferente a cada sistema operativo, ya que cada uno tiene sus propias particularidades respecto al diseño.
		li Nuestros programadores desarrollarán su aplicación móvil dependiendo de si la Apps se diseñarán para Android, iOS o en ambas. Los lenguajes de programación que utilizamos para la creación de Apps son Java, C++, Swift o C Sharp.
	p No dude en ponerse en contacto con nosotros para la creación de #[em Apps], somos una #[strong agencia de marketing online especializada en el sector sanitario]. Tenemos una gran experiencia desarrollando #[em aplicaciones móviles] en este sector, por lo que conocemos a la perfección las necesidades de su público objetivo y cómo satisfacerlas mediante App móvil.

