- var active = {"category": "Farmacéuticos", "service": "Crear Página Web"}
- var title = "Crear Página Web - Braun Marketing & Consulting"
- var description = "No te lo pienes más. Te ayudamos a crear tu página web y a tener contacto con tu cliente por internet."

- var intro = "Crear una página web implica prever y trabajar toda una serie de factores relacionados con el aspecto externo y de usabilidad de la página que influirán en la opinión que los usuarios de la misma se formen respecto del servicio, producto o negocio que se plantee en la web."
- var video = ""