- var active = {"category": "Médicos", "service": "Analítica Web"}
- var title = "Analítica Web para Médicos - Braun Marketing & Consulting"
- var description = "Con nuestros informes de analítica web podrás saber el comportamiento de tus usuarios web y así tomar decisiones para mejorar el rendimiento de la misma."

- var intro = "Cualquier empresario puede dar fe de la importancia para el crecimiento de su negocio que tiene una correcta llevanza de las métricas de su empresa. Sólo conociendo al milímetro los resultados que se van obteniendo, buenos o malos, con cualquier acto o decisión en la empresa, podremos saber si vamos por el buen camino o tenemos que rectificar. Mediante la analítica web podremos reunir los datos que nos interesen sobre los resultados de nuestra estrategia de marketing, y hacer las correcciones oportunas para que no nos desviemos del camino al éxito"
- var video = ""