- var active = {"category": "Médicos", "service": "Analítica Web"}
- var title = "Analítica Web para Médicos - Braun Marketing & Consulting"
- var description = "Con nuestros informes de analítica web podrás saber el comportamiento de tus usuarios web y así tomar decisiones para mejorar el rendimiento de la misma."

- var intro = ""
- var video = ""