- var active = {"category": "Veterinarios", "service": "Social Media Plan"}
- var title = "Social Media Plan - Braun Marketing & Consulting"
- var description = "Pon en manos profesionales tu Social Media Plan y ten una imagen profesional en las redes sociales."

- var intro = ""
- var video = ""