- var active = {"category": "Marketing Odontológico", "service": null}
- var title = "Marketing Odontológico - Braun Marketing & Consulting"
- var description = "¿Eres Odontólogo? ¿Te gustaría dar un empujón fuerte a tu marketing y atraer nuevos pacientes? Nosotros nos encargamos."
- var intro = "Cervantes dijo que \"una boca sin muelas, es como un molino sin piedra\". Nosotros pensamos que una clínica dental sin Marketing, es una boca sin muelas que arreglar..."

-
    var faq = [
        {
            pregunta: "¿Es necesario invertir en una Agencia especializada en Marketing Odontológico?",
            respuesta: `<p>La respuesta a esta pregunta es un sí rotundo. Hoy en día <strong>internet está evolucionando muy rápidamente y el número de usuarios cada vez es mayor</strong>. Por tanto, es muy interesante invertir en una agencia especializada enmarketing odontológico.</p>
            <p>Existe hoy día una gran competencia en el mundo offline, pero es que en el mundo online la competencia es aún mayor. <strong>Si no contratamos una agencia especializada en marketing odontológico la competencia nos estará arrebatando muchos clientes potenciales. </strong>Tenemos que tener en cuenta que pasamos de competir a nivel local a competir a nivel global.</p>
            <p>Muchas empresas trasladan sus estrategias de marketing tradicional a internet, y esto no funciona. Otra ventaja de invertir en una agencia de marketing online es que esta es <strong>especialista en las acciones de marketing que se deben llevar a cabo en este medio. En nuestro caso somos especialistas en tu sector</strong>, conocemos de primera mano tu consumidor y sabemos llegar a él de manera más eficiente.</p>
            <p><strong>Las agencias de marketing online estamos actualizándonos continuamente</strong>, debido a que el algoritmo de los buscadores (Google, Yahoo y Bing) y el <strong>comportamiento de los consumidores en internet cambia constantemente</strong>. Esto para tu empresa es una gran ventaja, ya que cuando haya algún cambio serás de los primeros en adaptarte a él y con esto ganar posiciones, visibilidad, clientes y obtener beneficios.</p>
            <p><strong>En internet cualquier empresa, sea pequeña o mediana, puede competir con cualquier multinacional de su sector</strong>, eso sí siempre que lleve unas acciones de marketing online adecuadas y esté asesorado o gestionado por una agencia especializada.</p>
            <p>En nuestra agencia de marketing odontológico <strong>contamos con una serie de herramientas de pago</strong> específicas para cada acción de marketing que tu empresa necesita, además de un <strong>equipo informático muy potente</strong>. Esto si lo extrapolamos a una empresa sería un coste muy elevado.</p>
            <p>Por toda esta serie de ventajas debes delegar tus acciones de marketing online a una agencia especializada en marketing odontológico, porque como todo en la vida cada uno es bueno en su profesión, y es de sabios saber delegar para que tu marca esté bien posicionada y sea visible en internet. Ten en cuenta que hoy más que nunca si no estás en internet no existes.</p>`
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing Odontológico?",
            respuesta: `<p>Es mejor contratar a una agencia especializada en <em>marketing odontológico</em> que contratar a un equipo de dos o tres personas en plantilla para que realicen las tareas de marketing online necesarias para tener una mínima imagen correcta en internet.</p>
            <p>Las principales razones son las siguientes:</p>
            <ul>
                <li><strong>Es más económico</strong>, reducir costes es un factor principal para cualquier empresa y <strong>contratando a una agencia de marketing online tu empresa reducirá costes</strong>. El trabajo que realizan en la agencia no es viable trasladarlo a una empresa, debido a que la agencia tiene un grupo de profesionales especialistas en muchas ramas del marketing online como: Estrategia online, publicidad online, redacción de contenidos, desarrollo web, redes sociales, diseño gráfico, comunicación corporativa etc. Tener un grupo de profesionales en tu empresa que sean buenos en estos ámbitos conlleva una gran inversión y un coste de mantenimiento que solo las multinacionales pueden soportarlo, aun así, las multinacionales siguen contando con agencias especialistas como nosotros en algunos aspectos.</li>
                <li><strong>Experiencia</strong>, en el trabajo diario de una agencia de marketing para odontólogos tenemos una <strong>gran cantidad de proyectos de este sector</strong>, esto conlleva a que <strong>conocemos de primera mano a tu público objetivo y su comportamiento en internet</strong>, esto nos da una gran ventaja a la hora de planificar acciones de marketing online ya que conocemos sus necesidades e inquietudes.</li>
                <li><strong>Facilidad de cambio</strong>, este factor es muy importante ya que cuando la empresa no esté contenta con los resultados de la agencia, puede cambiar de proveedor rescindiendo el contrato. Cuando no estas contento con los trabajadores en plantilla que llevan las acciones de marketing online es <strong>más complicado porque entran en juego despidos, indemnizaciones</strong>, lo cual se convierte en más costes y una gestión muy tediosa.</li>
            </ul>`
        },
        {
            pregunta: "¿Puedo conseguir más clientes con el marketing online?",
            respuesta: `<p>El marketing online es una buena herramienta para captar nuevos clientes en internet, pero también lo podemos utilizar para algo mucho más difícil que es mantener a los clientes que ya tenemos, es decir fidelizarlos.</p>
            <p>En primer lugar, debemos de tener <strong>una buena estrategia de marketing online</strong>, esta será la base de todo lo que hagamos en internet, para ello es importante dejar el marketing odontológico de tu empresa en manos de profesionales que sabrán sacarle el mayor partido a tu presencia en internet.</p>
            <p>Algunos consejos para captar clientes mediante el marketing online son los siguientes:</p>
            <ul>
                <li>Crea <strong>contenidos de calidad</strong> y que sean útiles para tu público objetivo.</li>
                <li><strong>Cuida la imagen de tu sitio web</strong>, ya que este es tu escaparate en internet.</li>
                <li><strong>Interactúa mediante las redes sociales</strong> con tu comunidad, no solo las utilices como un canal de venta.</li>
                <li>Crea contenido actualizado y de calidad en tu blog para <strong>convertirte en un referente de tu sector</strong>.</li>
            </ul>
            <p>Para conseguir un mayor número de clientes con el marketing online debemos de crear una buena imagen de marca en internet y cuidar a nuestros clientes, no sólo por hacer algunas acciones de marketing online de vez en cuando, vamos a conseguir un buen número de clientes.</p>`
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: `<p>Sé que te habrás preguntado esto más de una vez, las redes sociales en nuestra opinión <strong>sí sirven para aumentar las ventas de tu empresa</strong>, pero no por el mero hecho de tener un perfil en algunas redes sociales vas a tener un mayor número de ventas.</p>
            <p>La gestión de redes sociales debe de realizarla una agencia especializada en marketing odontológico, ya que esta podrá sacarles un mayor partido a tus redes sociales y por consiguiente un mayor número de ventas.</p>

            <p>Las principales ventajas de tener unas redes sociales optimizadas son:</p>
            <li><strong>Atraer mayor tráfico</strong>, con una buena gestión de tus redes sociales podrás aumentar el tráfico <strong>de tu sitio web y en este conseguir que los usuarios compren el producto o servicio</strong>. Es muy importante tener un sitio web bien optimizado, sino podríamos perder la venta.</li>
            <li><strong>Vender</strong>, desde las redes sociales se puede vender, pero esto depende del producto o servicio.</li>
            <li><strong>Promoción</strong>, es ideal para promocionar tu producto o servicio, o incluso tu negocio ya sea de forma orgánica o de pago.</li>
            <li><strong>Imagen de marca</strong>, es muy importante este factor para tu empresa y en las redes sociales es donde podemos <strong>transmitir nuestros valores de marca</strong> a nuestra comunidad. Los usuarios utilizan las redes sociales como medio para comparar y conocer productos o servicios, si tienes una mala imagen de marca nadie te comprará, si cuidas tu imagen de marca los usuarios se interesarán por tu marca y serán posibles clientes potenciales.</li>`
        }
    ]





