extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Qué es y por qué es importe el PPC. Clases de anuncios

	h3.title.is-3 ¿Cómo funciona el PPC?
	p Como adelantábamos, mediante el #[strong PPC] podemos dotar de una gran #[strong visibilidad] a nuestra web a cambio del pago del correspondiente #[strong precio] a Google.
	p En la página de resultados de búsquedas de Google hay un apartado, al inicio y al final, que está reservado para anuncios, pero dentro de ese apartado la página aparecerá en mejor o peor posición #[strong dependiendo de la puja], es decir, el dinero que nos gastemos en la campaña, #[strong el contenido de nuestra web y cómo sea el anuncio] en sí mismo. 

	h3.title.is-3 ¿Por qué es importante el PPC?
	p La #[strong relevancia del PPC] viene dada por los siguientes aspectos:
	ol
		li: p Nuestra web será #[strong visible] de manera casi automática.
		li: p Podremos #[strong competir] directamente contra nuestra competencia directa, aunque se trate de empresas importantes.
		li: p Gracias a los puntos anteriores, lograremos atraer a nuestra página a una mayor cantidad de personas, sujetos que además responderán al perfil que nos interese, ya que habremos podido seleccionar, por hora y sitio, la aparición del anuncio. Por tanto, el pago del precio que hayamos hecho para lanzar la campaña será #[strong amortizado] rápidamente. Es el retorno de la inversión o ROI.

	h3.title.is-3 ¿De qué depende que podamos sacar el máximo partido a estas ventajas?
	p Como mencionábamos más arriba, hay #[strong dos aspectos] que tendremos que tener muy en cuenta para obtener en su máxima expresión los beneficios enumerados: 
	ol(type="a")
		li: p #[strong La puja es el criterio fundamental], ya que, como es lógico, a mayor precio pagado, con una palabra clave que presente mejor nivel de competencia y  búsquedas, mejor posicionamiento. 
		li: p A pesar de lo dicho en el punto anterior, #[strong nunca deberemos descuidar el contenido de nuestra web y el aspecto y mensaje del anuncio], con una elección de keywords apropiada. Tanto es así, que logrando que nuestra página interese a muchos usuarios atraídos por el anuncio, aumentaremos el valor de la misma, de modo que alcanzando una relevancia importante podríamos incluso superar a webs con una puja mayor.

	h3.title.is-3 ¿Cuáles son las clases de anuncios que tenemos?
	p Durante la explicación anterior hemos estado refiriéndonos a anuncios que se activan cuando un usuario introduce unas determinadas expresiones en el cuadro de búsqueda de Internet, expresiones que se comparecen con la temática de nuestra web. En ese instante, en los resultados de la búsqueda aparecerá nuestro anuncio en el área correspondiente.
	p Sin embargo, también existen otros anuncios que van dirigidos a su aparición en redes sociales, apareciendo al usuario que entra en una de ellas para visualizar la página de algún contacto. Para saber dónde debemos realizar los anuncios, podemos hacer un <a href="#[+nextServiceURL()]">Benchmarking Veterinario</a> y ver lo que hace nuestra compoetencia.
	p Al tratarse de anuncios cuya temática no ha sido expresamente buscada por el usuario, deberemos intentar que presente un gran atractivo, tanto respecto de sus textos como de las imágenes o vídeos que contenga. 
	p.has-text-centered
		img(src="/img/sem1.png" alt=active.service)
	hr

	h2.title.is-2 2. Nuestros servicios PPC
	p Pasando a la práctica, tras hacer esta introducción al concepto del #[strong PPC], daremos una pequeña explicación de las #[strong actuaciones] que llevaremos a cabo para prestar este servicio. Son:
	ul
		li: p Delimitación del #[strong objetivo] a alcanzar.
		li: p Elección de las #[strong keywords].
		li: p Elaboración del #[strong anuncio].
		li: p Elaboración o modificación de la #[strong web].
		li: p Conformación de la estrategia para la #[strong puja].

	h3.title.is-3 ¿Por qué es importante delimitar nuestro objetivo?
	p Según la situación del cliente o la etapa en la que se encuentre, puede tener como prioridad lograr una #[strong finalidad] u otra. Dependiendo de cuál sea esa prioridad, deberemos #[strong amoldar nuestra actuación PPC] para dirigirla a dicho objetivo.
	p De este modo, podemos querer:
	ul
		li: p Aumentar los números de #[strong visitas a la web].
		li: p Obtener mayor relevancia para la marca (#[strong branding]).
		li: p Aumentar los #[strong ingresos] por ventas.
		li: p Disponer de más #[strong datos sobre los visitantes] de la página.

	h3.title.is-3 ¿Por qué hacer una buena elección de palabras clave?

	p Necesitamos saber en qué momento se debe activar nuestra campaña, y aparecer el anuncio que hayamos creado. El criterio para que esto tenga lugar, es el del uso de la keyword, o palabra clave, que hayamos elegido.
	p Se trata de que cuando un internauta haga una búsqueda en Google, #[strong aparezca nuestro anuncio cuando emplee la palabra clave seleccionada].
	p La pregunta, por tanto, sería ¿Cómo hacer esta selección?
	p Sin duda, deberemos hacer un #[strong minucioso estudio] de qué expresiones usan las personas que desean obtener una información o un servicio relacionado con la temática de nuestra página, así como sobre el nivel de competencia y búsquedas de la keyword. Obtenida las palabras clave que nos interesen, lograremos facilitar al cliente el #[strong máximo de rendimiento] a la suma invertida en la campaña y que la misma se dirija al internauta que responda al perfil de su público objetivo.
	p Por otro lado, respecto de anuncios que aparezcan en las redes sociales, la labor de estudio de la keyword se referirá a conocer qué tipo de usuario frecuenta cada una de ellas. De este modo, analizaremos su media de edad, sexo, lugar de residencia, capacidad adquisitiva, aficiones, etc. 

	h3.title.is-3 ¿Cuál es la dificultad de elaborar el anuncio y de crear o adaptar la web?
	p En cuanto al #[strong anuncio], al igual que ocurre con las keywords, es más que interesante conocer el perfil del usuario que interesa. Se hará el estudio correspondiente al respecto para tomar las medidas convenientes dirigidas a que el anuncio #[strong aparezca al tipo de internauta elegido], así como la duración y horario de la campaña.
	p Determinados los aspectos anteriores, se elaborará un anuncio con un #[strong diseño] atractivo y seductor, que llame la atención del usuario, pero al mismo tiempo, que le proporcione, mediante el #[strong texto] que contenga, la suficiente información como para que pueda saber de qué se trata.
	p Finalmente, se incluirá una #[strong llamada a la acción] que enganche al mayor número de personas posible.
	p Por último, seleccionaremos la #[strong red en la que aparecerá] el anuncio: #[strong la de búsqueda], para que aparezca cada vez que un usuario busque algo en Google que guarde relación con el tema de nuestra web; la #[strong Display], en cuyo caso el anuncio aparecerá en la red de más de dos millones de webs y aplicaciones asociadas a Google, previa delimitación de la que nos interese por su contenido, tipo de visitantes, lugar, etc; o el #[strong remarketing], mediante el que lograremos que nuestro anuncio aparezca a un visitante de nuestra web, cuando entre a otras. Es el sistema usual entre buscadores de hoteles y vuelos.
	p En segundo lugar, en cuanto a la #[strong web de destino], la crearemos o modificaremos, según esté hecha o no, con el fin de que sea un anuncio con una #[strong forma y contenido] interesante para el usuario. De este modo, se trabajará el diseño y los textos, según el perfil de usuario que busquemos.

	h3.title.is-3 ¿En qué se basa la estrategia para la gestión de pujas?
	p El punto de partida, es la máxima del mercado: #[strong a mayor precio pagado, mejor posicionamiento]. Aunque ya hemos visto que no todo depende del dinero invertido, es fundamental disponer de una estrategia de gestión de pujas estudiada.
	p En este sentido, debemos, una vez más, tener especial cuidado en las #[strong palabras clave] que seleccionamos, para que nuestra inversión sea la más acertada desde el punto de vista de la competencia y búsquedas de la keyword.
	p Por otro lado, tampoco debemos olvidar elegir el mejor #[strong sistema de pago] para nuestro caso en concreto, ya sea mediante el #[strong pago por cada clic], o CPC, el #[strong pago por mil impresiones], o CPM, o el #[strong pago por cada venta], o CPA.
