- var active = {"category": "Marketing para Fisioterapeutas", "service": "Análisis Web"}
- var title = "Análisis Web para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Con nuestro Análisis Web podrás saber el comportamiento de tus usuarios que ayudarán a estar en continuo mejoramiento web."

- var intro = "Si preguntamos a cualquier experto en emprendimiento y gestión de empresas, nos dirá que tratar de hacer viable nuestro negocio sin llevar un <strong>control exhaustivo de las cifras</strong> que arrojan los resultados de cada actuación que llevamos a cabo, será absolutamente imposible, ya que no podremos saber qué decisión ha dado buen resultado y en qué medida, y que modificaciones debemos hacer para corregir las desviaciones de nuestras previsiones. De este modo, y relacionado con ello, en el caso de la web de nuestra empresa ocurre exactamente igual, debiendo llevar a cabo un <strong>análisis web</strong> de todos los aspectos de la misma para lograr que dé los frutos que deseamos."
- var video = ""