extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Cómo definimos el análisis web. Consideraciones a su importancia
	h3.title.is-3 ¿Cómo podemos definir el análisis web?
	p.
		Con la expresión <strong>análisis</strong> web queremos hacer mención a la recopilación de información sobre los resultados de las estrategias de marketing de fisioterapia objeto de estudio, que nos permita verificar la evolución, presumiblemente positiva, de los números de nuestra empresa como consecuencia de la aplicación de una estrategia determinada.
	p.
		No hablamos simplemente de contar visitas o ventas, sino de toda una labor de <strong>procesamiento de todo tipo de datos</strong> de modo que podamos comprender y estudiar cómo se relacionan los usuarios con la web, con el objeto de mejorarla.

	h3.title.is-3 ¿Cuál es la razón de la relevancia del análisis web?
	p.
		Si conseguimos que los usuarios de nuestra web encuentren la mayor <strong>satisfacción</strong> posible con el uso de la página, más positivas serán las cifras de nuestros <strong>resultados</strong>. Para aumentar ese índice de satisfacción, necesitamos recopilar cuantos más <strong>datos útiles</strong> sobre ellos podamos obtener: sus gustos, hábitos, intereses, etc, para <strong>adaptar</strong> nuestra página web y nuestros servicios según dicha información nos aconseje. Y esta labor es, precisamente, la que constituye el <strong>análisis web</strong>. 


	hr
	h2.title.is-2 2. Métodos de análisis web
	h3.title.is-3 ¿Qué acciones llevamos a cabo?
	p.
		Distinguiremos <strong>siete etapas</strong> en el desarrollo de estas actuaciones:
	ol
		li <strong>Seleccionar los instrumentos</strong> más adecuados y las <strong>métricas</strong> más apropiadas <strong>según el tipo de sitio web</strong> que tengamos, ya sea un blog, landing page o ecommerce.
		li <strong>Determinar las variables</strong> que serán objeto de análisis, y que se constituirán una vez que hayamos decidido cuáles son nuestros objetivos y KPI´s, o indicadores claves del rendimiento a usar.
		li <strong>Fijar el plazo</strong> durante el que realizaremos estas tareas de recopilación de información y análisis de los datos obtenidos.
		li <strong>Elegir los instrumentos para medir los indicadores</strong>.
		li <strong>Definir y llevar a cabo el plan de medición</strong>.
		li <strong>Estudiar la información</strong>, confirmar que se cumplen los objetivos prefijados y elaborar informes.
		li <strong>Llevar a cabo las modificaciones</strong> que se presentaran como aconsejables o imprescindibles con la finalidad de lograr los objetivos marcados.

	h3.title.is-3 ¿Cuáles son los elementos de medición a tener en cuenta?
	p.
		Nos estamos refiriendo a las <strong>métricas</strong>, esto es, la información que nos da cuenta sobre los resultados que arroja nuestra web, y que nos servirá para mejorarla.
	p.
		Los datos más importantes son los referidos a la <strong>cantidad de visitas</strong> de la página, las <strong>visitas únicas</strong>, las <strong>visitas nuevas</strong> en porcentaje, la media del <strong>tiempo que duran las visitas</strong>, las <strong>páginas de entrada</strong> y la <strong>tasa de rebote</strong>.
	p.
		Al mismo tiempo, también hemos de tener en consideración los datos que nos vienen dados como resultado de las acciones de análisis web que hayamos llevado a cabo. Se trata de las llamadas <strong>métricas avanzadas</strong>, que habrá que relacionar con los objetivos que nos marcáramos, y que serán, por consiguiente, diferentes para cada caso.

	h3.title.is-3 ¿Qué variables se estudian en las métricas avanzadas?
	p.
		Como hemos dicho, las métricas avanzadas vienen condicionadas por los <strong>objetivos</strong> concretos que nos hayamos fijado, por lo que se analizan extremos distintos según los supuestos. 
	p.
		Podemos poner dos <strong>ejemplos</strong> prototípicos:
	ol(type="a")
		li Si nuestro <strong>objetivo es la fidelización de usuarios</strong>, en cualquier sitio web que desarrolle contenidos (un blog, una página de noticias, etc), deberemos tener muy en cuenta variables como el porcentaje de <strong>usuarios nuevos</strong>, el <strong>tiempo</strong> que cada uno de ellos permanece en el sitio, la <strong>cantidad de páginas</strong> que ve dentro del sitio (profundidad de la visita), los visitantes que llegan a suscribirse al sitio o el número de ellos que <strong>comparten</strong> su contenido.
		li Si, en cambio, nuestro <strong>objetivo es aumentar el número de ventas</strong>, porque tengamos una página para vender uno o varios productos, por ejemplo, tendremos que recoger información como la suma que, de media, <strong>se gasta cada usuario en sus pedidos</strong>, simplemente dividiendo los ingresos por la cantidad de ventas.
	p.
		También nos interesará conocer cuántas visitas acaban transformándose en ventas, lo que se conoce como la <strong>tasa de conversión</strong>.
	p.
		Por último, también será importante tener en cuenta <strong>cuántas ventas se producen por cada visita</strong>.
