- var active = {"category": "Farmacéuticos", "service": "Redes Sociales"}
- var title = "Redes Sociales - Braun Marketing & Consulting"
- var description = "¿Aún no estás en las redes sociales? No tardes más y déjalo en nuestras manos."

- var intro = ""
- var video = ""