- var active = {"category": "Médicos", "service": "Social Media Marketing"}
- var title = "Social Media Marketing para Médicos - Braun Marketing & Consulting"
- var description = "Si quieres tener redes sociales y que tenga una imagen profesional y actualizada nuestros servicios de Social Media Marketing son los que necesitas."

- var intro = "En este apartado vamos a entrar a analizar la importancia, creciente en nuestros días, del social media marketing, así como las diferentes redes sociales en las que se desarrolla la actividad que vamos a describir. Sin duda, se trata de uno de los aspectos que mayor relevancia está tomando en el mundo del marketing y al que deberemos prestar una especial atención"
- var video = ""