- var active = {"category": "Médicos", "service": "Social Media Marketing"}
- var title = "Social Media Marketing para Médicos - Braun Marketing & Consulting"
- var description = "Si quieres tener redes sociales y que tenga una imagen profesional y actualizada nuestros servicios de Social Media Marketing son los que necesitas."

- var intro = ""
- var video = ""