include /mixins/header-text
include /mixins/topbar

mixin header(text, containerId)
    header.hero.is-fullheight.is-primary.abs-container(id=containerId)
        div.absolute-full
        +topbar
        +header-text(text)