mixin navbar(menu, active)
  .hero-footer.menu-wrapper
    .menu
      if active.category
        nav.tabs.is-fullwidth#nav-services
          ul
            each service, ser_name in menu.categories[active.category].services
              li(class=(ser_name == active.service) ? 'is-active' : 'is-hidden-mobile')
                a(href="/"+menu.categories[active.category].slug+"/"+service.slug)= ser_name
      //- else
      //-   nav.tabs.is-boxed.is-fullwidth.is-medium#nav-categories
      //-     ul
      //-       each category, cat_name in menu.categories
      //-         li(class=(cat_name == active.category) ? 'is-active' : 'is-hidden-mobile')
      //-           a(href="/"+category.slug)= cat_name