mixin nosotros()
    section.hero.is-light
        .hero-body.has-text-centered
            .container
                .columns.align-bottom
                    .column
                        h2.title ¿Necesitas ayuda?
                        h3.subtitle Te asesoramos sin compromiso
                        .columns
                            .column
                                p
                                    a.button.is-large.is-primary.is-rounded
                                        span.icon.is-white
                                            i.fa.fa-phone
                            .column
                                p
                                    a.button.is-large.is-primary.is-rounded
                                        span.icon.is-white
                                            i.fa.fa-envelope
                    .column
                        h2.title Síguenos en las redes
                        h3.subtitle Mantente al día con todos nuestros canales de información
                        .columns
                            .column
                                p
                                    a.button.is-large.is-primary.is-rounded
                                        span.icon.is-white
                                            i.fa.fa-facebook
                            .column
                                p
                                    a.button.is-large.is-primary.is-rounded
                                        span.icon.is-white
                                            i.fa.fa-twitter

