mixin servicios(title)
    div.services-wrapper
        section.hero.is-info.is-service-sticky
            span.title-wrapper
                .hero-body.hero-title
                    .container
                        h2.title.is-spaced= title
            span.nav-wrapper
                .hero-body#nav-services
                    .container
                        .tabs.is-medium.is-boxed
                            ul.has-text-centered
                                each service, ser_name in menu.categories[active.category].services
                                    li(class=(ser_name == active.service) ? 'is-active' : ''): a(href="/"+menu.categories[active.category].slug+"/"+service.slug)= ser_name
