mixin testimonios()
	section.hero.is-light
		.hero-body
			.container
				h2.title Testimonios
				article.media
					figure.media-left
						p.image.is-128x128
							img(src='http://bulma.io/images/placeholders/128x128.png')
					.media-content
						p.subtitle: strong John Smith
						p.quote.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quae tempora vitae magnam temporibus qui expedita reiciendis saepe quam voluptatibus veritatis, sapiente cupiditate molestiae dolorem, est rerum nemo modi sit?
				article.media
					figure.media-left
						p.image.is-128x128
							img(src='http://bulma.io/images/placeholders/128x128.png')
					.media-content
						p.subtitle: strong John Smith
						p.quote.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos illum aperiam similique. Libero, quaerat. Sequi veniam a ipsum praesentium laudantium modi hic nostrum fugiat, numquam sint exercitationem cupiditate accusamus inventore!