mixin topbar()
  .hero-head
    nav.nav
      .nav-left
        span.nav-toggle#menu-toggle
          span
          span
          span
        .nav-logo
          a.nav-item.is-brand(href="/")
            img(src='/img/braun_marketing_logo2.png', alt='Braun Marketing & Consulting')
      .nav-right.social-group
        .field.is-horizontal.nav-item.nav-form
          a(href='https://www.facebook.com/Braun-Marketing-Consulting-1461669590532398/').nav-item.social
            span.icon
              i.fa.fa-facebook
          a(href='https://twitter.com/BraunConsulting').nav-item.social
            span.icon
              i.fa.fa-twitter
          a(href='tel:+34 999 88 87 77').nav-item.social.phone
            span.icon
              i.fa.fa-phone
            span 999 88 87 77
          .field-body

            .field.url.is-hidden-mobile
              p.control.is-expanded
                input.input.from-url(type='url', placeholder='Introduce tu URL')
            .field.toggle-on-form
              p.control
                a.button.is-success Te auditamos GRATIS