mixin URL(cat, ser)
    - cat = cat || active.category
    - ser = ser || active.service
    if (cat)
        if (!ser)
            - output = '/' + menu.categories[cat].slug + '/'
        else if (ser === 'Apps' || ser === 'ASO')
            - output = '/marketing-medico/' + menu.categories[cat].services[ser].slug + '/'
        else
            - output = '/' + menu.categories[cat].slug + '/' + menu.categories[cat].services[ser].slug + '/'
    | #{output}
