extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Gestión de marca online: definición y relevancia
	h3.title.is-3 ¿Cómo podemos definir la gestión de marca online?
	p Con esta expresión queremos referirnos a todas aquellas acciones que tienen como finalidad #[strong mantener y aumentar el buen nombre] de nuestra empresa en la Red, de modo que no sólo dirijamos nuestra estrategia a introducir una determinada imagen en Internet, sino que también deberemos vigilar todas aquellas publicaciones que se realicen sobre la empresa de nuestro cliente.

	h3.title.is-3 ¿Por qué es relevante la gestión de marca online?
	p Para cualquier ámbito del mercado resulta fundamental mantener una buena imagen de cara a nuestros clientes presentes y potenciales, sin embargo, cuando de un sector tan básico como el #[strong sanitario] se trata, deberemos prestar especial atención para trasladar al público la sensación de #[strong fiabilidad y seriedad] necesaria. Para ello, sería aconsejable usar también la <a href="#[+nextServiceURL()]">Consultoría Empresarial</a> para saber nuestros puntos fuertes y nuestras posubles debilidades.
	p Con este fin, habremos de centrarnos en el #[strong nombre y fama] del profesional o clínica que sea nuestro cliente, realizando una vigilancia rigurosa de toda publicación en Internet sobre el mismo. 

	h3.title.is-3 ¿Cómo sabemos qué fama tiene nuestro cliente en la Red?
	p Este conocimiento deviene de la realización de las siguientes #[strong acciones]: 
	ol
		li: p Como venimos diciendo, mantendremos una #[strong vigilancia continua sobre todo comentario], opinión o publicación de otro tipo que en cualquier plataforma de Internet se lleve a cabo sobre nuestra empresa. 
		li: p No nos conformaremos con conocer cuántos comentarios hay en Internet sobre nuestra empresa, sino que #[strong analizaremos el alcance y relevancia de tales publicaciones]. 
		li: p Con toda esta información, desarrollaremos un informe de #[strong conclusiones sobre el nombre de nuestra marca en Internet], y propondremos una enumeración de acciones a realizar para mejorarlo, en el caso de que no se corresponda con el deseado. 

	hr

	h2.title.is-2 2. Acciones de gestión de marca online a realizar
	h3.title.is-3 ¿Cuáles son las actuaciones que llevamos a cabo en este ámbito?
	p A continuación expondremos las principales #[strong actuaciones de gestión de marca online] que realizamos: 
	ul
		li: p Utilización de las herramientas técnicas necesarias y de las alertas pertinentes para #[strong estar al día de toda publicación sobre nuestra marca]. 
		li: p Situadas las referencias negativas de la empresa de nuestro cliente, llevaremos a cabo las #[strong acciones necesarias para empeorar el posicionamiento de tales publicaciones], creando una cantidad de publicaciones en la Red que adelanten en su posicionamiento a la referencia negativa y la releguen más allá de la primera página. 
		li: p Como requisito para la realización del punto anterior, mejoraremos mediante las actuaciones de posicionamiento necesarias, los #[strong resultados en los buscadores de Google de nuestras publicaciones] y de las referencias positivas. 
		li: p Trabajo intensivo en #[strong redes sociales] para lograr incluir en ellas comentarios y publicaciones positivas para nuestra empresa, mejorando con ello de manera importante nuestra fama.
		li: p Gestión implacable #[strong contra las agresiones a la imagen de nuestra empresa], ya provengan estos ataques de empresas que compongan la competencia, de la mala fe de un usuario o incluso de un error proveniente del ámbito de nuestro cliente. Las acciones irán dirigidas a parar de manera inmediata los efectos de las publicaciones negativas y aminorar las consecuencias perjudiciales.  
