- var active = {"category": "Médicos", "service": "Reputación Online Médica"}
- var title = "Reputación Online Médica - Braun Marketing & Consulting"
- var description = "Si tienes reseñas negativas sobre ti en internet afectarán a nuevos pacientes. Nuestros servicios de reputación online médica harán que desaparezcan."

- var intro = ""
- var video = ""