extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Título
	h3.title.is-3 Subtítulo I
	p.
		Párrafo <strong>negrita</strong>.
	h3.title.is-3 Subtítulo II
	hr
	h2.title.is-2 2. Título