extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Relevancia de la consultoría estratégica general y, en especial, la financiera

	h3.title.is-3 ¿A qué nos referimos cuando hablamos de consultoría estratégica?
	p.
		Nuestra <strong>consultoría estratégica</strong> tiene como finalidad apoyar a nuestros clientes para <strong>aumentar la rentabilidad</strong> de su empresa, con especial énfasis en los aspectos relacionados con las operaciones y los clientes y, muy especialmente, con el de finanzas. 

	p.
		En este sentido, será objeto de nuestra atención el mercado, el estudio de las características del cliente potencial, la delimitación de los rasgos de nuestro producto o servicio, la estrategia que seguiremos y nuestra finalidad inmediata y a mayor plazo. 

	h3.title.is-3 ¿Y de consultoría estratégica financiera?

	p.
		En este caso hablamos de las actividades dirigidas a la misma finalidad expresada anteriormente, aunque encaminadas específicamente al ámbito de la <strong>estrategia financiera</strong> del negocio. 


	h3.title.is-3 ¿Cuál es la relevancia de contar con una adecuada consultoría estratégica?

	p.
		Con una consultoría como la que ofrecemos, generaremos <strong>un plan de negocio</strong> que sirva de garantía para lograr la <strong>inversión</strong> necesaria para la empresa de nuestro cliente, ya tenga su origen en el ámbito público o privado.
	p.
		Visto desde este punto de vista, y según lo relatado anteriormente, se trata de un servicio esencial para el futuro del negocio del cliente, partiendo del conocimiento que alcanzaremos sobre los costes que soporta la empresa en cuestión.  

	hr
	h2.title.is-2 2. Actuaciones que se desarrollan

	h3.title.is-3 ¿Cuáles son las acciones que practicamos respecto de este servicio?

	p.
		Podemos hacer el siguiente <strong>listado de actuaciones</strong> que, en resumidas cuentas, llevamos a cabo:
	ol
		li: p.
			<strong>El plan de negocio</strong>: Analizando la empresa del cliente para conocer los datos de gastos e ingresos, ya sea con información directa sobre la misma o estimada, según nuestra experiencia en empresas similares, en el caso de que la del cliente no disponga de dicha información. 
		li: p.
			<strong>Búsqueda de financiación</strong> en las mejores condiciones posibles.
		li: p.
			<strong>Asesoramiento permanente</strong> durante toda la vida de la empresa, merced a nuestra red de colaboradores que ofrecen un apoyo continúo en cualquier área.
		li: p.
			<strong>Control de los datos financieros</strong>: Es indispensable para el buen funcionamiento de la <strong>consultoría estratégica</strong>, contar con un conocimiento continuo de cuantos datos recabemos sobre el flujo de caja, ingresos, gastos, posibilidades de inversión, etc.
		li: p.
			<strong>Vigilancia del cash flow de la caja</strong>: Supervisaremos que los momentos de cobro y pago sean coordinados para que no existan desequilibrios.
		li: p.
			<strong>Búsqueda de la rentabilidad</strong>: Cuando hablamos de margen de beneficio, nos referimos a la diferencia entre los ingresos y los gastos, pero la rentabilidad transmite un mensaje más relacionado con la eficiencia del negocio y su alcance y conocimiento puede ser de mayor utilidad.
		li: p.
			<strong>Comprobación continua de los costes</strong>: Con esta labor fundamental, realizaremos las previsiones pertinentes sobre los costes directos y aquellos otros que vengan dados por factores como el transporte, la comercialización, el plazo de prestación del servicio o entrega del producto, etc. Sumados estos costes, deduciremos si la actividad del cliente es rentable o no.
	p.
		También en este campo, analizaremos cómo se mueve en el mercado la competencia de nuestro cliente y el índice de precios en el ámbito comercial de que se trate frente al valor real del producto o servicio.