extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Por qué es importante la reputación online y cómo podemos conocer la que tiene nuestra empresa
	h3.title.is-3 ¿Cuál es la definición de reputación online?
	p.
		La <strong>reputación online</strong> es la fama y <strong>grado de prestigio</strong> que nuestra marca o empresa tiene en Internet, cuestión que no sólo depende del buen hacer del profesional que presta el servicio, sino que también viene afectada por el <strong>trabajo que realicemos en la Red</strong> y en las plataformas sociales, así como el <strong>control</strong> de cuanta publicación se haga por terceras personas sobre nuestra empresa. 

	h3.title.is-3 ¿Cómo repercute una buena reputación online?
	p.
		En general, toda empresa encuentra beneficios con el aumento de clientes y de contratación de servicios como consecuencia de alcanzar una fama que atestigüe la <strong>profesionalidad, seriedad y eficacia</strong> de la empresa o profesional en cuestión.
	p.
		Si esto es así para cualquier sector del comercio, cuando hablamos del ámbito sanitario esta realidad adquiere una relevancia aun mayor, por cuanto el posible cliente busca en este apartado un plus de fiabilidad, en tanto en cuanto se está tratando con algún aspecto relacionado con su salud.

	h3.title.is-3 ¿Cómo podemos conocer nuestra actual reputación online?
	p.
		Para alcanzar este fin, deberemos seguir estos <strong>pasos</strong>: 
	ol(type="i")
		li
			p.
				Observar cuantas <strong>publicaciones, comentarios y opiniones</strong> haya en Internet sobre nuestra empresa.
		li
			p.
				Indagar sobre la <strong>relevancia de tales publicaciones</strong>, cómo cala en la opinión de nuestro público objetivo y cómo repercute sobre nosotros.
		li
			p.
				Relacionar en un informe las <strong>conclusiones sobre nuestra reputación online</strong> tras el estudio realizado, así como propuesta de correcciones a introducir para mejorarla. 

	hr

	h2.title.is-2 2. Método que usamos para mejorar la reputación online
	h3.title.is-3 ¿Qué método tenemos para las acciones dirigidas a mejorar la reputación online?
	p.
		Nuestra estrategia se basa en la práctica de estas <strong>actuaciones</strong>:
	ul
		li
			p.
				<strong>Conocimiento exhaustivo</strong> de todos los comentarios, opiniones, mensajes y, en general, publicaciones que se realicen sobre nuestro cliente. Para ello nos haremos valer de los instrumentos específicos y de las alertas pertinentes. 
		li
			p.
				<strong>Ataque al posicionamiento de las publicaciones negativas</strong> sobre nuestro cliente, desarrollando una red de publicaciones de todo tipo que aparezcan mejor situadas que la que queremos perjudicar. 
		li
			p.
				<strong>Mejora del posicionamiento de las reseñas positivas</strong> y de nuestras propias publicaciones, mediante las actuaciones técnicas correspondientes. 
		li
			p.
				<strong>Trabajo de la reputación en redes sociales</strong>, distribuyendo cuantas opiniones y comentarios positivos sean necesarios en cada una de ellas. 
		li
			p.
				<strong>Defensa ante ataques a la reputación online</strong> del cliente, cortando cuanto antes las consecuencias de críticas y publicaciones negativas numerosas, cuando éstas tengan su origen en personas o empresas que sean competencia, por el despecho de un cliente rechazado o de un tercero con mala fe, o incluso en un fallo del propio cliente. 
