- var active = {"category": "Marketing Farmacéutico", "service": "Posicionamiento en Buscadores"}
- var title = " Posicionamiento en Buscadores - Braun Marketing & Consulting"
- var description = "Con el servicio de posicionamiento en buscadores saldrás en los primeros resultados cuando tus clientes busquen una farmacia."

- var intro = "Para poder dar una definición de <strong>posicionamiento en buscadores</strong>, debemos remitirnos a todas aquellas actuaciones en que se dividen nuestros servicios, y que pasamos a explicar de manera resumida:"
- var video = ""