extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Descripción e importancia del posicionamiento en buscadores. Clasificación
	h3.title.is-3 ¿Qué se entiende por posicionamiento en buscadores?
	p.
		Se trata del conjunto de actuaciones que, empleando un elevado criterio técnico, tienen una incidencia en el contenido y organización de una web dirigida a mejorar los aspectos de la misma que interesen de cara a su <strong>visibilidad en los resultados de búsqueda orgánicos</strong> (los que no requieren pago) en Internet.
	h3.title.is-3 ¿Cuál es la importancia del posicionamiento en buscadores?
	p.
		Como veremos a lo largo de esta explicación, las estrategias correctas destinadas a mejorar el posicionamiento en buscadores son fundamentales hoy en día para transmitir a los motores de búsqueda de Internet el valor de tu web y el provecho que pueden obtener los usuarios de la misma, de modo que el buscador mejore su lugar en los resultados de búsqueda.

	p.
		La decisión de mejorar este posicionamiento, la toma el buscador basándose en algoritmos complejos, cada vez más, que hay que estudiar y conocer para poder desarrollar la táctica adecuada a la hora de crear o adaptar la web.
	p.
		En este aspecto, podemos decir que, en general, son ante todo dos los criterios que se manejan los buscadores a la hora de otorgar un determinado posicionamiento: la <strong>autoridad</strong> y la <strong>relevancia</strong>.

	h3.title.is-3 ¿Qué es la autoridad, en lo que al posicionamiento en buscadores se refiere?
	p.
		Se trata del criterio que el buscador detecta dependiendo de la <strong>popularidad de una página</strong>, esto es, cuanto más es compartida una página por parte de los usuarios de Internet, mayor es el valor que el buscador otorga a esa web por lo que, al considerarla más interesante para las personas, mejora su posicionamiento.
	h3.title.is-3 ¿Qué es la relevancia, en lo que al posicionamiento en buscadores se refiere?
	p.
		Los motores de búsqueda han desarrollado complicados métodos para analizar el contenido de una web y detectar en sus textos aquellas <strong>palabras y expresiones que son empleadas por los usuarios</strong> al realizar sus búsquedas, de modo que, si esta relación es la adecuada según sus criterios, se premia con un mejor posicionamiento.
	p.
		No se trata de incluir en nuestra página de manera indiscriminada un mayor número de palabras más buscadas o palabras clave (lo cual es justo lo que se hacía antes, cuando los buscadores estaban menos evolucionados), sino de conocer los mecanismos usados por los motores de búsqueda y desarrollar una estrategia en consecuencia.

	h3.title.is-3 ¿Cómo podemos clasificar el posicionamiento en buscadores?
	p.
		A la hora de hablar de <strong>posicionamiento SEO</strong> podemos distinguir entre <strong>SEO on-page</strong> y <strong>SEO off-page</strong>.
	ul
		li
			p.
				El <strong>on-site</strong> tiene incidencia en el ámbito de la <strong>relevancia</strong> de las webs, y designa a todas aquellas acciones que se desarrollan para tratar de crear o adaptar un contenido en la página que encaje mejor con los criterios usados por los buscadores para determinar el posicionamiento, ya sea ocupándose de la utilización apropiada de las palabras clave, forma de las URLs, dificultades de carga o experiencia del internauta.
		li
			p El <strong>off-site</strong> abarca aquellas actuaciones que repercuten en la <strong>autoridad</strong> de la página y que, por tanto, se desenvuelven en los aspectos externos de la web:
				ul
					li Enlaces de la página, con atención a su calidad y cantidad.
					li Actuaciones en redes sociales y medios locales.
					li Popularidad de la marca.
					li CTR (Click Through Rate), o posición en los resultados de búsqueda.

	hr

	h2.title.is-2 2. El posicionamiento en buscadores en la práctica
	p.
		Ya hemos hecho un pequeño acercamiento al mundo del <strong>posicionamiento en buscadores</strong>, por lo que ya podemos entrar en materia, desgranando de una manera resumida cuáles son las acciones que incluimos en nuestros servicios.
	p.
		Para empezar, puedes ver gráficamente en qué ámbitos se divide nuestra actuación: 

	p.has-text-centered
		img(src="/img/Metodologia_SEO.png")
	h3.title.is-3 ¿Para qué sirve el establecimiento de palabras clave?
	p.
		La gestión de las keywords o palabras clave es la base sobre la que construimos toda nuestra táctica de posicionamiento, debido a la importancia capital que su uso adecuado dentro de la web supone para dicho fin. 
	p.
		A la hora de plantear el trabajo sobre el establecimiento de palabras clave, manejamos factores como el de la <strong>notoriedad</strong> que presentan, la <strong>competencia</strong> por las mismas, la <strong>importancia</strong> que ostentan y cómo se acomodan al resto del contenido de la web. 

	h3.title.is-3 ¿De qué herramientas disponemos para el establecimiento de palabras clave?
	p.
		Podemos referirnos a dos instrumentos importantes a la hora de analizar la importancia de una keyword, según el coste en esfuerzo para posicionarla, en relación con el beneficio que aporta: 
	ul
		li
			p.
				Para obtener los datos precisos sobre cuántas búsquedas tiene una keyword y su competencia, usaremos el <strong>KEI (Keyword Efectiveness Index)</strong>. 
			p.
				Para obtener una medida del esfuerzo que implicará el posicionamiento de la palabra clave, averiguando el ranking de los resultados que aparecen en primer lugar al realizar una búsqueda, utilizaremos el <strong>Google PageRank</strong>.  

	h3.title.is-3 ¿Y para decidirnos por una palabra clave u otra?
	p.
		Hay tres aplicaciones principales para este fin:
	ul
		li.
			Con el <strong>Google Trends</strong> podemos tener información de hacia dónde tiende una keyword en las búsquedas y, por tanto, su estacionalidad.
			
		li.
			Por otro lado, con el <strong>Google Keyword Planner</strong> sabremos, siempre que tengamos una campaña activa de Google Adwords, el número de veces que es buscada una keyword y su competencia por sitio y tiempo.
		li.
			Por último, con el <strong>Rank Tracker</strong> (de pago) se puede monitorizar el posicionamiento de la keyword.  

	p.
		Tener este control continuo sobre el posicionamiento de las palabras clave, hará posible que mantengamos un conocimiento permanente sobre la <strong>evolución</strong>, buena o mala, de nuestra estrategia de marketing, saber qué keyword está dando <strong>mejor resultado, vigilar la competencia</strong> para estar preparados impidiendo que nos quiten el posicionamiento y <strong>mejorarlo</strong> cada vez desde cualquier sitio y en cualquier idioma.


	h3.title.is-3 ¿Cómo se hace la adaptación web seo on page?
	p.
		Se trata de una actuación posterior al establecimiento de palabras clave, en el que se realiza el trabajo de adaptación del contenido de la página web, esté creada o en fase de desarrollo, a los criterios de <strong>posicionamiento en buscadores</strong> que hayamos previsto. 
	p.
		Esta labor de adaptación se lleva a cabo <strong>redactando contenidos de calidad</strong> que contengan las <strong>keywords</strong> en la medida y forma que nuestra estrategia disponga, creando textos o variando los que ya haya según los presupuestos de las <strong>búsquedas</strong> en Internet, mediante las aplicaciones descritas en el punto anterior.


	h3.title.is-3 Pero ¿En qué lugares de la página se actúa respecto de los textos de la web? 
	p.
		Decíamos en la respuesta a la pregunta anterior, que realizamos intervenciones en el contenido de la web para adaptarlo al criterio usado por los buscadores para el posicionamiento, así que la cuestión ahora sería plantearnos <strong>dónde hemos de hacer esos ajustes</strong>.
	p.
		Para empezar, debemos introducir <strong>títulos</strong> en los textos que sean cortos y descriptivos. Asimismo, incluiremos la <strong>keyword en la metadescripción</strong> y en la <strong>URL</strong>, tornándola amigable. Las <strong>cabeceras</strong> deberán ser descriptivas para el usuario, en cuanto al mejor entendimiento del contenido del resto del texto, el cual habrá de ser redactado por especialistas en cada área de las <strong>materias</strong> que se desarrollen, dando lugar a cuerpos con originalidad y alta calidad, sin olvidar, al mismo tiempo, incluir las etiquetas Schema.org y JSON-LD al <strong>código HTML</strong> para facilitar a los bots el análisis del texto. Por último, añadiremos <strong>imágenes</strong> con la descripción “alt”, para contribuir al mejor posicionamiento cuando los internautas hagan búsquedas de imágenes usando nuestra palabra clave.  

	h3.title.is-3 ¿Qué implica una estrategia de contenidos?
	p.
		Al hablar de estrategia de contenidos nos estamos refiriendo a la táctica que desarrollaremos, aplicando criterios relacionados con los canales, formatos y tiempos, para que el contenido de nuestra web ofrezca al usuario el máximo de utilidad posible y alcance, de esta manera, un mayor valor para los buscadores.
	p.
		Pero además de los criterios anteriores, también debemos tener en cuenta, a la hora de elaborar nuestra estrategia de contenidos, el público que nos interesa, con el objeto de identificar la temática de contenidos a desarrollar, así como otros aspectos relacionados como el tono, más o menos coloquial.
	p.
		De este modo, para lograr el mejor <strong>posicionamiento en buscadores</strong>, empleando una estrategia de contenidos adecuada, elegiremos las <strong>palabras clave</strong>, de tipo long-tail, para introducirlas en el contenido de la página de modo que resulte <strong>interesante</strong> para el sector poblacional al que nos dirijamos y le produzca el máximo de satisfacción posible, <strong>compartiendo</strong> nuestro contenido en plataformas (redes sociales, blogs, etc), y organizando los textos según la que llamamos <strong>estructura SILO</strong>, esto es, clasificando el contenido en silos de keywords para facilitar al motor de búsqueda que nos dote de una mayor relevancia. 

	h3.title.is-3 ¿Cómo definimos el posicionamiento natural off page?
	p.
		Consiste en la actividad encaminada a <strong>mejorar el ranking</strong> de la web mediante la obtención del máximo número de <strong>redireccionamientos</strong> posibles a la misma con enlaces de calidad desde otras webs, tratando de conseguir menciones en plataformas sociales, redes, blogs, etc.
	p.
		Por tanto, como su nombre sugiere, esta actividad se refiere a actuaciones que inciden en los <strong>aspectos externos</strong> de la web, y son:
	ul
		li.
			<strong>Linkbuilding</strong>: Elaboramos toda una estrategia de consolidación de un ecosistema de webs de contenidos relacionados con lo que, a su vez, se promuevan más redireccionamientos.
		li.
			<strong>Linkbaiting</strong>: Creación de contenidos interesantes para los usuarios, introduciendo imágenes y vídeos que también les animen a compartirlos.
		li.
			<strong>Actuación en foros</strong> Adoptando el papel de meros usuarios de los mismos. 
		li.
			<strong>Publicaciones</strong> en periódicos, revistas, blogs, etc.
		li.
			<strong>Notas de prensa</strong>.
		li.
			<strong>Canal en Youtube</strong>: Junto a esta acción, será importante la identificación en <strong>Google+</strong> y <strong>Google My Business</strong>.
	p.
		Con esta herramienta última, lograremos una magnífica forma de vincular nuestra web con negocios locales, ya que aúna en una sola todas las formas anteriores de conseguir ese objetivo, en las que teníamos Google + para páginas d empresa y Place para fichas. 

