- var active = {"category": "Marketing para Fisioterapeutas", "service": "Search Engine Marketing"}
- var title = "Search Engine Marketing para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Si quieres aparecer entre los primeros puestos de Internet de manera inmediata, necesitas nuestros servicios de Search Engine Marketing."

- var intro = "Es cierto que el <strong>Search Engine Marketing</strong> supone un coste económico, pero eso no impide que, a pesar de pagar un precio, sea necesario tener clara la táctica que emplearemos para un mejor posicionamiento. A continuación, explicaremos mejor lo que significa y qué actuaciones desarrollaremos."
- var video = ""