- var active = {"category": "Marketing Veterinario", "service": "ORM"}
- var title = "ORM - Braun Marketing & Consulting"
- var description = "Controla lo que se habla de ti en internet y ten un ORM de tu clínica positivo."

- var intro = "Los servicios <strong>ORM</strong> (siglas de la expresión inglesa Online Reputation Management) van referidos a todas aquellas acciones dirigidas a mantener y mejorar la <strong>imagen</strong> que nuestro cliente o su empresa tienen en el mundo online. No se trata, ni mucho menos, de una actuación irrelevante sino que, muy al contrario, incide de manera definitiva en la reputación que la empresa en cuestión vaya a ostentar en el futuro y, por tanto, de gran parte del éxito o fracaso que vaya a tener."
- var video = ""