- var active = {"category": "Fisioterapeutas", "service": "Benchmarking"}
- var title = "Benchmarking para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Gracias a nuestros informes de Benchmarking sabrás lo que hacen los líderes de tu especialidad en Internet con todo tipo de detalle."

- var intro = "En este apartado nos referiremos al conjunto de actuaciones necesarias para desarrollar el resto de estrategias de marketing, y que van relacionadas con la indagación de las características que presentan las empresas que se configuran como la competencia directa de la de nuestro cliente."
- var video = ""