extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Qué es el Community Manager y en qué redes sociales actúa
 
	h3.title.is-3 ¿A qué se dedica el Community Manager?

	p El #[strong Community Manager] se ocupa de la <a href="#[+nextServiceURL()]">Gestión de la Marca Online</a> y actuación de la empresa en aquellas #[strong plataformas sociales] (blogs, microblogs y redes sociales) desde las que las personas hoy en día intercambian información de todo tipo.
	p Debemos subrayar la importancia que tiene para cualquier empresa contar con perfiles y actuaciones adecuados en estas plataformas, donde el número de usuarios no solamente sigue creciendo en muchas de ellas, sino que acogen y permiten la comunicación de una población formada por personas cada vez más preparadas y que entienden las redes como un #[strong medio natural de expresarse].
 
	h3.title.is-3 ¿Cuáles son los beneficios y ventajas que aporta un Community manager?
 
	p En cuanto a los #[strong beneficios que nos proporciona su actuación], podemos nombrar los siguientes:
	ul
		li: p Que el nombre y marca de nuestra empresa obtenga #[strong recomendaciones] en las plataformas por parte de usuarios que hayan sido o sean clientes y estén satisfechos con el servicio. De este modo, un mayor número de posibles clientes se dirigirán a nuestra página partiendo de otras webs en las que se encuentren y donde observen la recomendación.
		li: p Que la #[strong comunicación con los usuarios de nuestra web sea directa] e, incluso, en tiempo real. Gracias a esta circunstancia, los usuarios que se interesen en nuestros servicios podrán consultar sus dudas y obtener una respuesta inmediata y, al mismo tiempo, nosotros podremos recabar importante información sobre los problemas que encuentren, lo que les agrada y disgusta, sus necesidades reales, etc.
		li: p Como consecuencia de los dos beneficios anteriores, y si se realizan las actuaciones de difusión en redes y atención al usuario de manera correcta, obtendremos mayor #[strong repercusión] y nuestra marca será compartida más veces en las distintas plataformas. 


	p Respecto a las #[strong ventajas que el uso de las redes sociales] supone, enumeraremos, resumidamente, las siguientes:
	ol
		li: p #[strong Gasto cero]: El registro y elaboración del perfil en las redes sociales no conlleva coste económico o de tiempo aunque, en una fase posterior, sí que deberemos emplear horas de trabajo para la elaboración de los contenidos que sean interesantes y reporten utilidad al visitante.
		li: p #[strong Público inmenso]: Las redes sociales más importantes tienen millones de usuarios y, si los contenidos de nuestra página son atractivos para la gente, tenemos un público potencial casi infinito.
		li: p #[strong Comunicación directa]: Como ya comentábamos respecto de los beneficios de contar con un #[strong Community Manager], las redes sociales permiten la interacción inmediata, llegando incluso a la posibilidad de publicar vídeos en tiempo real, en los que los usuarios que lo estén visualizando pueden hacer comentarios y la persona que emite responderlos directamente. Es el caso de los directos que prevé Facebook, Instagram y Youtube, y el Periscope de Twitter.
 

	h3.title.is-3 ¿Qué redes sociales podemos destacar?

	p El #[strong Community Manager] deberá ocuparse de elaborar la estrategia en redes sociales que nuestra empresa ostentará, debiendo poner especial énfasis en aquéllas que tienen especial #[strong difusión] en la sociedad, y las que encajan mejor con respecto a nuestro servicio y objetivos, habida cuenta del nivel de especialización al que han llegado algunas redes.
	p En este sentido, las #[strong redes sociales que podemos destacar], por su evidente importancia, son:
	ul
		li #[strong Facebook]:
			ul
				li
					p #[strong Características]: Se trata de la red social con mayor tamaño en la actualidad, previendo un perfil para personas físicas y otro para empresas. Este segundo perfil incluye prestaciones especiales, como la posibilidad de programar las publicaciones o de obtener estadísticas de ellas.
					p A pesar de todas estas ventajas, el problema que presenta Facebook es que las publicaciones realizadas solamente se difundirán entre un 3 y un 5% de los usuarios de la red, porcentaje que sólo se incrementará en la medida en que la publicación sea compartida y obtenga comentarios y me gustas.
				li
					p #[strong Perfil de usuario]: Hombre y mujer de edad y estatus social y cultural indiferente.
				li
					p #[strong Horario ideal de publicación]: De 13 a 15 horas, y de 19 a 21 horas, jueves y viernes.
				li
					p #[strong Extensión]: Facebook cuenta con casi 1.600 millones de usuarios en el mundo y alrededor de 19 millones en España, de los cuales 16 millones se sitúan en un intervalo de edad nada restringido: de 16 a 55 años.

		li #[strong Twitter]:
			ul
				li
					p #[strong Características]: Hablamos de la red social más extendida en lo que se refiere a las plataformas especializadas en microblogging, ya que solamente se pueden publicar mensajes de, como máximo, 140 caracteres lo cual, sumado a que estos mensajes quedarán publicados como mucho un par de horas antes de quedar ocultos casi completamente, puede ser tenido como puntos débiles.
					p En cambio, como gran ventaja, Twitter ha logrado que cualquier inquietud que se comunique a la empresa pueda recibir contestación de forma muy rápida.
				li
					p #[strong Perfil de usuario]: Hombre de edad indiferente y nivel de ingreso medio o alto.
				li
					p #[strong Horario ideal de publicación]: A las 12 y a las 18 horas.
				li
					p #[strong Extensión]: Twitter cuenta con aproximadamente320 millones de usuarios en el mundo y 7,7 millones en España. 
		
		li #[strong LinkedIn]:
			ul
				li
					p #[strong Características]: LinkedIn es la red concebida para el intercambio de todo tipo de información profesional, tanto de particulares como de empresas, configurando su estructura y funcionamiento para que los usuarios perciban mayor solemnidad y formalidad que en otras redes.
				li
					p #[strong Perfil de usuario]: Hombre de mediana edad y capacidad económica alta.
				li
					p #[strong Horario ideal de publicación]: A las 17 y a las 18 horas, martes, miércoles y jueves.
				li
					p #[strong Extensión]: LinkedIn cuenta con más de433 millones de usuarios en el mundo y unos 8 millones en España. 

		li #[strong Youtube]:
			ul
				li
					p #[strong Características]: Ésta es la red social de publicación de vídeos más importante existente en la actualidad, cuyo crecimiento, además, continúa incrementándose merced a la popularización de los móviles inteligentes y las opciones de publicación de vídeos que los mismos otorgan, de manera cada vez más sencilla.
					p Por otro lado, los vídeos son indexados por Google, por lo que el posicionamiento de los mismos se ve beneficiado. 
				li
					p #[strong Perfil de usuario]: Hombre de mediana edad y capacidad económica alta o media.
				li
					p #[strong Horario ideal de publicación]: A las 13 horas, miércoles y jueves.
				li
					p #[strong Extensión]: Youtube cuenta con más de 1.000 millones de usuarios en el mundo y casi 14 millones en España. 

		li #[strong Instagram]:
			ul
				li
					p #[strong Características]: En último lugar, podemos nombrar a la red especializada en la publicación de fotografías: Instagram, que se ve beneficiada por el crecimiento en el uso de teléfonos inteligentes, tal y como ocurre con Youtube. 
					p En este caso, encontramos el valor añadido de la posibilidad de aplicar determinados filtros y aplicaciones que la plataforma facilita y que dan un acabado a las fotografías que se publican que, hasta ahora, no estaba al alcance de cualquier usuario. 
					p En relación a las empresas, Instagram puede colaborar en el acercamiento de las mismas a la gente, permitiendo hacer visibles aspectos de su funcionamiento interno, estancias de la sede o personal.
				li
					p #[strong Perfil de usuario]: Mujer principalmente joven y capacidad económica media.
				li
					p #[strong Horario ideal de publicación]: Entre las 15 y las 16 horas, los lunes.
				li
					p #[strong Extensión]: Instagram cuenta con más de400 millones de usuarios en el mundo y alrededor de8 millones en España. 

	hr
	
	h2.title.is-2 2. Acciones que desarrolla el Community Manager

	h3.title.is-3 ¿Qué actuaciones lleva a cabo el Community Manager?
	p Con nuestra estrategia como #[strong Community Manager], iremos cumpliendo con cada una de las siguientes acciones: 
	ul
		li
			p #[strong Examen de las actuaciones y estrategias llevadas hasta el momento]. Incluye el análisis del nombre e imagen usados en cada página, publicaciones realizadas, tiempo que han permanecido en la red, etc.
		li
			p #[strong Elaboración de una nueva estrategia], basada en las finalidades que nos planteemos en cada red social. 
			p Con el objeto de configurar la estrategia del modo más completo y desarrollarla escrupulosamente, se creará un manual sobre aspectos tales como clase de lenguaje que se usará en cada red, atención a usuarios, imagen que pretendemos transmitir, etc.
		li
			p #[strong Selección de redes sociales] en las que nos crearemos un perfil. Esta decisión se basará en las metas que pretendamos alcanzar y requerirá que, en caso de elegir varias redes, nuestros contenidos, imagen y servicios no se contradigan y resulten coherentes.
		li
			p #[strong Redacción de textos] para dotar de contenidos nuestros perfiles. Se trata de una labor que requerirá de grandes dosis de esfuerzo, con el fin de crear contenidos útiles y de calidad para los usuarios. 
		li
			p #[strong Control de los perfiles], supervisando que la consecución de objetivos se vaya produciendo y reconduciendo los desvíos en la búsqueda de los mismos. 
		li
			p #[strong Presentación de informes], con una periodicidad mensual, con los resultados del control sobre el desenvolvimiento de las cuentas creadas en las redes, utilidad de las publicaciones, cómo han reaccionado los usuarios, veces que se han compartido, etc. 
