- var active = {"category": "Marketing para Fisioterapeutas", "service": "Social Marketing"}
- var title = "Social Marketing para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Las Redes Sciales son imprescindibles. Atrén, fidelizan e informan. Con nuestros servicios de Social Marketing no necesitarás preocuparte por tus RRSS."

- var intro = "Si existe en nuestros días un ámbito respecto del que un profesional del marketing debe dedicar amplios esfuerzos, ése es el del <strong>social marketing</strong>. Las redes sociales se han convertido en un modo de comunicación fundamental para esta generación y las empresas y profesionales no pueden quedarse al margen de esta evolución ni desaprovechar las oportunidades de propagación de su marca y contacto directo con sus clientes que ofrecen."
- var video = ""