extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Definición del Social Marketing. Las redes sociales
 
	h3.title.is-3 ¿Qué entendemos por Social Marketing?

	p Cuando hablamos de #[strong Social Marketing] nos estamos refiriendo a todas aquellas #[strong plataformas online] (generalmente redes sociales, blogs y microblogs) para la comunicación entre sus usuarios, los cuales crean y comparten el contenido de dichas plataformas, y aprovechan la tecnología de la web 2.0. 
	p Por consiguiente, estas acciones parten de la existencia de un número de usuarios de tales plataformas creciente y cada vez más preparado para el uso de estas tecnologías, por lo que se tendrá como objetivo aprovechar estas circunstancias para amplificar la #[strong estrategia de la referenciación] y para la #[strong obtención de información] sobre los usos y costumbres de los usuarios. 
 
	h3.title.is-3 ¿Qué beneficios se obtienen del Social Marketing?
	p Como acabamos de mencionar, con esta labor podremos conseguir que #[strong nuestra marca sea recomendada] y que podamos atraer a nuestra página a visitantes que entren desde las plataformas por las que estuvieran navegando. Al mismo tiempo, y con la misma o mayor importancia, encontramos el beneficio de obtener una #[strong línea directa con los usuarios] para tratar, directamente con ellos, cualquier asunto que quieran comentar, de modo que tenemos un valiosísimo medio para conocer, de primera mano, las inquietudes, opiniones, problemas, necesidades, etc, de nuestro público objetivo. Al mismo tiempo, si nuestra atención es correcta, ganaremos en #[strong imagen] y podremos lograr que los mensajes que enviemos sean compartidos. 

	h3.title.is-3 ¿Qué otras ventajas encontramos en el uso de las redes sociales?
	p Además de los beneficios anteriormente citados, el uso concreto de #[strong redes sociales] nos concede las siguientes #[strong ventajas] específicas: 
	ol
		li: p Económicamente no implica #[strong ningún coste], ya que el registro en las redes es gratuito y conlleva mucho tiempo. Eso sí, después si se exigirá un alto nivel de esfuerzo en la generación de contenidos que puedan resultar útiles y atractivos a nuestros potenciales clientes.  
		li: p En cuanto a la posible #[strong audiencia] de los contenidos que publicamos, es #[strong casi infinita], ya que todo usuario de las redes, potencialmente, podrá tener acceso a nuestra página. 
		li: p Podremos #[strong dirigirnos directamente a los usuarios] e incluso interactuar con ellos, contestando cualquier cuestión que planteen de forma inmediata. A esta posibilidad contribuye también la extensión que en las redes sociales está teniendo el uso del vídeo, ya sea los directos de Facebook, Instagram o Youtube, o el Periscope de Twitter, con los que se puede emitir en tiempo real y responder de viva voz los mensajes que las personas conectadas vayan dejando. Estas herramientas pueden usarse incluso para cursos o tutoriales. 

	h3.title.is-3 ¿Qué redes sociales nos interesan?
	p Partimos de la base de que prácticamente todas las empresas hoy en día se ocupan de tener #[strong presencia en las redes sociales], necesaria y obligatoriamente, por el empuje que estas plataformas tienen en la sociedad de la información en la que nos hallamos imbuidos. A partir de ahí, sí es cierto que existen algunas redes sociales especialmente #[strong extendidas] que requerirán especial atención, así como otras que han adquirido un nivel de #[strong especialización] tal que, si su temática y características encajan con las de nuestra empresa, también requerirán nuestra participación en ellas. 
	p A continuación, haremos mención a algunas de las #[strong redes sociales más importantes] y que hay que tener en cuenta a la hora de realizar las actuaciones de #[strong Social Marketing] correspondientes:  
	ul
		li
			p La red social #[strong más extendida] hoy en día es #[strong Facebook]. Tiene un tipo de perfil para particulares y otro para empresas, permitiendo éste posibilidades adicionales como la programación de publicaciones o la elaboración de estadísticas sobre las mismas.
			p El principal #[strong inconveniente] de Facebook es que, cuando realizamos una publicación, el alcance de los contactos a los que le aparece dependerá de las interacciones que genere (likes, comentarios, veces que se comparta), apareciendo en un primero momento tan sólo a entre un 3 y un 5% de los contactos.
			p El #[strong usuario tipo] de Facebook es muy amplio, incluyendo a personas de cualquier sexo, edad y nivel socio-cultural.
			p En cuanto a los #[strong momentos] en los que nuestra publicación podrá obtener una mayor repercusión, el horario ideal es de 13 a 15, por la tarde, y de 19 a 21, por la noche, jueves y viernes.
			p En cuanto a #[strong número de usuario]s, en el mundo tiene casi 1.600 millones y en España unos 19 millones (16 de ellos en una amplia franja de edad de entre 16 y 55 años).  
		li
			p Si queremos referirnos a la red de #[strong microblogging más relevante], debemos hablar de #[strong Twitter], que permite mensajes de no más de 140 caracteres y una gran rapidez para que cualquier consulta o duda que se nos plantee pueda ser respondida por nuestra parte.
			p El principal #[strong inconveniente] de Twitter es que dichos mensajes permanecen tan sólo una o dos horas, y después quedarían casi desaparecidos.
			p El #[strong usuario tipo] es hombre, de cualquier edad y capacidad económica media-alta.
			p Los #[strong momentos] más adecuados para hacer una publicación, son en horario de 12 horas y de 18 horas.
			p Respecto del #[strong número de usuarios], en el mundo tiene alrededor de 320 millones de usuarios y en España 7,7 millones. 
		li
			p En tercer lugar, encontramos a la red social especializada en el #[strong ámbito profesional] por excelencia, que es #[strong LinkedIn]. Va dirigido a todos los sectores de trabajo posibles de personas físicas y jurídicas, tratando de transmitir formalidad y seriedad.
			p El #[strong usuario tipo] es un hombre de mediana edad y nivel cultural y económico altos.
			p El mejor #[strong momento] para publicar es en horario de 17 y 18 de la tarde, martes, miércoles y jueves.
			p En cuanto al #[strong número de usuarios], tiene más de 433 millones de usuarios en el mundo y alrededor de 8 millones en España. 
		li
			p La principal #[strong red social para compartir vídeos], también en otras plataformas y redes sociales, es #[strong Youtube]. Tiene la ventaja de que el posicionamiento en buscadores viene favorecido por cuanto la indexación del vídeo la realiza Google.
			p Con el incesante incremento del uso de los smartphones y lo sencillo que resulta desde los mismos subir vídeos a la web, Youtube continúa experimentando un gran crecimiento.
			p El #[strong usuario tipo] es hombre o mujer, de mediana edad y de capacidad económica media.
			p El #[strong momento] ideal para publicar es en horario de 13 de la tarde, miércoles y jueves.
			p El #[strong número de usuarios] supera los 1.000 millones de usuarios en el mundo y en España casi alcanza los 14 millones. 
		li
			p Por último, la principal #[strong red social de fotografías] es #[strong Instagram]. Al igual que ocurre con Youtube, Instagram debe su crecimiento, hasta el momento imparable, por la generalización de los smartphones, que con la misma comodidad que permiten subir vídeos, también facilitan la subida de fotos, suministrando distintas aplicaciones para que el usuario pueda perfeccionar la foto y darle un acabado de aparente profesionalidad.
			p Con la publicación de fotografías, también una empresa puede obtener rendimiento, acercándose de algún modo a sus clientes y público en general, mostrando sus instalaciones, personal o funcionamiento habitual.
			p El #[strong usuario tipo] es una mujer joven, con nivel económico medio.
			p El mejor #[strong momento] para las publicaciones se encuentra entre las 15 y las 16 horas, el lunes.
			p Por último, respecto al #[strong número de usuarios], supera los 400 millones en el mundo y tiene unos 8 millones en España. 

	hr

	h2.title.is-2 2. Nuestras acciones de Social Marketing

	h3.title.is-3 ¿Cuál es nuestra estrategia de Social Marketing?
	p A continuación daremos una breve explicación de cada una de las #[strong actuaciones] que llevamos a cabo en este ámbito:
	ol
		li: p La primera etapa por la que debemos pasar, es el #[strong estudio de la estrategia en redes sociales que hasta el momento llevara la empresa]: nombre que ha estado utilizando; clase de perfil; imagen corporativa; publicaciones y tiempo de duración de las mismas, etc.
		li: p En segundo lugar, vista la #[strong estrategia] que había venido llevando la empresa, #[strong se diseñará la que interese] según los #[strong objetivos] planteados y lo que queramos conseguir de las redes sociales. En este momento, se elaborará y pondrá en práctica un manual sobre tipo de lenguaje a utilizar, atención al usuario, imagen que queremos dar, etc.
		li: p A continuación, habremos de decidir cuáles son las #[strong redes sociales en las que queremos que nuestra empresa actúe] según, una vez más, nuestros objetivos. Será necesario que, en caso de operar en varias redes, nuestro servicio, imagen y mensajes queden claros a los usuarios de todas ellas y no sean contradictorios.
		li: p Creados los perfiles en las redes elegidas, #[strong crearemos los contenidos] adecuados para cada una de las cuentas creadas, que deberá ser estudiado, apropiado, interesante y útil al usuario. Se trata del apartado más laborioso de este listado.
		li: p Cuando ya dispongamos de nuestras cuentas, diseñadas adecuadamente y con su correspondiente contenido, en cada una de las redes, deberemos #[strong vigilar su funcionamiento] y controlar las reacciones que provoca, incluso interactuando con los usuarios, para corregir lo que sea necesario.
		li: p Asimismo, se #[strong elaborarán informes] cada mes en los que se analizará la evolución de cada perfil en redes, con las publicaciones realizadas, reacciones de usuarios, alcance logrado, etc.
