extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Concepto y relevancia de la analítica web
	h3.title.is-3 ¿Qué es la analítica web?
	p.
		La <strong>analítica web</strong> consiste en la obtención de datos de nuestras acciones de marketing digital para saber si están teniendo éxito o tenemos que hacer alguna modificación. La analítica web no trata sólo de medir cuántos usuarios visitan nuestra web o compran nuestro producto sino de <strong>procesar los datos, entenderlos y analizar</strong> cómo interactúan los usuarios para poder optimizar nuestras actuaciones.

	h3.title.is-3 ¿Por qué es importante la analítica web?
	p.
		La principal razón por la que debemos hacer analítica web es para poder tener la mayor cantidad de datos sobre nuestros usuarios y sus comportamientos, y de esta forma poder saber cuáles son sus motivaciones, intereses y forma de actuar para que podamos tomar las mejores decisiones. Cuánto más sepamos de nuestros clientes, mejor será nuestro servicio y mayor será la satisfacción final.
	hr

	h2.title.is-2 2. Nuestra metodología para la analítica web
	h3.title.is-3 ¿Cuáles son los pasos a seguir?
	p.
		Podemos distinguir los siguientes pasos:
	ul
		li Ver qué <strong>tipo de sitio web tenemos</strong>: un blog, una landing page, un ecommerce o una página corporativa. En función de la tipología deberemos usar unas herramientas u otras y seleccionar qué métricas son las más relevantes.
		li A continuación, fijar unos <strong>objetivos y los indicadores</strong> claves del rendimiento que usaremos (KPI´s). Éstas serán las variables que se estudiarán. 
		li Delimitar cuál será el <strong>período de tiempo</strong> en el que recogeremos los datos y realizaremos el estudio.
		li Seleccionar las <strong>herramientas</strong> que nos permitan medir nuestros indicadores.
		li Ejecutar nuestro <strong>plan de medición</strong>.
		li <strong>Análisis de los datos</strong>, verificar la consecución de objetivos y redacción de informes.
		li <strong>Tomar decisiones</strong>, si fuesen necesarias, para introducir las correcciones necesarias para la consecución de objetivos.

	h3.title.is-3 ¿Cuáles son las principales métricas a tener en cuenta?
	p.
		Las métricas son aquellos datos que nos van a permitir saber <strong>todo lo que ocurre en nuestro sitio web</strong> y no ayudarán a optimizarlo: 
	ul
		li Número de visitas.
		li Número de visitas únicas.
		li Porcentaje de visitas nuevas.
		li Duración media de cada visita.
		li Páginas de entrada.
		li Tasa de rebote.

	h3.title.is-3 ¿Qué son las métricas avanzadas?
	p.
		Son las métricas que obtenemos como consecuencia de las acciones de <strong>analítica web</strong> que nos van a ayudar a comprender si lo estamos haciendo bien <strong>en relación con los objetivos</strong> que nos hayamos fijado. Puesto que cada empresa tiene sus propios objetivos, las métricas que habrá que aplicar serán <strong>personalizadas</strong> para cada una. A continuación, veamos un par de ejemplos para saber cómo lo hacemos:
	ol
		li <strong>Objetivo fidelizar usuarios</strong>: Supongamos que vamos a analizar un blog o sitio web de contenidos, como puede ser una web de noticias, y nuestro objetivo es fidelizar a los usuarios y que vuelvan a visitarnos en repetidas ocasiones. Para ello, las variables a estudiar serán:
			ul
				li Tasa de visitantes nuevos: Cuántas del total de visitas son nuevas.
				li Tiempo de estancia en el sitio.
				li Profundidad de la visita: Páginas vistas/visita.
				li Número de usuarios que se hacen suscriptores del blog.
				li Alcance que tiene en las Redes Sociales: Cuántos usuarios comparten nuestros contenidos en sus perfiles.
		li <strong>Objetivo de conseguir ventas</strong>: En este segundo ejemplo supongamos que tenemos una tienda online y nos interesa saber no sólo cuántas son las ventas sino más información sobre las mismas. Para ello usaremos los siguientes indicadores:
			ul
				li Cantidad media gastada por pedido: Se divide los ingresos totales por el número de ventas realizadas.
				li Tasa de conversión: Es el ratio entre el número de ventas que se hacen y las visitas del sitio.
				li Ingresos por visita: Son los ingresos generados entre el número de visitas recibidas.
