- var active = {"category": "Médicos", "service": "Diseño Web"}
- var title = "Diseño Web para Médicos - Braun Marketing & Consulting"
- var description = "Nuestros diseños webs son vanguardistas y utilizan lo último en tecnología web para ofrecer una calidad máxima a tus pacientes."

- var intro = "Con el Diseño web tratamos de aportar a nuestros clientes uno de los servicios más importantes en relación con el marketing médico, como es el relacionado con la imagen y personalidad de la empresa. Vamos a analizar brevemente en qué consiste."
- var video = ""