extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. El ORM, su importancia
	h3.title.is-3 ¿Cuál es el concepto de ORM?
	p.
		De todas las gestiones de marketing encaminadas a <strong>mejorar en la Red la reputación</strong> de la marca, nombre o empresa de que se trate, se ocupa el <strong>ORM</strong>, diferenciando entre las que se dirigen directamente a introducir valores positivos en Internet y las que pretenden controlar y mitigar las publicaciones negativas.   

	h3.title.is-3 ¿Qué influencia tiene el ORM?
	p.
		Como ya señalábamos en la introducción de este apartado, el objetivo final será, en general y sin perjuicio de otras finalidades específicas, <strong>mejorar las cifras</strong> de la empresa o negocio y, sin duda, tener fama de competente, formal y eficiente, nos ayudará de manera muy importante a lograrlo. 
	p.
		Esta imagen, apoyada en el buen hacer de nuestro cliente, deberá ser convenientemente <strong>introducida y divulgada</strong> en Internet, partiendo de la base de que el sector sanitario es especialmente sensible a la reputación de un profesional.

	h3.title.is-3 ¿Cuáles son los criterios de medición de la reputación en Internet?
	p.
		Es importante partir del conocimiento de la reputación que nuestro cliente tiene al empezar a prestar el servicio, y controlarlo en cada momento. Para ello, emplearemos los siguientes <strong>criterios</strong>: 
	ul
		li
			p.
				<strong>Análisis minucioso de lo que exista en Internet</strong> sobre la persona o empresa que nos interese, recopilando cuantos mensajes, comentarios, críticas y opiniones se viertan en la Red al respecto de ella. 
		li
			p.
				Averiguar <strong>de qué modo han influido e influyen tales publicaciones</strong>, positivas y negativas, sobre la imagen de nuestro cliente.  
		li
			p.
				Redactar las <strong>conclusiones a las que lleguemos</strong> sobre la imagen que tiene el cliente y las actuaciones a realizar para mejorarla. 
	hr


	h2.title.is-2 2. Actuaciones de ORM
	h3.title.is-3 ¿Qué acciones desarrollamos para contribuir a mejorar la imagen online del cliente?
	p.
		La estrategia de <strong>ORM</strong> para <strong>definir y mejorar la imagen en la Red</strong>, se basa en la práctica de las siguientes <strong>actuaciones</strong>: 
	ol
		li
			p.
				Uso de las herramientas y alertas necesarias, con los conocimientos técnicos precisos, para <strong>recabar información</strong> sobre las publicaciones que sobre nuestro cliente se introduzcan en Internet. 
		li
			p.
				Elaboración de un sistema de publicaciones que <strong>releguen a todas las negativas</strong> para nuestro cliente a un posicionamiento peor. 
		li
			p.
				En congruencia con el punto anterior, desarrollo de las acciones necesarias para <strong>mejorar</strong> la posición en los resultados de búsqueda de las <strong>publicaciones beneficiosas</strong> para el cliente. 
		li
			p.
				<strong>Inclusión en las distintas redes sociales</strong> de reseñas positivas sobre el cliente, mejorando también de este modo, su imagen. 
		li
			p.
				Cuando por terceros con mala fe, personas pertenecientes a la competencia del cliente o, como consecuencia de un error del mismo, se produzca una publicación masiva de críticas o comentarios perjudiciales para su reputación, desplegaremos toda una batería de <strong>acciones para frenar las consecuencias de esta situación y revertirla</strong>.  
