extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Definición e importancia del Diseño web
	h3.title.is-3 ¿Qué es el Diseño web?
	p Es el conjunto de actividades dirigidas a #[strong estructurar los elementos gráficos] de una página web para que, de manera visual, se exprese la identidad de la empresa. Se trata de realzar los elementos que queramos para darle #[strong personalidad] a la compañía, cubriendo las expectativas del usuario y facilitándole el acceso a la información que busque.

	h3.title.is-3 ¿Por qué es importante el Diseño web?
	p La estética de la página web es muy importante porque es lo #[strong primero] que ve el usuario sobre nosotros y un mal diseño puede hacer que el usuario abandone nuestro sitio o le haga desconfiar de la calidad del servicio. Además de ser #[strong atractiva] a la vista también debe cumplir con los #[strong estándares de navegación] para que los usuarios sepan encontrar las cosas de manera fácil e intuitiva.
	p Un buen diseño también es importante a la hora de posicionar a la página web ya que influye en el #[strong número de visitas], la #[strong experiencia del usuario] e incluso puede influir en la #[strong indexación] que hacen los buscadores. 
	p Otro punto a tener en cuenta dentro del #[strong Diseño web] es la #[strong experiencia del usuario] (UX). 
	p La experiencia del usuario es el conjunto de elementos y factores que intervienen en la interacción del usuario con el sitio, y cuyo resultado es la #[strong generación de una percepción positiva o negativa]. La UX no sólo depende de factores de diseño como la accesibilidad, software, usabilidad, utilidad, calidad de los contenidos, etc, sino que además incluye otros factores como las emociones, construcción y transmisión de la marca.

	hr

	h2.title.is-2 2. Nuestra estrategia

	h3.title.is-3 ¿Cuál es nuestra estrategia de Diseño gráfico?

	ul
		li: p El primer paso a la hora de diseñar una página web es hacer un #[strong estudio de las que ya existen en el mercado] y hablar con el cliente para ver sus necesidades. A partir de ahí, tendremos que ver cuál será el usuario tipo que entrará en la web para adaptar el diseño también a su nivel de conocimientos técnicos.
		li: p A continuación, se hará un estudio para ver cuáles son las #[strong palabras clave] que utilizan los usuarios para buscar nuestro servicio y las integraremos dentro de nuestro diseño para que ayude al posicionamiento SEO.
		li: p Con todos estos datos, se hará un primer #[strong mock up (boceto)] de la página web, que se le enseñará a los clientes y que una vez esté aprobado se le pasará a los diseñadores gráficos y programadores para que hagan la página web.
		li: p Finalmente se hará un #[strong testeo] para comprobar que la página funciona correctamente y que se adecúa a todos los requisitos y objetivos que se hayan fijado para el proyecto y que los usuarios tengan una buena experiencia en ella, que se verá reflejada en la <a href="#[+nextServiceURL()]">Analítica Web</a>.
