- var active = {"category": null, "service": null}
- var title = "Política de Privacidad y Cookies - Braun Marketing & Consulting"
- var description = "Política de Privacidad y Cookies de Braun Marketing & Consulting."
- var intro = 'Política de Privacidad y Cookies'
