extends /partials/policy-layout

block variables
	include _variables
block content

	h1.title.is-1 Política de Privacidad

	p El cumplimiento de la normativa vigente en materia de protección de datos personales (Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, en adelante LOPD), BRAUN MARKETING CONSULTING S.L. (en adelante #[em Braun Marketing & Consulting]) le informa que los datos de carácter personal recabados en los formularios contenidos en este sitio , así como aquellos datos a los que #[em Braun Marketing & Consulting] acceda como consecuencia de su navegación, consulta o solicitud realizada desde este sitio Web, serán recogidos en ficheros cuyo responsable es #[em Braun Marketing & Consulting].
	p Esta Política de Privacidad puede ser revisada con el fin de actualizar los cambios en la legislación vigente, actualizar nuestros procedimientos de recogida y uso de la información de carácter personal, la aparición de nuevos servicios o la exclusión de otros. Estos cambios serán vigentes a partir de su publicación en la web, por lo que es importante que revise regularmente esta Política de Privacidad con el fin de permanecer informado sobre los cambios habidos.

	h2.title.is-2 1. Finalidad
	p La recogida y tratamiento de los datos personales recabados a través de este sitio Web se realiza con la finalidad de llevar a cabo la prestación de los servicios que #[em Braun Marketing & Consulting] ofrece a través de esta página, así como atención de solicitudes de auditoría online y recogida de curriculums.
	p #[em Braun Marketing & Consulting] no utilizará los datos personales para finalidades adicionales.

	h2.title.is-2 2. Veracidad de los datos
	p El Usuario garantiza que los datos personales facilitados  a #[em Braun Marketing & Consulting] son veraces y se hace responsable de comunicar al mismo cualquier modificación.

	h2.title.is-2 3. Consentimiento del Usuario
	p El envío de los datos personales mediante los formularios disponibles en esta Web o, en su caso, el envío de mensajes por correo electrónico solicitando información de nuestra empresa, supone el consentimiento del Usuario para que sus datos personales sean utilizados de acuerdo con las finalidades anteriormente mencionadas y la aceptación de esta Política de Privacidad.

	h2.title.is-2 4. Derechos de acceso, rectificación, oposición y cancelación de los Usuarios
	p El Usuario podrá ejercer sus derechos de acceso, rectificación, oposición y cancelación al tratamiento de sus datos personales, en los términos y condiciones previstos en la LOPD, dirigiendo su solicitud firmada incluyendo copia de su DNI a:
	p BRAUN MARKETING CONSULTING S.L. – Protección de Datos
	p Hoteles de Belén, Calle A, 12, 18009 de Granada.
	p Contacto: #[a(href="mailto:contacto@braunmarketingandconsulting.es", rel="nofollow") contacto@braunmarketingandconsulting.es].
	p Puede resolver cualquier duda o pregunta acerca de esta Política de Privacidad poniéndose en contacto con nosotros a través del teléfono de contacto: #[a(href="tel:+34 666 52 36 68", rel="nofollow") 666 52 36 68].

	h2.title.is-2 5. Seguridad
	p #[em Braun Marketing & Consulting] se compromete a tratar de forma absolutamente confidencial los datos de carácter personal y a hacer uso de los mismos exclusivamente para las finalidades indicadas. Asimismo, garantiza que ha adoptado las medidas oportunas de índole técnica, administrativa y organizativa en sus instalaciones, sistemas y procesos, necesarias para garantizar la seguridad de sus datos de carácter personal y evitar su alteración,  pérdida, robo, divulgación o uso no autorizado. Todo ello, de conformidad con lo previsto en el artículo 9 de la LOPD y en el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la LOPD.

	hr

	h1.title.is-1 Política de Cookies

	p En cumplimiento con lo establecido en el artículo 22.2 de la Ley de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE) y en adecuación con la Directiva Europea 2009/136/CE, #[em Braun Marketing & Consulting] le informa que este sitio Web acepta el uso de cookies.

	h2.title.is-2 1. ¿Qué son las Cookies?

	p La página web de #[em Braun Marketing & Consulting], utiliza cookies y otros archivos de funcionalidad similar. Las cookies son pequeños archivos de datos que se envían al ordenador del Usuario, teléfono móvil u otro dispositivo de acceso cuando visita una página web y que permiten obtener información relativa a su navegación o un código que permite identificar unívocamente al usuario.

	h2.title.is-2 2. Tipología de Cookies y finalidades de uso
	p Según quien sea la entidad que gestione el dominio desde donde se envían las cookies y trate los datos que se obtengan se pueden distinguir dos tipos: #[strong cookies propias] y #[strong cookies de terceros].
	p COOKIES PROPIAS: Las creadas o gestionadas por el responsable de la página web de #[em Braun Marketing & Consulting].
	p COOKIES DE TERCEROS: Las administradas por prestadores de servicios de análisis, de redes sociales, de personalización y de publicidad ajenos a #[em Braun Marketing & Consulting].
	p Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del cliente, pudiendo tratarse de #[strong cookies de sesión] o #[strong cookies persistentes].
	p COOKIES DE SESIÓN: Son cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web. Se suelen emplear para almacenar información que solo interesa conservar para la prestación del servicio solicitado por el usuario en una sola ocasión.
	p COOKIES PERSISTENTES: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y a los que se puede acceder y tratar durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.
	p Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los datos obtenidos: #[strong cookies técnicas], #[strong cookies de personalización], #[strong cookies de análisis], #[strong cookies publicitarias] y #[strong cookies de publicidad comportamental]. Para más información a este respecto puede consultar #[a(rel="nofollow", target="_blank", href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf") aquí].

	h2.title.is-2 3. Cookies utilizadas en nuestra web
	p Nuestra web hace uso de cookies de almacenamiento, seguimiento y recuperación. Una cookie es un fichero que se descarga en el ordenador/smartphone/tablet del usuario al acceder a determinadas páginas web para almacenar y recuperar información sobre la navegación que se efectúa desde dicho equipo. Para conocer más información sobre las cookies, #[em Braun Marketing & Consulting] le invita a acceder al siguiente enlace: #[a(rel="nofollow", target="_blank", href="http://www.iabspain.net/privacidadeninternet/usuario") Privacidad en Internet]

	h2.title.is-2 4. Aceptación de la Política de Cookies

	p #[em Braun Marketing & Consulting] asume que usted acepta el uso de cookies. No obstante, muestra información sobre su Política de cookies en la parte inferior de cualquier página del portal con cada inicio de sesión con el objeto de que usted sea consciente. Ante esta información es posible llevar a cabo las siguientes acciones:
	ul
		li #[strong Aceptar cookies]. No se volverá a visualizar este aviso al acceder a cualquier página del portal durante la presente sesión.
		li #[strong Cerrar]. Se oculta el aviso en la presente página.
		li #[strong Modificar su configuración]. Podrá obtener más información sobre qué son las cookies, conocer la Política de cookies de #[em Braun Marketing & Consulting] y modificar la configuración de su navegador.


	h2.title.is-2 5. Desactivación o eliminación de las Cookies

	p La mayoría de navegadores web permite gestionar, en cualquier momento, las preferencias del Usuario sobre el uso de las Cookies. El Usuario puede ajustar su navegador para que rechace Cookies o elimine determinadas Cookies según su criterio.

	p Para la configuración de las Cookies el Usuario puede acceder a:

	p #[strong Google Chrome]: Herramientas → Configuración → Mostrar configuración avanzada → configuración de contenido → Cookies → Bloquear los datos de sitios y las cookies de terceros.

	p #[strong Mozilla Firefox]: Herramientas → Opciones → Privacidad → Historial → Usar una configuración personalizada para el historial (desmarque todas las casillas).

	p #[strong Internet Explorer]: Herramientas → Opciones de Internet → Privacidad → Configuración para la zona de Internet (suba la barra de navegación hasta Bloquear todas las cookies).

	p #[strong Safari]: Edición → Preferencias → Privacidad → Bloquear cookies (seleccione “siempre”).

	p #[strong Opera 19]: Menú → Configuración → Privacidad y seguridad → Sección Cookies (seleccione Bloquear cookies de terceros y datos de sitio).
	p El Usuario puede revocar su consentimiento para el uso de cookies en su navegador a través de las indicaciones anteriores.

	p El Usuario debe tener en cuenta que algunas características de los contenidos de la página web braunmarketingandconsulting.es solo están disponibles si se permite la instalación de Cookies en su navegador. Si decide no aceptar o bloquear determinadas Cookies (en función de su finalidad), puede que esto afecte, total o parcialmente, al funcionamiento normal de la página web o que impida el acceso a algunos servicios de la misma.

	h2.title.is-2 6. Actualizaciones y cambios en la Política de Cookies
	p #[em Braun Marketing & Consulting] puede modificar esta Política de Cookies en función de nuevas exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos.

	p Cuando se produzcan cambios significativos en esta Política de Cookies se comunicará al usuario mediante un aviso informativo en la página web.

	p #[em Braun Marketing & Consulting] no se hace responsable del contenido y veracidad de las políticas de privacidad de los terceros incluidas en esta política de cookies.

	p Si tiene dudas sobre esta política de cookies, puede contactarnos en: #[a(href="mailto:contacto@braunmarketingandconsulting.es", rel="nofollow") contacto@braunmarketingandconsulting.es]
