- var active= {"category": "Marketing Farmacéutico", "service": null}
- var title = "Marketing Farmacéutico - Braun Marketing & Consulting"
- var description = "¿Eres Farmacéutico? ¿Quieres hacer Marketing Farmacéutico para mejorar tu negocio y no sabes cómo? Nosotros lo hacemos."
- var fraseHeader= "Solo una farmacia entiende la letra de un médico. Sólo nuestro marketing farmacéutico entenderá las necesidades de tu farmacia"

-
    var faq = [
        {
            pregunta: "¿Es necesario invertir en una Agencia especializada en Marketing para farmacéuticos?",
            respuesta: "Sí, si queremos que nuestra presencia en internet sea óptima debemos de delegar las acciones de marketing en una agencia especializada en tu sector, nadie mejor que ellos conocen las necesidades e inquietudes de tu público objetivo en internet."
        },
        {
            pregunta: "¿Cómo mi farmacia puede tener más visibilidad en internet?",
            respuesta: "Si no estás en internet no existes, por tanto, debes ser visible para tu público objetivo y esto lo consigues con diferentes acciones de marketing online como:<ul><li>Posicionamiento orgánico en buscadores</li><li>SEM y social ads</li><li>Social media</li><li>Un diseño web optimizado y responsive</li></ul>"
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing para farmacéuticos?",
            respuesta: "Tener un trabajador en plantilla para realizar acciones de marketing online es más caro que externalizar este servicio a una agencia especializada. La agencia te proporciona estrategias de marketing online 360º, es decir una estrategia global con la finalidad de posicionar tu empresa y alcanzar los objetivos."
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: "No, las redes sociales son un medio para llevar tráfico a tu web y poder interactuar con tu público objetivo de manera directa. Es un canal muy importante para la empresa ya que es la voz de tu empresa en internet. Las empresas no suelen profesionalizar este servicio porque no saben lo importante que puede llegar a ser una buena gestión y el beneficio que esta le podría dar a tu empresa."
        }
    ]

