- var active= {"category": "Marketing Farmacéutico", "service": null}
- var title = "Marketing Farmacéutico - Braun Marketing & Consulting"
- var description = "¿Eres Farmacéutico? ¿Quieres hacer Marketing Farmacéutico para mejorar tu negocio y no sabes cómo? Nosotros lo hacemos."
- var intro= "Solo una farmacia entiende la letra de un médico. Sólo nuestro marketing farmacéutico entenderá las necesidades de tu farmacia"

-
    var faq = [
        {
            pregunta: "¿Es necesario invertir en una Agencia especializada en Marketing Farmacéutico?",
            respuesta: `<p>La respuesta a esta pregunta es <strong>sí, y si aún no lo haces estás perdiendo clientes y beneficios para tu empresa</strong>. Internet es un medio que no para de crecer año tras año, y los usuarios cada vez pasan más tiempo en él. En internet debes de estar y estar bien, que es lo más importante. Por lo tanto, <strong>debes invertir en una agencia especializada en marketing farmacéutico</strong>.</p>
            <p>La competencia que existe hoy día es brutal en el mundo offline, pero en el mundo online la competencia se multiplica, esto es porque tu empresa pasa de competir a nivel local a competir a nivel global. </p>
            <p>Las farmacias que no contratan una agencia especializada en marketing farmacéutico, realizan las mismas acciones de marketing tradicional y marketing online, esto es un error muy común, y esas acciones en internet no tiene validez porque el comportamiento de los usuarios de internet, no son los mismos que los que entran a tu farmacia a comprar.</p>
            <p><strong>Las agencias de marketing online están en continua formación</strong>, debido a que es un medio que está en constante transformación. Los buscadores (Google, Yahoo, Bing), están compuestos por unos algoritmos que cambian constantemente, para el posicionamiento orgánico debemos de estar alerta para introducir cambios en las acciones de marketing online, si no lo hacemos perderemos posiciones que luego será muy difícil recuperarlas. Los consumidores en internet cambian de hábitos muy rápidamente, conocerlos y adaptar tus estrategias a ellos es esencial para convertirlos en clientes potenciales, y esto sólo lo puede llevar a cabo una agencia especializada en tu sector.</p>
            <p>Las agencias de marketing online <strong>contamos con un equipo informático potente y una gran variedad de herramientas de pago con las que optimizamos tus campañas de marketing online</strong>, las empresas suelen utilizar herramientas gratuitas que no tienen el mismo efecto. Si las empresas quisieran trasladar la tecnología que tenemos las agencias de marketing farmacéutico a su empresa tendrían un coste muy elevado.</p>
            <p>Una gran ventaja para las empresas medianas y pequeñas es que en internet pueden competir de tú a tú con las multinacionales de su sector, para ello necesitará delegar el marketing online a una <strong>agencia de marketing farmacéutico que gestione y optimice las acciones y estrategias</strong>.</p>`
        },
        {
            pregunta: "¿Cómo mi farmacia puede tener más visibilidad en internet?",
            respuesta: `<p>Si tu empresa <strong>no tiene visibilidad en internet no existes</strong>, es muy importante tener visibilidad porque si no tus usuarios no ven a tu empresa en internet, no te conocen y por tanto no podrán adquirir tus productos o servicios. Muchas empresas creen que por tener una web y redes sociales ya es visible, pero el mundo de internet es mucho más complejo y no sólo vale con eso.</p>
            <p>El primer consejo para que tu farmacia sea visible en internet es contratar a una agencia especializada en <em>marketing farmacéutico</em>, <strong>la gestión de una estrategia de marketing online es muy compleja y es aconsejable que la lleven a cabo profesionales</strong>.</p>
            <p>Existen muchas formas de ganar visibilidad en internet, pero todas ellas requieren mucho esfuerzo y trabajo. Algunas estrategias para ganar visibilidad en internet son:</p>
            <ul>
                <li><strong>Blog</strong>, tener un blog con <strong>contenido de tu sector actualizado y de calidad</strong> atraerá a tu público objetivo hacia tu sitio web y empezarás a ser conocido en tu sector.</li>
                <li><strong>Buena gestión de redes sociales</strong>, debes de gestionar muy bien tu comunidad y crear una <strong>buena imagen de marca</strong> para que los usuarios empiecen a conocer tu empresa y tus productos o servicios.</li>
                <li><strong>Optimizar Web</strong>, si tu web no está optimizada no aparecerás en ningún buscador y esto es un gran problema, ya que cuando los usuarios busquen algún producto o servicio que tú ofrezcas no aparecerás y se los llevará la competencia.</li>
            </ul>
            `
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing farmacéutico?",
            respuesta: `<p>La respuesta es que <strong>es mejor</strong> para una farmacia <strong>contratar a una agencia especializada en marketing farmacéutico</strong> que contratar a varias personas para que realicen las tareas de marketing online.</p>
            <p>Las principales razones para que una farmacia externalice los servicios de marketing online son:</p>
            <ul>
                <li><strong>Menor coste</strong>, es más económico contratar los servicios de marketing online a una agencia que mantener un equipo propio de marketing online en plantilla. Una <strong>agencia está compuesta por un grupo de profesionales cada uno especializado en una rama del marketing online</strong>, esto en una empresa el coste se dispararía. </li>
                <li><strong>Experiencia</strong>, la experiencia que tiene una agencia especializada en un sector, un equipo de marketing dentro de tu empresa tardaría mucho tiempo en obtenerlo. En la agencia día tras día pasan una gran multitud de proyectos de ese sector y <strong>están a la última de los cambios y tendencias</strong> que se produzcan en este.</li>
                <li><strong>Facilidad de cambio</strong>, cuando contratas a una agencia puedes prescindir contrato si no estás conforme con ella, pero <strong>prescindir de un trabajador propio</strong> de la empresa es más complicado porque <strong>entran en juego despidos, indemnizaciones, etc</strong>.</li>
            </ul>`
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: `<p>Las redes sociales <strong>tienen multitud de finalidades</strong> dentro de las estrategias de marketing online, y una de ellas <strong>es aumentar las ventas</strong>. Las empresas que llevan la gestión de sus propias redes sociales no saben sacarle el partido que tienen esta herramienta, es mejor que esta gestión la lleve una agencia especializada en marketing online.</p>
            <p>Con una buena gestión de las redes sociales las empresas pueden aumentar considerablemente sus ventas. Las principales funciones de las redes sociales son:</p>
            <li><strong>Aumentar el tráfico de la web</strong>, con una buena gestión de las redes sociales se puede atraer un gran número de <strong>clientes potenciales y de calidad</strong>, ya que la comunidad que tenemos en nuestras redes sociales esta segmentada con nuestros productos o servicios. Es muy importante que la web este bien optimizada, sino podemos perder las ventas porque los usuarios que entren en la web salgan de ella.</li>
            <li><strong>Ventas</strong>, depende de los productos o servicios que ofrezca la empresa. En el caso de las Farmacias hay algunos productos que sí que se podrían ofertar en redes y venderlo a través de la web. Productos de parafarmacia, cremas etc.</li>
            <li><strong>Promoción</strong>, es un canal ideal para realizar promociones orgánicas o de pago de nuestros productos o servicios. En redes sociales <strong>nuestros productos o servicios promocionados obtendrán una mayor visibilidad</strong> para nuestro público objetivo.</li>
            <li><strong>Imagen de marca</strong>, en redes sociales tenemos que tener mucho cuidado con lo que publicamos o compartimos, ya que es donde está en juego nuestra imagen como empresa. Los usuarios buscan y comparan en redes sociales productos o servicios y depende de cómo sea tu imagen en redes sociales que esos usuarios compren o no en tu sitio web.</li>`
        }
    ]





