extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Concepto de SEM. Su relevancia y clases
	h3.title.is-3 ¿Qué es el SEM?
	p.
		El <strong>SEM</strong> o <strong>Search Engine Marketing</strong> es el conjunto de resultados que aparece en las búsquedas que realizan los usuarios en las <strong>áreas patrocinadas</strong> de los buscadores. Son posiciones de pago y el orden viene determinado por el precio de la puja, la calidad del anuncio y la página de destino. 
	p.
		Uno de los sistemas más usados de <strong>SEM es Adwords</strong>, que es la herramienta de gestión que proporciona Google para sus anuncios.

	h3.title.is-3 ¿Por qué es importante el SEM?
	p.
		El objetivo es conseguir una posición destacada dentro del buscador para generar tráfico de calidad a la web. Hacer una estrategia SEM da unos <strong>beneficios</strong> claros: permite <strong>darnos a conocer</strong> de manera rápida, podemos <strong>competir</strong> contra las grandes empresas de nuestro sector, el <strong>retorno</strong> de la inversión (ROI) será también rápido y nos permitirá llevar tráfico a la web que realmente esté interesado y que esté ya segmentado ya que se puede seleccionar a qué horas se muestra el anuncio y en qué áreas geográficas.
	h3.title.is-3 ¿Cómo se clasifican los anuncios?
	p.
		Los anuncios aparecen en un orden determinado dependiendo de dos factores: la puja por la palabra clave y la relevancia del anuncio:
	ul
		li
			p.
				<strong>Puja por palabra clave</strong>: se trata de fijar un <strong>precio máximo</strong> por el que queremos que aparezca nuestro anuncio cuando los usuarios utilicen una palabra. Funciona como una puja normal, <strong>a mayor cantidad de dinero ofrecido, mejor posición tendrá el anuncio</strong>. El valor de cada palabra clave vendrá determinado por la demanda que tenga, es decir, en sectores con mucha competencia y donde haya muchas empresas pujando por las mismas palabras, el valor de las mismas será muy elevado y tendremos que pagar más por aparecer en las primeras posiciones.
		li
			p.
				<strong>Relevancia del anuncio</strong>: Este factor es igual o más importante que la puja. Dentro de la relevancia hay diferentes variables: <strong>la calidad</strong> que tenga la página de destino, <strong>la concordancia</strong> entre las palabras usadas y la página de destino y <strong>el texto</strong> que tenga el anuncio. La importancia de la relevancia es tal, que se puede posicionar un anuncio más relevante por encima de otro con una puja inferior.


	h3.title.is-3 ¿Qué otras campañas de anuncios hay?
	p.
		Aunque no es estrictamente <strong>SEM</strong>, nuestra consultora también hace campañas de anuncios para las diferentes <strong>redes sociales</strong>. El funcionamiento a rasgos generales es muy parecido al de los buscadores, si bien cada red social tiene su propia herramienta de gestión de las campañas. La principal diferencia es que mientras en los buscadores los anuncios aparecen cuando el usuario realiza una búsqueda y el contenido que aparece está relacionado, en las redes sociales aparecen mientras el usuario está mirando el contenido de sus contactos y puede o no tener relevancia para ellos. 
	p.
		Los anuncios en redes sociales son más visuales y creativos ya que se puede incluir más contenido, imágenes o vídeos. El objetivo es que se integren mejor en el entorno en donde aparecen y que a su vez puedan ser lo suficientemente originales para llamar la atención.
	p.has-text-centered
		img(src="/img/sem1.png" alt=active.service)

	hr

	h2.title.is-2 2. Nuestra metodología
	h3.title.is-3 ¿Qué métodos usamos?
	p.
		Realizada esta pequeña introducción al mundo del <strong>SEM</strong>, vamos a pasar a hacer una resumida enumeración de los <strong>métodos que utilizamos</strong> al respecto.
	ul
		li
			p.
				<strong>Fijación de objetivos</strong>: Lo primero es tener claro <strong>qué es lo que queremos conseguir</strong> con nuestra campaña de anuncios, que será lo que determine en gran medida la selección de los demás elementos. Cada empresa puede tener uno o varios objetivos: ventas, generar tráfico en la web, generación de marca (branding), obtener datos rellenando un cuestionario, etc. Tener claro este primer paso es fundamental y del que dependerá el éxito de la campaña.
		li
			p.
				<strong>Estudio de las palabras clave</strong>: Usando una serie de herramientas, seremos capaces de detectar cuáles son las <strong>palabras que utilizan los usuarios para buscar nuestros productos y servicios</strong>. A continuación esas palabras serán las que usemos para que sean las palabras que activen nuestros anuncios. Este paso es importante a la hora de generar tráfico de calidad y maximizar el impacto del presupuesto que tengamos para la campaña.
			p.
				En el caso de las campañas en redes sociales deberemos hacer un perfil de los usuarios para poder hacer la segmentación de a quién se le mostrará el anuncio. Deberemos saber: la edad, sexo, ubicación, intereses, ingresos e incluso algunas herramientas permiten personalizarlo. 
		li
			p.
				<strong>Creación del anuncio</strong>: Teniendo en cuenta los objetivos que hayamos decidido al inicio y las palabras clave, tendremos que ir decidiendo <strong>a quién se le mostrará el anuncio</strong>, a qué <strong>horas</strong> y durante cuánto <strong>tiempo</strong>. 
			p.
				El siguiente paso será elegir en qué <strong>red</strong> queremos que aparezcan los anuncios. Hay 3 posibilidades que se pueden combinar entre ellas para tener un mayor alcance:
			ul
				li

					p.
						<strong>Red de Búsqueda</strong>: Son los anuncios que aparecen cuando se realiza cualquier búsqueda en un buscador. Suelen aparecer antes y después de las páginas posicionadas de manera natural.
				li
					p.
						<strong>Red Display</strong>: Son aquellos formatos de anuncios que aparecen en las páginas asociadas a Google. Tiene un conjunto de más de dos millones de sitios web y aplicaciones. En la red Display se puede segmentar para que los anuncios aparezcan en contextos concretos, audiencias específicas, ubicaciones geográficas determinadas, etc.
				li
					p.
						<strong>Remarketing</strong>: Este tipo de anuncios permite que los usuarios que ya han visitado nuestra página, y que sabemos que están interesado en nuestro servicio, sigan viendo nuestros anuncios mientras navegan por otras páginas. Esta técnica es utilizada por los buscadores de hoteles o vuelos cuando se realiza alguna búsqueda en sus webs.
			p.
				Lo último es hacer el <strong>diseño</strong> del anuncio, seleccionando cuál será nuestra “llamada a la acción” y la <strong>descripción</strong> para que el usuario sepa qué es lo que se va a encontrar en nuestra página de destino.
		li
			p.
				<strong>Estudio de la página de destino</strong>: El tener una buena página de destino, con un buen diseño y un contenido relevante, es fundamental para tener éxito en nuestra campaña. Para ello, estudiaremos la página del cliente, detectando los posibles fallos que pudiera tener e implementando las mejoras correspondientes para mejorarla. En caso de no tener página, nos encargaríamos de hacer una que cumpliese con todos los requisitos necesarios que tuviésemos para la campaña.
		li
			p.
				<strong>Gestión de las pujas</strong>: Como ya hemos comentado, la puja es uno de los factores más importante a la hora de posicionar el anuncio. En primer lugar, junto con el estudio de las palabras clave del inicio, habremos sacado cuál es el <strong>nivel de competencia</strong> y el <strong>valor de cada palabra</strong>. Todo ello se deberá realizar con herramientas.
			p.
				A continuación, debemos elegir cómo será el <strong>método de pago</strong> de la campaña. Existen varias formas de pagar por nuestros anuncios y su elección también dependerá de los objetivos que se hayan pensado: notoriedad de marca, ventas, conseguir visitas,… Las 3 principales formas  de pago son:
			ul
				li <strong>CPC</strong>: Coste por cada click que obtiene el anuncio.
				li <strong>CPM</strong>: Coste por cada mil impresiones del anuncio.
				li <strong>CPA</strong>: Coste por adquisición de producto.
