- var active = {"category": "Farmacéuticos", "service": "Consultoría de Negocio"}
- var title = "Consultoría de Negocio - Braun Marketing & Consulting"
- var description = "Nuestra empresa te ayudará a hacer una consultoría de negocio y saber dónde debes mejorar."

- var intro = "Desde Braun Marketing & Consulting te ofrecemos, al margen de los demás servicios de marketing que prestamos, la posibilidad de contar con una <strong>consultoría de negocio</strong> que facilite que tu empresa alcance sus objetivos de crecimiento estable ¿Quieres saber qué actuaciones realizamos?"
- var video = ""