- var active = {"category": "Veterinarios", "service": "PPC"}
- var title = "Pago por Clic o PPC - Braun Marketing & Consulting"
- var description = "Para crecer rápidamente en internet, invierte en PPC y los resultados serán inmediatos."

- var intro = "Al hablar de PPC podríamos caer en la tentación de pensar que se trata simplemente de pagar para adquirir una posición que otorgue visibilidad en los resultados de búsqueda de Google, y que no son necesarios mayores conocimientos ni elaboración de estrategias y desarrollo de trabajos para contribuir a dicho fin. Pero si pensamos eso, estaríamos equivocándonos. Lo cierto es que también en este campo se pueden y se deben llevar a cabo actuaciones de carácter técnico y con el uso de las herramientas adecuadas para obtener el mejor resultado."
- var video = ""