extends /partials/services-layout
block variables
	include _variables

block content
	h2.title.is-2 1. Definición de posicionamiento natural, importancia y tipos

	h3.title.is-3 ¿Cómo podemos definir el posicionamiento natural?
	p Esta expresión se asigna al conjunto de actuaciones de marcado carácter técnico, que tienen como finalidad #[strong aumentar la relevancia y popularidad de una web para mejorar su posicionamiento] en los resultados orgánicos de cada buscador.
	p En definitiva, se trata de usar los conocimientos especializados necesarios para lograr que la página en cuestión ascienda en los resultados de búsqueda, usando mecanismos que no impliquen #[strong ningún desembolso económico], como sí ocurre en el <a href="../sem">SEM</a>.

	h3.title.is-3 ¿Cuál es la relevancia del posicionamiento natural?
	p Para responder a esta pregunta debemos entender antes un razonamiento que, aun siendo obvio, conviene recordar: Los motores de búsqueda de Internet no son #[strong seres humanos] capaces de entender el contenido de una web, sino que se desenvuelven mediante el desarrollo de #[strong algoritmos] que, aunque de modo cada vez más avanzado, les permiten clasificar dicho contenido y determinar, de este modo, la #[strong utilidad] para el que consulta el buscador.
	p Por este motivo, es fundamental conocer las claves que sirven para que el buscador posicione una página, de modo que se pueda adaptar  la misma para maximizar su utilidad y mejorar así su visibilidad.

	h3.title.is-3 ¿Qué se entiende por autoridad, a efectos del posicionamiento de una web?
	p Cuando hablamos de autoridad en este contexto, nos estamos refiriendo a uno de los elementos más importantes usados por un buscador para decidir el posicionamiento de la página web.
	p En la medida en la que una página es #[strong compartida] en un mayor número de ocasiones, el buscador entenderá que su contenido tiene más utilidad para el usuario y, a la vista de que, por tanto, #[strong es más valiosa], considerará que ostenta mayor notoriedad o, dicho de otro modo, más autoridad.

	h3.title.is-3 ¿Y la relevancia?
	p La relevancia guarda una estrecha relación con las #[strong palabras que introduzca el usuario] a la hora de realizar una búsqueda, de tal modo que el buscador analiza el contenido de una página según la palabra introducida por el sujeto, de manera que, siguiendo unas directrices, usa esa relación como uno de los criterios para determinar en qué posición va a aparecer en los resultados dicha página.
	p En un inicio la directriz fundamental era el número de veces que la palabra buscada se encontrase en el contenido de la web, pero hoy en día son #[strong centenares de complejas circunstancias] las que tienen en cuenta los buscadores para definir la relevancia de aquella.

	h3.title.is-3 ¿Cuáles son los tipos de posicionamiento natural?
	p Cuando hablamos de tipos nos referimos a los dos principales grupos en que se puede clasificar el #[strong posicionamiento natural]:
	ul
		li
			p El #[strong posicionamiento natural on site]. Este grupo se ocupa de estudiar el contenido de una web para mejorar su relevancia.
			p Este concepto engloba actividades dirigidas a la optimización de keywords, tiempo de carga, experiencia del usuario, optimización del código y formato de URL.
		li
			p El #[strong posicionamiento natural off site]. En este campo se desarrollan acciones ajenas al contenido de la web, y centradas en los aspectos externos que afectan a su posicionamiento: número y calidad de enlaces, presencia en redes sociales, menciones en medios locales, autoridad de la marca así como el rendimiento en los resultados de búsqueda, también llamado CTR (Click Through Rate).
	hr

	h2.title.is-2 2. Métodos de trabajo

	p Seguramente resulte más interesante, llegados a este punto, dejarnos de teoría y pasar a la práctica ¿Qué podemos hacer por el SEO de tu web? En esta gráfica te lo resumimos:
	p.has-text-centered
		img(src="/img/Metodologia_SEO.png" alt=active.service)

	h3.title.is-3 ¿Qué es el denominado establecimiento de palabras clave?
	p Se trata de la #[strong selección de los términos] que vamos a introducir en el contenido de la web para contribuir a mejorar la relevancia de la misma.
	p Se trata de la acción de mayor valor que se realiza de cara a mejorar el #[strong posicionamiento natural], y conlleva el estudio detenido de los siguientes factores:
	ol
		li La #[strong popularidad] de las palabras clave.
		li La #[strong competencia] por las palabras clave.
		li La #[strong importancia] desde la óptica del marketing.
		li La #[strong correspondencia] de las palabras clave con el contenido de la web.
	p En todo caso, y dada la dificultad para determinar la complejidad que supone el posicionamiento de una palabra clave, en relación con los beneficios que puede aportar, debemos buscar criterios para medir dicha relación, tales como el #[strong KEI], o Keyword Efectiveness Index, que tiene en cuenta la #[strong cantidad de búsquedas de una palabra] o frase y la #[strong competencia] existente con respecto a dicha expresión.
	p También es necesario mencionar el #[strong Google PageRank], que toma como criterio de medida para determinar la competencia al introducir las palabras de búsqueda, el #[strong pagerank de las páginas] que aparecen en los primeros resultados de búsqueda.

	h3.title.is-3 ¿Qué instrumentos usamos para determinar qué palabras clave tener en cuenta?
	p Existen una serie de aplicaciones de gran utilidad para la delimitación de las palabras clave que nos pueden interesar de cara al #[strong posicionamiento natural]:
	ul
		li: p #[strong Google trends]: Aporta sobre todo información sobre la estacionalidad de las keywords que nos interesen, según las cuales nos señalará las tendencias de búsqueda.
		li: p #[strong Google Keyword planner]: Nos indica las búsquedas que arroja la palabra clave en cuestión y la competencia que presenta. Si se tiene una campaña activa en Google Adwords, puedes obtener con exactitud la cantidad de búsquedas y diferenciar según la localidad y el tiempo.
		li: p #[strong Rank-Tracker]: Con este instrumento de gran valor, se te permite hacer un seguimiento continuo del posicionamiento de la palabra clave que nos interese. Con esto logramos tomar consciencia de si las tácticas que usamos están obteniendo el fruto deseado, cuáles son las keywords a las que debemos dar preponderancia por su buen comportamiento y menor esfuerzo, reaccionar con diligencia según el comportamiento de la competencia, así como controlar la evolución del posicionamiento logrado desde cualquier lugar y lengua.

	h3.title.is-3 ¿Cómo definiríamos la adaptación web-seo on page?
	p Es el conjunto de acciones que se desarrollan con posterioridad al análisis de las keywords, según los criterios anteriormente expuestos, por las que #[strong se adapta la web ya creada o se dirige su elaboración a las especificaciones del posicionamiento natural], usando para ello textos con un contenido semántico de calidad y acondicionado a los criterios usados en las búsquedas por nuestro público objetivo, según las palabras clave que le interesen, las cuales habremos obtenido mediante los instrumentos descritos en el punto anterior.

	h3.title.is-3 ¿Cuáles son los criterios de adaptación de la web a las keywords elegidas?
	p Éstas son las instrucciones a tener en cuenta a la hora de dotar de contenido la página web:
	ol(type="a")
		li: p Iniciar los textos con #[strong títulos] que describan de modo único y breve el resto del contenido.
		li: p Incluir la palabra clave principal en la #[strong metadescription] que, a su vez, ha de ser una para la página.
		li: p No olvidar conformar una #[strong URL] amigable que tenga presente la palabra clave.
		li: p Tanto el lector como el buscador se basará en el contenido del #[strong encabezamiento] para deducir aspectos del resto de la web, por lo que debemos prestar especial atención a la colocación de la palabra clave en la cabecera.
		li: p Una acción que colabora en el mejor posicionamiento de la web cuando se busca una imagen con la palabra clave elegida, es la adición en las #[strong imágenes] que se añadan a la página de la descripción “alt”.
		li: p Es importante contar con personas con conocimientos específicos en cada materia para la #[strong redacción] del contenido, de modo que éste sea útil y de calidad.
		li: p Agregar las etiquetas #[strong Schema.org] y #[strong JSON-LD] al código HTML de las páginas para estructurar los datos y que los bots encuentren mayor facilidad a la hora de leer nuestro contenido.

	h3.title.is-3 ¿Para qué sirve una estrategia de contenidos?
	p Desarrollar una adecuada estrategia de contenidos nos permite #[strong aplicar un valor a los usuarios] de nuestra web y determinar por medio de qué canales, formatos y tiempos, vamos a hacerlo.
	p Se trata de saber con profundidad a qué sector de la población nos dirigimos, el calendario que se va a seguir, la mayor o menor solemnidad o formalidad que emplearemos y la forma y canal a usar.

	h3.title.is-3 ¿Qué pasos seguimos para el desarrollo de una correcta estrategia de contenidos?
	p El #[strong posicionamiento natural] que buscamos obtener con una estrategia de contenidos adecuada, se basa en los siguientes #[strong cuatro fundamentos]:
	ol
		li: p Es necesario escoger un #[strong tema apropiado] para dotar de contenido a la página y que posicione según nuestro público objetivo.
		li: p El usuario que llegue a la web y se detenga a leerla, deberá encontrar un #[strong contenido útil] para él y que le satisfaga.

		li: p Organización del contenido de la web en silos que incluyan las palabras clave, de modo que el buscador capte su relevancia mejor. Es la llamada #[strong estructura SILO].

		li: p Mover el contenido de la web en #[strong redes y plataformas sociales], logrando dotarle de más visibilidad.

	h3.title.is-3 ¿Qué importancia tiene el posicionamiento natural off page?
	p En la actualidad, más que los factores que influyen en el SEO on page, influye de una manera más relevante para el posicionamiento de una web el hecho de que existan #[strong en otras páginas webs enlaces] que dirijan al usuario hacia la nuestra.
	p Dentro de la estrategia encaminada a optimizar el #[strong posicionamiento natural off page], entran todas las acciones que operen sobre los aspectos exteriores de la página, y que pueden referirse a enlaces en redes sociales o en blogs, por ejemplo.

	h3.title.is-3 ¿Cuáles son las acciones de posicionamiento off page que desarrollamos?
	p Podemos enunciar brevemente las actuaciones que llevamos a cabo en este campo:
	ul
		li: p #[strong Linkbuilding]: Acercamiento a páginas con similar contenido, que facilite posibilidades de enlace.
		li: p #[strong Linkbaiting]: Elaboración de textos de calidad, con contenido específico escrito por profesionales que vaya acompañado de imágenes y/o vídeos, de modo que capte la atención de un mayor número de lectores que decidan compartirlo y enlazarlo.
		li: p Convertirse en #[strong usuario en foros].
		li: p Intervención en #[strong publicaciones] especializadas, noticiarios, blogs, etc.
		li: p Elaboración y distribución de #[strong notas de prensa].
		li: p Creación de un canal de #[strong Youtube] e identificación en #[strong Google+] y #[strong Google My Business]. Con respecto a éste último, con anterioridad había que acudir a Google+ para las páginas de empresa y a Places para las fichas, pero ahora con Google My Business se unifican estos servicios para facilitar el acercamiento entre negocios.
