- var active = {"category": "Fisioterapeutas", "service": "Gestión de Reputación Online"}
- var title = "Gestión de Reputación Online para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Como se hable de ti en internet influirá en próximos pacientes. Nuestros servicios de gestión de reputación online siempre serán buenos."

- var intro = ""
- var video = ""