extends /partials/services-layout

block variables
	include _variables
block content
	h1.title.is-1= active.service
	p
		span El servicio que ofrecemos dentro de lo que denominamos <strong>posicionamiento natural</strong>, abarca toda una gama de actividades para cuyo mejor entendimiento vamos a desgranar, aun brevemente, a continuación.
	hr
	h2.title.is-2 1. Definición de posicionamiento natural, importancia y tipos
	h3.title.is-3 ¿Cómo podemos definir el posicionamiento natural?
	p.
		Esta expresión se asigna al conjunto de actuaciones de marcado carácter técnico,
		que tienen como finalidad <strong>aumentar la relevancia y popularidad de una web
		para mejorar su posicionamiento</strong> en los resultados orgánicos de cada buscador.
	p.
		En definitiva, se trata de usar los conocimientos especializados necesarios para lograr
		que la página en cuestión ascienda en los resultados de búsqueda,
		usando mecanismos que no impliquen
		<strong>ningún desembolso económico</strong>.
	h3.title.is-3 ¿Cuál es la relevancia del posicionamiento natural?
