- var active = {"category": "Fisioterapeutas", "service": "Posicionamiento SEO"}
- var title = "Posicionamiento SEO para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "¿Te gustaría salir entre los primeros puesto de Google cuando alguien busque a una fisioterapeuta? Nosotros somos la solución."

- var intro = "Incluidos en el concepto de <strong>posicionamiento SEO</strong> se intengran diversos servicios que prestamos a nuestros clientes y que suponen la realización de una serie de actividades que, de manera breve pero lo más precisa posible, pasamos a analizar."
- var video = ""