section#auditoria.hero.is-primary.abs-container
	div.absolute-full
	.hero-body
		.container.has-text-centered
			h2.title Te auditamos tu web GRATIS
			.field.url
				p
					input.column.is-10-mobile.is-offset-1-mobile.is-8-tablet.is-offset-2-tablet.is-6-desktop.is-offset-3-desktop.input.is-large.from-url(type='url', placeholder='Introduce tu URL')
			.field.toggle-on-form
				p
					a.button.is-success.is-large.is-centered Auditoría GRATIS