section#googleseo.hero.is-light
  .hero-body
    .container
      h2.title.is-spaced.has-text-centered= "Somos expertos en"
      ul.tools.has-text-centered
        li
          img(src='/img/google-adwds.svg' alt='Google adwords' title='Google adwords')
        li
          img(src='/img/facebook-ads.svg' alt='Facebook ads' title='Facebook ads')
        li
          img(src='/img/google-seo.png' alt='Google SEO' title='Google SEO')
        li
          img(src='/img/google-analytics.svg' alt='Google analytics' title='Google analytics')

