section#tools.hero.is-light
  .hero-body
    .container
      h2.title.is-spaced.has-text-centered= "Ponemos a disposición de tu proyecto las mejores herramientas premium de Marketing online y desarrollo del Mercado"
      ul.tools.has-text-centered
        li
          img(src='/img/moz.png' alt='Moz' title='Moz')
        li
          img(src='/img/seo powersuite.png' alt='SEO PowerSuite' title='SEO PowerSuite')
        li
          img(src='/img/rank tracker.png' alt='Rank Tracker' title='Rank Tracker')
        li
          img(src='/img/website auditor.png' alt='Website Auditor' title='Website Auditor')
        li
          img(src='/img/seo spyglass.png' alt='SEO SpyGlass' title='SEO SpyGlass')
        li
          img(src='/img/link assistant.png' alt='LinkAssistant' title='LinkAssistant')
        li
          img(src='/img/majestic.png' alt='Majestic' title='Majestic')
        li
          img(src='/img/screamingfrog.png' alt='ScreamingFrog' title='ScreamingFrog')
        li
          img(src='/img/sistrix.png' alt='Sixtrix' title='Sixtrix')
