aside.menu.is-medium.is-hidden.is-hidden-tablet.animated.slideOutLeft
	ul.menu-list
		if active.category
			li
				a(href="/") Volver a inicio
					span.icon.is-pulled-left
						i.fa.fa-caret-left
			li
				a.is-active= menu.categories[active.category].shortName
				ul.animated
					each service, ser_name in menu.categories[active.category].services
						li
							a(href="/"+menu.categories[active.category].slug+"/"+service.slug, class=(ser_name == active.service) ? 'is-active' : '')= ser_name
		else
			each category in menu.categories
				li
					a(href="/"+category.slug)= category.shortName
						span.icon.dropdown-icon.is-pulled-right
							i.fa.fa-caret-down
					ul.animated(style='display:none;')
						each service, ser_name in category.services
							li
								a(href="/"+category.slug+"/"+service.slug)= ser_name