section#home-hero.hero.is-light
    .hero-body
        .container
            h2.title ¿Por qué debo invertir en Consultores estratégicos y Agencia de Marketing online?
            .columns
                .column
                    .card-deck
                        .card
                            .card-content
                                p.title.is-4 60% de los internautas realizan búsquedas Sanitarias
                        .card
                            .card-content
                                p.title.is-4 1,2 millones de búsquedas mensuales relacionadas con salud
                        .card
                            .card-content
                                p.title.is-4 90% busca su dolencia en internet
                        .card
                            .card-content
                                p.title.is-4 ¿Sabes lo mejor de todo?
                                p.title.is-4 El 75% no pasa de la primera página de Google
