section.hero.is-primary
    .hero-body.has-text-centered
        .container
            .columns.align-bottom
                .column
                    h2.title ¿Necesitas ayuda?
                    h3.subtitle Nuestro equipo de consultores te asesorará GRATIS y sin compromiso
                    .columns.is-mobile
                        .column
                            p
                                a(href="tel:+34 " + phone, data-balloon="666 52 36 68", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded
                                    span.icon
                                        i.fa.fa-phone
                        .column
                            p
                                a(href="mailto:" + mail, data-balloon="contacto@braunmarketingandconsulting.es", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded
                                    span.icon
                                        i.fa.fa-envelope
                .column
                    h2.title Síguenos en las redes
                    h3.subtitle Compartimos consejos e información útil para tu negocio
                    .columns.is-mobile
                        .column
                            p
                                a(href=facebook, data-balloon="Facebook", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded
                                    span.icon
                                        i.fa.fa-facebook
                        .column
                            p
                                a(href=twitter, data-balloon="Twitter", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded
                                    span.icon
                                        i.fa.fa-twitter
                        .column
                            p
                                a(href=googleplus, data-balloon="Google+", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded
                                    span.icon
                                        i.fa.fa-google-plus
                        .column
                            p
                                a(href=linkedin, data-balloon="Linkedin", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded
                                    span.icon
                                        i.fa.fa-linkedin

