section.hero.is-light
    .hero-body
        .container
            h2.title La prensa habla de nosotros
            .columns
                .column
                    .card-deck.news
                        .card
                            header.card-header
                                p.card-header-title.is-center
                                    img(src="")
                            .card-block
                                .content
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta facere praesentium, nobis velit possimus nisi rerum aliquid est earum voluptatibus doloribus ducimus aut error, minus! Deserunt ducimus nam, suscipit illum.
                                    p: small 1 Abril 2017
                            footer.card-footer
                                a(href="", rel="nofollow").card-footer-item Ir a la noticia
                        .card
                            header.card-header
                                p.card-header-title.is-center
                                    img(src="")
                            .card-block
                                .content
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta facere praesentium, nobis velit possimus nisi rerum aliquid est earum voluptatibus doloribus ducimus aut error, minus! Deserunt ducimus nam, suscipit illum.
                                    p: small 1 Abril 2017
                            footer.card-footer
                                a(href="", rel="nofollow").card-footer-item Ir a la noticia
                        .card
                            header.card-header
                                p.card-header-title.is-center
                                    img(src="")
                            .card-block
                                .content
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta facere praesentium, nobis velit possimus nisi rerum aliquid est earum voluptatibus doloribus ducimus aut error, minus! Deserunt ducimus nam, suscipit illum.
                                    p: small 1 Abril 2017
                            footer.card-footer
                                a(href="", rel="nofollow").card-footer-item Ir a la noticia