section.hero.is-light
    .hero-body
        .container
            h2.title La prensa habla de nosotros
            .columns
                .column
                    .card-deck.news
                        .card
                            header.card-header
                                p.card-header-title.is-center
                                    a(href="http://www.estrelladigital.es/articulo/empresas/mejora-negocio-salud-gracias-profesionales-braun-marketing-consulting/20170508182214319577.html", rel="nofollow", target="_blank")
                                        img(src="/img/estrelladigital.png", alt="Estrella Digital - Consultoría de Marketing")
                            .card-block
                                .content
                                    a(href="http://www.estrelladigital.es/articulo/empresas/mejora-negocio-salud-gracias-profesionales-braun-marketing-consulting/20170508182214319577.html", rel="nofollow", target="_blank")
                                        img(src="/img/estrelladigital2.png", alt="Artículo Estrella Digital")
                            footer.card-footer
                                .card-footer-item
                                    a(href="http://www.estrelladigital.es/articulo/empresas/mejora-negocio-salud-gracias-profesionales-braun-marketing-consulting/20170508182214319577.html", rel="nofollow", target="_blank") Ir a la noticia
                        .card
                            header.card-header
                                p.card-header-title.is-center
                                    a(href="", rel="nofollow", target="_blank")
                                        //-img(src="/img/europapress.svg", alt="Europa Press - Consultoría de Marketing")
                            .card-block
                                .content
                                    a(href="", rel="nofollow", target="_blank")
                                        //-img(src="", alt="Artículo Europa Press")
                            footer.card-footer
                                .card-footer-item
                                    a(href="", rel="nofollow", target="_blank") Ir a la noticia
                        .card
                            header.card-header
                                p.card-header-title.is-center
                                    a(href="", rel="nofollow", target="_blank")
                                        //-img(src="/img/granadadigital.png", alt="Granada Digital - Consultoría de Marketing")
                            .card-block
                                .content
                                    a(href="", rel="nofollow", target="_blank")
                                        //-img(src="", alt="Artículo Granada Digital")
                            footer.card-footer
                                .card-footer-item
                                    a(href="", rel="nofollow", target="_blank") Ir a la noticia