section.hero.is-light
    .hero-body
        .container
            h2.title La prensa habla de nosotros
            .columns
                .column
                    .card.news
                        header.card-header.tile.is-child
                            p.card-header-title.is-center
                                img(src="/img/logoC.png")
                        .card-content.tile.is-child
                            .content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta facere praesentium, nobis velit possimus nisi rerum aliquid est earum voluptatibus doloribus ducimus aut error, minus! Deserunt ducimus nam, suscipit illum.
                                p: small 1 Abril 2017
                        footer.card-footer.tile.is-child

                            a(href="", rel="nofollow").card-footer-item Ir a la noticia
                .column
                    .card.news
                        header.card-header.tile.is-child
                            p.card-header-title.is-center
                                img(src="/img/header-site-logo.svg")
                        .card-content.tile.is-child
                            .content
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vel facilis doloremque sit tenetur rem quia, atque ullam, natus sunt modi quae praesentium qui facere maxime nam quidem. Fugit, dolor.
                                p: small 1 Abril 2017
                        footer.card-footer.tile.is-child
                            a(href="", rel="nofollow").card-footer-item Ir a la noticia
                .column
                    .card.news
                        header.card-header
                            p.card-header-title.is-center
                                img(src="/img/granadadigital.png")
                        .card-content
                            .content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                p: small 1 Abril 2017
                        footer.card-footer
                            a(href="", rel="nofollow").card-footer-item Ir a la noticia