section.hero.is-light
    .hero-body
        .container
            h2.title La prensa habla de nosotros
            .news.owl-carousel.owl-theme
                .card.item
                    header.card-header
                        p.card-header-title.is-center
                            a(href="http://www.estrelladigital.es/articulo/empresas/mejora-negocio-salud-gracias-profesionales-braun-marketing-consulting/20170508182214319577.html", rel="nofollow", target="_blank")
                                img(src="/img/estrelladigital.png", alt="Estrella Digital - Consultoría de Marketing")
                    .card-block
                        .content
                            a(href="http://www.estrelladigital.es/articulo/empresas/mejora-negocio-salud-gracias-profesionales-braun-marketing-consulting/20170508182214319577.html", rel="nofollow", target="_blank")
                                img(src="/img/estrelladigital2.png", alt="Artículo Estrella Digital")
                    footer.card-footer
                        .card-footer-item
                            a(href="http://www.estrelladigital.es/articulo/empresas/mejora-negocio-salud-gracias-profesionales-braun-marketing-consulting/20170508182214319577.html", rel="nofollow", target="_blank") Ir a la noticia
                .card.item
                    header.card-header
                        p.card-header-title.is-center
                            a(href="http://www.europapress.es/comunicados/tic-00911/noticia-comunicado-estrategia-marketing-sanitaria-braun-marketing-consulting-20170511101623.html", rel="nofollow", target="_blank")
                                img(src="/img/europapress.svg", alt="Europa Press - Consultoría de Marketing")
                    .card-block
                        .content
                            a(href="http://www.europapress.es/comunicados/tic-00911/noticia-comunicado-estrategia-marketing-sanitaria-braun-marketing-consulting-20170511101623.html", rel="nofollow", target="_blank")
                                img(src="/img/europapress2.png", alt="Artículo Europa Press")
                    footer.card-footer
                        .card-footer-item
                            a(href="http://www.europapress.es/comunicados/tic-00911/noticia-comunicado-estrategia-marketing-sanitaria-braun-marketing-consulting-20170511101623.html", rel="nofollow", target="_blank") Ir a la noticia
                .card.item
                    header.card-header
                        p.card-header-title.is-center
                            a(href="http://granadadigital.com/braun-marketing-consulting-la-importancia-contar-expertos/", rel="nofollow", target="_blank")
                                img(src="/img/granadadigital.png", alt="Granada Digital - Consultoría de Marketing")
                    .card-block
                        .content
                            a(href="http://granadadigital.com/braun-marketing-consulting-la-importancia-contar-expertos/", rel="nofollow", target="_blank")
                                img(src="/img/granadadigital2.png", alt="Artículo Granada Digital")
                    footer.card-footer
                        .card-footer-item
                            a(href="http://granadadigital.com/braun-marketing-consulting-la-importancia-contar-expertos/", rel="nofollow", target="_blank") Ir a la noticia
                .card.item
                    header.card-header
                        p.card-header-title.is-center
                            a(href="http://xornaldegalicia.es/especiales/comunicados/10587-braun-marketing-consulting-la-alternativa-en-marketing-sanitario-que-estabas-buscando/", rel="nofollow", target="_blank")
                                img(src="/img/xornaldegalicia.png", alt="Xornal de Galicia - Consultoría de Marketing")
                    .card-block
                        .content
                            a(href="http://xornaldegalicia.es/especiales/comunicados/10587-braun-marketing-consulting-la-alternativa-en-marketing-sanitario-que-estabas-buscando/", rel="nofollow", target="_blank")
                                img(src="/img/xornaldegalicia2.png", alt="Artículo Xornal de Galicia")
                    footer.card-footer
                        .card-footer-item
                            a(href="http://xornaldegalicia.es/especiales/comunicados/10587-braun-marketing-consulting-la-alternativa-en-marketing-sanitario-que-estabas-buscando/", rel="nofollow", target="_blank") Ir a la noticia
                .card.item
                    header.card-header
                        p.card-header-title.is-center
                            a(href="https://www.noticiasvigo.es/braun-marketing-consulting-importante-escoger-buen-proveedor/", rel="nofollow", target="_blank")
                                img(src="/img/noticiasvigo.png", alt="Noticias Vigo - Consultoría de Marketing")
                    .card-block
                        .content
                            a(href="https://www.noticiasvigo.es/braun-marketing-consulting-importante-escoger-buen-proveedor/", rel="nofollow", target="_blank")
                                img(src="/img/noticiasvigo2.png", alt="Artículo Noticias Vigo")
                    footer.card-footer
                        .card-footer-item
                            a(href="https://www.noticiasvigo.es/braun-marketing-consulting-importante-escoger-buen-proveedor/", rel="nofollow", target="_blank") Ir a la noticia
