section.hero.is-light
	.hero-body
		.container
			h2.title Testimonios
			.columns
				.column
					blockquote.card.quote
						.card-content
							p.subtitle.is-marginless.is-4: strong ¿Qué valor te aportamos?
							p.subtitle.
								La confianza y tranquilidad de dejar en buenas manos la expansión de la empresa
								a través de la web y redes sociales con una implicación e interés por las cosas
								bien hechas.
							p.subtitle.is-marginless.is-4: strong ¿Por qué recomendarías a Braun Marketing & Consulting?
							p.subtitle.
								Conocen el movimiento de redes sociales y marketing a nivel sanitario.
								Información con claridad de las estrategias de actuación con seguimiento
								y muestra de resultados de las acciones realizadas.
						.card-footer
							.card-content
								.columns.is-mobile
									.column.name
										p.subtitle.is-6: strong Celestino Picazo
										p.subtitle.is-6: strong Fisioterapeuta
									.column.is-narrow
										span.image.is-128x128
											img(src='/img/celestino.jpg', alt='')

				.column
					blockquote.card.quote
						.card-content
							p.subtitle.is-marginless.is-4: strong Lorem Ipsum
							p.subtitle.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet possimus ad vero beatae distinctio. Non eveniet ipsa repellendus vitae quidem, suscipit sit ex odit deserunt in, dolor reprehenderit iure cupiditate?
						.card-footer
							.card-content
								.columns.is-mobile
									.column.name
										p.subtitle.is-6: strong Menganito
										p.subtitle.is-6: strong Veterinario
									.column.is-narrow
										span.image.is-128x128
											img(src='/img/celestino.jpg', alt='')
