section#testimonios.hero.is-primary.abs-container
	.absolute-full
	.hero-body
		.container

			h2.title Testimonios
			.columns
				.column
					.card-deck
						blockquote.card.quote
							.card-block
								p.subtitle.is-marginless.is-4: strong ¿Qué valor te aportamos?
								p.subtitle Lo que más valoro es que desde el primer momento hicieron un enfoque realista de las necesidades de mi empresa. También me gusta mucho tener un control y conocimiento de las actuaciones que se van haciendo, de tal manera sabemos la dirección en la que estamos trabajando.
								p.subtitle.is-marginless.is-4: strong ¿Por qué recomendarías a Braun Marketing & Consulting?
								p.subtitle Personalmente creo que el compromiso del equipo de Braun Marketing & Consulting es muy alto e intentan sacar el máximo rendimiento al presupuesto del que dispongo mensualmente para Marketing.
								.stars
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
							footer.card-footer
								.content
									.columns.is-mobile
										.column.name
											p.subtitle: strong José Luis Martín
											p.subtitle: strong Clínica Martín Gómez Traumatólogos
										.column.is-narrow
											span.image.is-128x128
												img(src='/img/jose-luis-martin-alguacil-128.jpg', alt='Testimonio Braun Marketing')
						blockquote.card.quote
							.card-block
								p.subtitle.is-marginless.is-4: strong ¿Qué valor te aportamos?
								p.subtitle La confianza y tranquilidad de dejar en buenas manos la expansión de la empresa a través de la web y redes sociales con una implicación e interés por las cosas bien hechas.
								p.subtitle.is-marginless.is-4: strong ¿Por qué recomendarías a Braun Marketing & Consulting?
								p.subtitle Conocen el movimiento de redes sociales y marketing a nivel sanitario. Información con claridad de las estrategias de actuación con seguimiento y muestra de resultados de las acciones realizadas.
								.stars
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
									span.icon
										i.fa.fa-star
							footer.card-footer
								.content
									.columns.is-mobile
										.column.name
											p.subtitle
												strong Celestino Picazo
											p.subtitle
												strong Clínica de Fisioterapia YoFisio
										.column.is-narrow
											span.image.is-128x128
												img(src='/img/celestino-128.jpg', alt='Testimonio Braun Marketing Consulting')
