section.hero#text-left-img-right.is-primary
    .hero-body
        .columns.is-gapless
            .column
                .container-left
                    h2.title  Transparencia, compromiso y consistencia son tres de nuestros valores fundamentales como consultores y profesionales del Marketing online
            .column
                img(src="/img/transparencia.jpg", alt="Marketing Online")