- var active = {"category": "Médicos", "service": "Consultoría"}
- var title = "Consultoría para Clínicas Médicas - Braun Marketing & Consulting"
- var description = "Con nuestra consultoría calcularemos todo en su negocio. Le Ayudamos a mejorar la rentabilidad."

- var intro = "¿Cómo puedo lograr crecer cada año? ¿Cómo aumentar mi rentabilidad? O ¿Cómo puedo montar mi empresa? Si tienes estas preguntas o parecidas entonces nosotros podemos ayudarte. Para alcanzar el máximo potencial del negocio, las empresas deben centrar sus esfuerzos en la mejora del rendimiento y mantenerlo a lo largo del tiempo. En Braun Marketing & Consulting somos esos profesionales que pueden ayudarte a alcanzar este doble reto con nuestra <strong>consultoría</strong> pensada específicamente para ti."
- var video = ""