- var active = {"category": "Médicos", "service": "Consultoría"}
- var title = "Consultoría para Clínicas Médicas - Braun Marketing & Consulting"
- var description = "Con nuestra consultoría calcularemos todo en su negocio. Le Ayudamos a mejorar la rentabilidad."

- var intro = ""
- var video = ""