extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Objeto e importancia de las gestiones de consultoría

	h3.title.is-3 ¿En qué consisten las acciones de nuestra consultoría?
	p.
		Con nuestra <strong>consultoría</strong> te daremos soporte a la hora de obtener mejoras en el rendimiento de tu negocio centrándonos en las áreas de <strong>finanzas, operaciones y clientes</strong>, a través de un plan de negocio creado al efecto.  
	p.
		En la elaboración de la estrategia de consultoría, estudiaremos distintos puntos, como el análisis del mercado, los clientes potenciales, definiremos el producto o servicio que vamos a ofrecer, estableceremos la línea estratégica a seguir y una consecución de objetivos a corto y medio plazo que nos ayudarán a poder medir nuestros resultados.

	h3.title.is-3 ¿Qué es específicamente la consultoría de finanzas?

	p.
		Se trata del conjunto de servicios de asesoramiento dirigidos a dar soporte a nuestro cliente en aspectos tan fundamentales como la <strong>gestión y control financiero </strong>de la empresa. 


	h3.title.is-3 ¿Por qué es importante recibir un servicio de consultoría?

	p.
		Básicamente, porque nos permite entender desde el principio cuáles serán los gastos y costes a los que nos enfrentaremos.
	p.
		El plan de negocio es la carta de presentación del proyecto para obtener financiación bancaria o de cualquier tipo, tanto privada como pública. En concreto, a la consultoría de finanzas debemos considerarla como un <strong>elemento fundamental para el desarrollo empresarial</strong>.

	hr
	h2.title.is-2 2. Metodología de trabajo

	h3.title.is-3 ¿Qué actuaciones de consultoría desarrollamos?

	p.
		Elaboraremos un <strong>plan de negocio</strong> con una serie de previsiones basadas en datos realistas y objetivos, obtenidos del análisis previo del negocio de nuestro cliente. En caso de que no haya datos de dicha empresa porque sea de creación nueva, nos basaremos en nuestra experiencia en el sector para hacer una estimación realista. 
	p.
		En caso de <strong>necesidades de financiación</strong> nosotros te ayudaremos a buscar las mejores condiciones.
	p.
		Te <strong>acompañaremos en todo el proceso</strong> desde que tienes la idea hasta que el negocio está en funcionamiento. Con nosotros y nuestra red de partners podrás llevar a cabo tu idea y convertirla en una realidad con la tranquilidad de estar bien informado y asesorado. 
	p.
		<strong>Revisión de los niveles financieros</strong>: Te ayudaremos a tomar conciencia de qué está pasando en tu empresa. Revisaremos si hay un buen flujo de caja, si hay suficientes ingresos, si es necesario reducir los gastos para tener más posibilidades para invertir –aunque tengas ingresos–.

	p.
		<strong>Control del cash-flow de la caja</strong>: Controlaremos y te ayudaremos a que, cumplidos los plazos en los que tienes que cobrar, los ingresos sean suficientes para hacer frente a las obligaciones de pago.

	p.
		Te ayudaremos a <strong>calcular la rentabilidad de tu negocio</strong>. Una cosa es tener margen y otra cosa es tener rentabilidad. Al final el margen es una comparación que tienes en la cuenta de resultados entre ingresos y gastos, y la rentabilidad es un concepto de eficiencia. Este ratio resulta más útil que analizar los beneficios.

	p.
		<strong>Control de costes</strong>: Se trata de una actuación clave en las labores de <strong>consultoría</strong> para una buena gestión empresarial. Es importante establecer un escalado de costes. Debemos tener claro que, al final, de las ventas no hay sólo que restar el margen del coste directo, sino también las imputaciones de costes que van a mi producto o servicio: transporte, comercialización, tiempo invertido etc. Es necesario analizar si con ese precio se le gana dinero, o no, a mi producto o servicio. 
	p.
		En este apartado, elaboramos un estudio de mercado de la competencia que venda el mismo producto y/o servicio mediante el cual podremos asesorar a nuestro cliente para fijar el precio perfecto de su producto o servicio gracias al control sobre el coste real del servicio y al precio de venta de la competencia. 
