- var active = {"category": "Marketing Odontológico", "service": "Google Adwords"}
- var title = "Google Adwords para Odontólogos - Braun Marketing & Consulting"
- var description = "Si quieres aparecer de manera inmediata entre los primeros resultados de Google, necesitas hacer Google Adwords."

- var intro = "Debemos partir de la base de que lograr un posicionamiento mediante <strong>Google Adwords</strong> supone un desembolso económico que nos permite obtener una buena posición en el área de anuncios de la página de resultados de una búsqueda. Podría pensarse, por tanto, que hablamos simplemente de una transacción económica: a mayor precio, mejor posicionamiento. No obstante, también en este ámbito se deben desarrollar <strong>estrategias</strong> para lograr nuestro objetivo de la mejor manera posible."
- var video = ""