extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Google Adwords: Su concepto y eficacia. Otros tipos de anuncios

	h3.title.is-3 ¿Cómo definimos el Google Adwords?
	p #[strong Google Adwords] es la herramienta prevista por Google para el posicionamiento de una página en virtud del #[strong precio] pagado, apareciendo el resultado de la búsqueda en el apartado reservada para los anuncios patrocinados.
	p Por consiguiente, y según lo dicho, la posición de la web dentro de esta área, vendrá dado por la #[strong puja], la calidad del #[strong anuncio] y cómo sea la #[strong web] en cuestión.


	h3.title.is-3 ¿Es eficaz Google Adwords?
	p La eficacia de #[strong Google Adwords] se aprecia en los #[strong tres] principales #[strong beneficios] que proporciona: Por un lado permite que nuestra web sea #[strong conocida de forma rápida]; nos otorga una #[strong visibilidad] a la altura de grandes empresas que conforman nuestra principal competencia; el retorno de la inversión, o #[strong ROI], se obtiene en breve plazo, aumentando el tráfico a nuestra web de los internautas que encajen en el perfil del público objetivo que nos interese, selección de personas que se puede realizar en tanto en cuanto podemos segmentar nuestros objetivos por horario y ubicación. 
	p No obstante, la mayor obtención de #[strong eficacia] respecto de esta acción, guardará relación con #[strong dos aspectos] que ya hemos mencionado:
	ol(type="a")
		li
			p El #[strong precio que se pague] para la aparición del anuncio en el área patrocinada de los resultados de búsqueda de Google. Cuanta más alta sea la #[strong puja], mejor será ese posicionamiento, y cuanto mayor sea el número de búsquedas y nivel de competencia que tenga la palabra clave elegida, mejor resultado obtendremos.
		li
			p El segundo aspecto va referido a las #[strong características del anuncio y de nuestra web]: la calidad de los contenidos de la web y de los textos del anuncio, estrategia correcta de selección de palabras clave, etc.
			p Nunca deberemos dejar de ocuparnos adecuadamente de trabajar la #[strong relevancia], por cuanto incluso anuncios con puja superior pueden verse superados en posicionamiento por webs con mayor relevancia.

	h3.title.is-3 ¿Qué otros tipos de anuncios podemos disponer?
	p Mientras que con las acciones de posicionamiento por pago que hemos descrito, se muestran unos determinados anuncios en la página de resultados según la búsqueda que el usuario haya hecho, existen otras clases de #[strong anuncios que se diseminan por las redes sociales] para que sean vistos por los internautas cuando entren a mirar los contenidos de sus contactos, tengan o no relación con los mismos.
	p Este tipo de campañas también pueden ser desarrolladas por nuestra parte, para lo cual será necesario #[strong crear anuncios con mayor contenido creativo y que resulte más llamativo] visualmente para el usuario, para que, tratándose de una información que no ha buscado expresamente, llamen su atención los textos, imágenes y/o vídeos que se le presenten.
	p.has-text-centered
		img(src="/img/sem3.png" alt=active.service)

	hr

	h2.title.is-2 2. Actuaciones a realizar

	h3.title.is-3 ¿Cuáles son los servicios que ofrecemos respecto del Google Ads?
	p Ahora que tenemos algunas nociones de lo que implica el #[strong Google Adwords], haremos una breve explicación de cada uno de los #[strong pasos] que debemos dar a la hora de llevar a la práctica nuestra estrategia, y que son: determinación de nuestro #[strong objetivo]; selección de #[strong palabras clave]; conformación del #[strong anuncio] y adaptación de la #[strong página de destino]; y gestión de #[strong pujas]. 

	h3.title.is-3 ¿Cómo determinar nuestro objetivo?
	p Sólo teniendo claro cuál es el #[strong objetivo concreto] que queremos alcanzar en cada momento, podremos #[strong adaptar nuestra estrategia] para lograrlo.
	p Así, puede ser que en un principio nos interese tener como meta aumentar el tráfico de la página o generar marca (branding), y después quizás cambiemos nuestro fin hacia la consecución de un mayor número de ventas, o de la obtención de más datos sobre los usuarios que visitan la web.
	p En cada caso, las tácticas a desplegar variarán hacia la obtención del objetivo en cuestión.

	h3.title.is-3 ¿Cómo realizamos la selección de las palabras clave?

	p El objetivo en este caso es averiguar, mediante el estudio y el uso de las herramientas adecuadas, cuáles son #[strong los términos que los internautas usan] cuando quieren buscar en Internet una página con la temática de la nuestra. Para conseguir las palabras nos podemos ayudar en un <a href="#[+nextServiceURL()]">Benchmarking Odontológico</a>. Una vez localizadas, estas expresiones serán las que dispongamos para que se #[strong active] nuestro anuncio.
	p Si se desarrolla de manera acertada esta actuación, conseguiremos #[strong maximizar el dinero] invertido en la campaña y dirigir a nuestra web a los #[strong usuarios que nos interesan].
	p En el caso de #[strong campañas en redes sociales], estas acciones deberán ir dirigidas a conocer el perfil del usuario de las mismas (sexo, edad, ubicación, economía, intereses, etc), y determinar a quién debe aparecerle el anuncio y a quién no.

	h3.title.is-3 ¿Cómo adaptar el anuncio y la web de destino?

	ol(type="a")
		li
			p #[strong El anuncio]: A la hora de configurar nuestro anuncio, debemos identificar el #[strong tipo de público] al que nos interesa dirigirnos, para tomar decisiones como qué usuario lo verá, durante cuánto tiempo estará activa la campaña y a qué horas.  

			p Asimismo, en cuanto a su #[strong diseño y contenido], deberemos hacer textos llamativos pero descriptivos, con los que los usuarios puedan saber de modo casi instantáneo el objeto de nuestra web, así como incluir una llamada a la acción que pueda enganchar a un número importante de personas. 

			p Finalmente, es necesario decantarse por una de las tres posibilidades de #[strong red] para que salga nuestro anuncio: 
			ul
				li: p La #[strong red de búsqueda], en cuyo caso nuestro anuncio se verá cuando el usuario haga una búsqueda en Internet relacionada con la temática de nuestra página, apareciendo nuestro anuncio en la parte superior e inferior de la pantalla, en las áreas patrocinadas.
				li: p La #[strong red Display], para que el anuncio salga en la red asociada a Google (más de dos millones de páginas y aplicaciones) aunque, eso sí, llevando a cabo previamente una selección de aquéllas en las que se verá, según los criterios que reúna la página: contenido, perfil de usuario, ubicación, etc.
				li: p El #[strong remarketing]. Con esta opción, habitual entre buscadores de hoteles y vuelos, el anuncio aparecerá al usuario que anteriormente visitó nuestra página, cuando entre en otra web. 
		li
			p #[strong La página de destino]: La web a la que el usuario llegue desde el anuncio, deberá #[strong impactarle visualmente] lo máximo posible e #[strong interesarle en cuanto a su contenido]. Para ello es imprescindible hacer un estudio en profundidad para crear una web apropiada, en el caso de que no exista todavía, o adaptarla a nuestros objetivos, si ya hay una creada.

	h3.title.is-3 ¿Cómo se gestionan las pujas?
	pEl sistema de posicionamiento mediante #[strong Google Adwords], en lo que a las pujas se refiere, es sencillo: a mayor precio, mejor posición en los resultados de búsqueda.
	pPara llevar a cabo una puja de manera correcta, debemos tener en cuenta #[strong dos acciones]:
	ol(type="a")
		li: p Hemos de hacer un #[strong análisis en profundidad de las keywords], competencia y número de búsquedas, mediante el uso de las herramientas apropiadas.
		li: p Para #[strong pagar el precio] de la campaña tendremos que seleccionar la forma que conjugue mejor con nuestra finalidad, de entre estas tres opciones: El CPC (#[strong pago por clic]); el CPM (#[strong pago por cada mil impresiones]); y el CPA (#[strong pago por asquisición]).
