- var active = {"category": "Fisioterapeutas", "service": "Social Marketing"}
- var title = "Social Marketing para Fisioterapeutas - Braun Marketing & Consulting"
- var description = "Las Redes Sciales son imprescindibles. Atrén, fidelizan e informan. Con nuestros servicios de Social Marketing no necesitarás preocuparte por tus RRSS."

- var intro = ""
- var video = ""