- var active = {"category": "Marketing Veterinario", "service": "Social Media Plan"}
- var title = "Social Media Plan - Braun Marketing & Consulting"
- var description = "Pon en manos profesionales tu Social Media Plan y ten una imagen profesional en las redes sociales."

- var intro = "Cuando de elaborar un plan de marketing completo para nuestro cliente se trata, uno de los apartados que más preponderancia hay que aplicar es el del <strong>social media plan</strong>. Ello se debe al aumento que en los últimos tiempos ha experimentado el uso de todo tipo de plataformas sociales en la sociedad, lo que obliga a las empresas a estar al día en ese ámbito y a aprovechar, en la medida de lo posible, todas las oportunidades que ofrece."
- var video = ""