extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Características de las acciones de Social Media Plan. Redes sociales en las que intervenir

	h3.title.is-3 ¿A qué nos referimos con actuaciones de Social Media Plan?
	p La estrategia de #[strong Social Media Plan] que prevemos como parte de nuestro servicio de marketing, va referida a todas aquellas acciones que se desarrollarán en el ámbito de las #[strong plataformas sociales], desde las que las personas de hoy en día, cada vez más preparadas para el manejo de las nuevas tecnologías, comparten datos, informaciones, fotos, vídeos, etc, y en las que pueden intervenir tanto personas normales como empresas, pudiendo servirse éstas últimas de la posibilidad que estas plataformas les brindan para obtener #[strong beneficios] de distinta índole, como información sobre sus posibles clientes o la capacidad de una comunicación mucho más directa con ellos. 
 
	h3.title.is-3 ¿Qué ventajas podemos encontrar con una correcta estrategia de Social Media Plan?
	p Que #[strong más gente llegue a nuestra web] y que #[strong más personas contraten los servicios de nuestra empresa], son dos de los beneficios finales que podemos lograr como consecuencia de que más usuarios de las plataformas sociales compartan y difundan las publicaciones que hacemos en las distintas redes, si conseguimos llevarlas a cabo de manera atractiva para los internautas y con un contenido que les reporte utilidad o interés.
	p En la búsqueda de este objetivo final, o de cualquier otro que nos planteemos, podemos encontrar #[strong varias ventajas] con el uso de las redes sociales:
	ol(type="A")
		li: p #[strong No se requiere una inversión inicial] para comenzar a operar en las redes, ya que la creación de un perfil y su uso es totalmente gratuito, aun cuando la elaboración de su contenido conlleve un esfuerzo grande.
		li: p Si hacemos una planificación correcta y ejecución adecuada de la misma, lograremos que nuestra #[strong marca se difunda rápidamente] en la Red.
		li: p Además del beneficio que consigamos para las métricas de nuestra empresa, también #[strong mejoraremos la imagen] de la misma ante los usuarios, ya que las redes nos permitirán una comunicación mucho más inmediata con ellos, pudiendo atender todas sus preguntas y consultas rápidamente así como conocer de primera mano cuáles son sus inquietudes y necesidades. A ello contribuyen nuevas posibilidades como los directos de Youtube, Facebook e Instagram, o el Periscope de Twitter.


	h3.title.is-3 ¿A qué redes sociales nos referimos cuando hablamos de las más importantes? 

	p Sin duda todos podemos nombrar de memoria las redes sociales más importantes que existen hoy en día. A continuación haremos un pequeño análisis de cada una de ellas y cómo pueden ser aprovechadas las características o especialización de cada una para #[strong nuestro programa de Social Media Plan].
	ul
		li
			p Nombre de la red: #[strong Facebook].
			ul
				li
					p #[strong Rasgos distintivos]: Es la red más extendida del planeta y admite perfiles para particulares y para empresas, por lo que es importante para la nuestra tener un perfil en esta plataforma y aprovechar las ventajas que dispone en cuanto a la posibilidad de programación de las publicaciones y de obtención de datos estadísticos.
					p El mayor problema que presenta es que cada publicación alcanza inicialmente únicamente a entre un 3 y un 5% de los contactos, tanto por ciento que se incrementa solamente en la medida en que los usuarios compartan, comenten y den likes a la publicación.
				li
					p #[strong Público objetivo]: Hombres y mujeres. Edad indiferente. Capacidad económica y cultural indiferente.
				li
					p #[strong Horario más beneficioso para la publicación]: 1 a 3 p.m. y 7 a 9 p.m., jueves y viernes.
				li
					p #[strong Número de usuarios en el mundo]: Casi 1.600 millones.
				li
					p #[strong Número de usuarios en España]: Alrededor de 19 millones (16 millones de ellos son personas de entre 16 y 55 años).
		li
			p Nombre de la red: Twitter.
			ul
				li
					p #[strong Rasgos distintivos]: Se trata de la red más importante de entre las especializadas en microbloggings, previendo la posibilidad de compartir mensajes de, como mucho, 140 caracteres, que permanecen visibles una o dos horas antes de quedar prácticamente ocultos.
					p Permite la relación inmediata con el usuario, con el envío y respuesta de mensajes en tiempo real.
				li
					p #[strong Público objetivo]: Hombres. Edad indiferente. Capacidad económica media o alta.
				li
					p #[strong Horario más beneficioso para la publicación]: 12 p.m. y 6 p.m.
				li
					p #[strong Número de usuarios en el mundo]: Unos 320 millones.
				li
					p #[strong Número de usuarios en España]: 7,7 millones.
		li
			p Nombre de la red: #[strong LinkedIn].
			ul
				li
					p #[strong Rasgos distintivos]: Es la principal red especializada en el ámbito profesional, por lo que su aspecto y funcionamiento es más serio y formal.
					p Permite su uso para particulares y empresas.
				li
					p #[strong Público objetivo]: Hombres. Edad media. Capacidad económica alta.
				li
					p #[strong Horario más beneficioso para la publicación]: 5 p.m. y 6 p.m., martes, miércoles y jueves.
				li
					p #[strong Número de usuarios en el mundo]: Más de 433 millones.
				li
					p #[strong Número de usuarios en España]: Alrededor de 8 millones.
		li
			p Nombre de la red: #[strong Youtube].
			ul
				li
					p #[strong Rasgos distintivos]: Esta red es la más extendida entre las especializadas en compartir vídeos.
					p A su fuerte crecimiento, que sigue experimentando, colabora el uso, cada vez más generalizado, en la sociedad de los teléfonos inteligentes, desde los que resulta muy fácil y cómodo subir un vídeo a la red que, además, adquiere buen posicionamiento gracias a que la entidad que los indexa es Google. 
				li
					p #[strong Público objetivo]: Hombres. Edad media. Capacidad económica media o alta.
				li
					p #[strong Horario más beneficioso para la publicación]: 1 p.m., miércoles y jueves.
				li
					p #[strong Número de usuarios en el mundo]: Alcanza los 1.000 millones.
				li
					p #[strong Número de usuarios en España]: Aproximadamente 14 millones.
		li
			p Nombre de la red: #[strong Instagram].
			ul
				li
					p #[strong Rasgos distintivos]: Hablamos de la red más relevante en cuanto a las especializadas en compartir fotos.
					p Su importancia y crecimiento también ha venido favorecido por el uso masivo de los teléfonos inteligentes, por el mismo motivo que para Youtube, así como también por la introducción de posibilidades de filtro de las fotografías que se suben a la red, que les otorgan una apariencia de gran profesionalidad.
					p A pesar de centrar su objeto en compartir instantáneas, no deja de ser interesante para las empresas, que pueden abrirse a sus clientes mostrando más aspectos de su funcionamiento y día a día, así como sus dependencias o trabajadores.
				li
					p #[strong Público objetivo]: Mujeres. Jóvenes. Capacidad económica media.
				li
					p #[strong Horario más beneficioso para la publicación]: 3 p.m. y 4 p.m., los lunes.
				li
					p #[strong Número de usuarios en el mundo]: Ha alcanzado los 400 millones.
				li
					p #[strong Número de usuarios en España]: Aproximadamente 8 millones.
	hr

	h2.title.is-2 2. Nuestra estrategia habitual de Social Media Plan
 
	h3.title.is-3 ¿Cuáles son los puntos que tenemos en cuenta en nuestra planificación? 
	p Nuestro protocolo de elaboración de #[strong estrategias de Social Media Plan], conlleva cubrir el estudio de los siguientes aspectos, que ordenamos cronológicamente: 
	ol(type="a")
		li: p #[strong Punto de partida]: Qué plan se ha llevado hasta nuestra llegada, qué imágenes se han usado, en qué redes se han creado perfiles y con qué contenido, qué publicaciones se realizaban, su periodicidad, resultados obtenidos, etc. 
		li: p #[strong Nuestro plan]: A partir de lo que tengamos y se haya hecho, fijaremos nuestros objetivos, seleccionaremos las redes apropiadas para lograr alcanzar los mismos, concretaremos el modo en qué actuaremos en ellas y redactaremos un manual de estilo, lenguaje a usar, atención al usuario, etc. 
		li: p #[strong Creación de perfiles]: Seleccionadas las redes que nos interesan, comenzaremos a actuar en las mismas, procurando no caer en incoherencias de contenido o imagen si son varias finalmente las redes en que intervendremos. 
		li: p #[strong Elaboración de contenidos]: Se trata del punto que mayor cantidad de horas de trabajo exigirá, con la redacción de los textos apropiados, por interés y calidad, que se incluirán en las redes en las que tengamos perfiles. 
		li: p #[strong Control de la actividad]: Habrá que analizar minuciosamente los resultados que cada perfil creado genera, cómo reaccionan los usuarios a cada acción desarrollada, y supervisar su funcionamiento general. 
		li: p #[strong Emisión de informes]: Cada mes se presentará un informe con las conclusiones sobre la evolución de cada perfil y el nivel de cumplimiento de objetivos, así como la proposición de corrección de posibles errores o de mejoras a introducir. 

