- var active = {"category": "Veterinarios", "service": "Maquetación Web"}
- var title = "Maquetación Web - Braun Marketing & Consulting"
- var description = "Contrata nuestro servicio de Maquetación Web y ten una presencia profesional en internet."

- var intro = "Una de las cuestiones básicas cuando se contratan nuestros servicios de marketing veterinario, radica en realizar una labor meticulosa respecto a la maquetación web, llevando a cabo todas las gestiones precisas para dotar a nuestra página de una imagen y un contenido atractivo, útil, intuitivo y eficiente."
- var video = ""