extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Por qué es fundamental una maquetación web trabajada
	h3.title.is-3 ¿Cómo podemos conceptuar la maquetación web?
	p.
		Cuando hablamos de <strong>maquetación web</strong>, nos estamos refiriendo a todas aquellas actuaciones de creación y modificación de nuestra página, dirigidas a configurarla según la personalidad con que queramos dotarla, estudiando minuciosamente la imagen, contenido y estructura que nos interese introducir.

	h3.title.is-3 ¿Por qué consideramos importante esta actividad?
	p.
		En nuestros días, cuando una persona quiere encontrar un producto o servicio, o conocer las características de una empresa, lo primero que hace es realizar la correspondiente búsqueda en Internet. Por consiguiente, <strong>lo primero que un posible cliente de nuestro negocio va a conocer sobre nosotros, va a ser nuestra página web</strong>.
	p.
		Por este motivo, es indispensable que la web muestre un diseño agradable para el visitante, que sus textos den respuesta a lo que estaba buscando, que el manejo de la página sea fácil y cómodo para él y que, todo junto, inspire en el usuario la idea de que la empresa es seria, competente y vanguardista.

	h3.title.is-3 ¿Sobre qué criterios debemos actuar para influir de manera positiva en la experiencia del usuario?
	p.
		Experiencia del usuario, también llamada <strong>UX</strong>, es la expresión con la que hacemos referencia a las sensaciones que se producen en el visitante de nuestra página, según las características que haya observado en la misma, y que vienen determinadas por <strong>factores</strong> como: 
	ul
		li La <strong>accesibilidad</strong>.
		li El <strong>software</strong>.
		li La <strong>usabilidad</strong>.
		li La <strong>utilidad</strong>.
		li La calidad de <strong>contenidos</strong>.
		li Las <strong>emociones</strong> que transmita al usuario.
		li La elaboración y transmisión de <strong>marca</strong>.


	hr

	h2.title.is-2 2. Nuestra estrategia

	h3.title.is-3 ¿Qué acciones de maquetación web desarrollamos?

	p.
		Podemos dividir las actuaciones de <strong>maquetación web</strong> que llevamos a cabo, en cinco <strong>apartados</strong>:
	ol
		li El referente a <strong>observación de otras webs</strong> de empresas líderes en el sector, de manera que pueda servirnos de criterio orientador.
		li El correspondiente <strong>estudio de las palabras clave</strong>, que mejore el posicionamiento de la página según las expresiones para hacer búsquedas que usen los internautas.
		li El referido a la búsqueda de la <strong>aprobación del cliente del boceto (mock up)</strong> que hayamos desarrollado tras la consecución de los dos apartados anteriores.
		li El apartado sobre la <strong>creación de la página web</strong> por parte de los diseñadores y programadores.
		li Por último, la <strong>vigilancia de la página</strong> en cuanto a su funcionamiento satisfactorio para nosotros y para los usuarios, controlando que siga generando buenas experiencias de uso.
