extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Significado de Posicionamiento Web. Valor y categorías

	h3.title.is-3 ¿Qué entendemos por posicionamiento web?
	p Consiste en la realización de acciones técnicas que repercuten en ciertos aspectos de una página web, como son los relativos a su contenido y estructura, con el objetivo de obtener una repercusión positiva en el posicionamiento de la web en los motores de búsqueda.
	p El #[strong posicionamiento web] se refiere a los resultados de búsqueda de tipo orgánico, esto es, los resultados que no requieren pago alguno, como sí sucede con <a href="#[+nextServiceURL()]">Google Adwords</a>.

	h3.title.is-3 ¿Cuál es el valor del posicionamiento web?
	p Las acciones relacionadas con el #[strong posicionamiento web] son fundamentales para #[strong hacer entender] a los motores de búsqueda de Internet el contenido de tu página #[strong y su utilidad] para las personas que la consulten. 
	p Se trata de una herramienta que llega a ser indispensable, por cuanto los motores de búsqueda, aun cuando emplean cada vez algoritmos más sofisticados, no son capaces todavía de analizar el contenido de una web como lo haría una persona, por lo que se sirven de estos mecanismos para determinar la relevancia que ha de otorgarse a una página.

	h3.title.is-3 ¿Cuáles son los factores que tienen en cuenta los motores de búsqueda de cara al posicionamiento web?
	p Hemos hablado de #[strong relevancia], pero junto a este factor, los motores de búsqueda tienen en cuenta también la #[strong autoridad] de una web para decidir su posicionamiento, y así: 
	ul
		li
			p #[strong La Autoridad]:  se trata del factor que se refiere a la #[strong notoriedad] de una web, de modo que, a mayor grado de popularidad, el buscador entiende que más elevado es el interés que debe de contener, y más visible, en consecuencia, merece estar. El modo en que el buscador detecta la mayor o menor notoriedad de una página, es analizando la #[strong cantidad de veces que los usuarios comparten] su contenido, convirtiéndose en el factor que más en cuenta tiene.
			p #[strong La Relevancia]: La determina el buscador en virtud de la relación existente entre el #[strong contenido de la web y las palabras usadas por el usuario para realizar una búsqueda]. Por eso, antes los creadores de contenido de las páginas se esmeraban en repetir una y otra vez en los textos que introducían, los términos más buscados por los usuarios, para lograr una mayor relevancia. Sin embargo, hoy en día los motores de búsqueda han evolucionado hacia mecanismos más complejos que analizan cientos de factores para otorgar la relevancia a una página. 

	h3.title.is-3 ¿Cuáles son las categorías de posicionamiento web?
	p Podemos diferenciar entre dos clases: el posicionamiento web #[strong on-page] y posicionamiento web #[strong off-page].
	ul
		li: p #[strong On-site]: Se trata del ámbito del SEO que #[strong se ocupa de la relevancia de una página], interviniendo en la misma para que el buscador comprenda mejor su contenido. Para ello, se encarga de velar por el uso óptimo de las palabras clave, el código y el formato de las URLs, así como la duración de carga y las sensaciones del usuario.  
		li: p #[strong Off-site]: Tendría #[strong más relación con la autoridad de la web], al preocuparse por todos los elementos externos a la misma, tales como la cantidad y calidad de los enlaces que contiene, las menciones y presencia en las redes sociales y medios locales, notoriedad de la marca y posición en los resultados de búsqueda, o sea, el CTR (Click Through Rate) de los resultados de la búsqueda de nuestra web.
	hr

	h2.title.is-2 2. Métodos para el posicionamiento web
	p Después de toda esta teoría, va siendo hora de entrar a analizar #[strong qué podemos hacer por el posicionamiento web de tu página]. 
	p Aquí te mostramos una gráfica para que veas, en titulares, nuestra metodología: 
	p.has-text-centered
		img(src="/img/Metodologia_SEO.png", alt=active.service)
	h3.title.is-3 ¿Qué es el establecimiento de palabras clave?
	p Ya hemos visto la importancia de la correcta gestión de las palabras clave en el contenido de la web para la determinación de la relevancia que el motor de búsqueda asigne a la página, por lo que lo hemos convertido en #[strong el pilar de nuestra estrategia de posicionamiento web]. 
	p Los criterios que seguimos para la selección y uso de las palabras clave, son: 

	ol
		li #[strong Notoriedad] de las palabras clave.
		li Nivel de #[strong competencia] por las mismas.
		li #[strong Importancia] de las palabras clave, de cara al marketing.
		li #[strong Adaptación] de las palabras clave al contenido de la página web.
	
	h3.title.is-3 ¿Qué métodos usamos para el posicionamiento de una palabra clave?
	p Es importante definir el grado de efectividad de una palabra clave, observando la comparativa entre el beneficio de posicionarla y el coste en esfuerzo que supone. Para ello contamos con los siguientes mecanismos:
	ul
		li
			p #[strong KEI (Keyword Efectiveness Index)]: nos ofrece información sobre la cantidad de búsquedas de una palabra o frase (beneficio) y la competencia que tiene (dificultad).
			p #[strong Google PageRank]: indaga sobre el ranking de los primeros resultados que aparecen en una búsqueda, cuando se introducen determinadas palabras o frases, para que sirva como medida sobre la dificultad.  

	h3.title.is-3 ¿Cómo decidimos qué palabras clave establecer?
	p Usando las siguientes herramientas:
	ul
		li: p #[strong Google trends]: Se trata de una aplicación de Google de gran utilidad, puesto que mediante ella podemos conocer la tendencia en las búsquedas de una palabra o frase, por lo que podemos averiguar datos como la estacionalidad de una determinada palabra clave.
		li: p #[strong Google Keyword planner]: Mediante esta aplicación también podemos obtener una relevante información ya que, si se tiene una campaña activa en Google Adwords, se te muestra la cantidad precisa de búsquedas que tiene una palabra o frase y la competencia que presenta, incluso filtrando por localidad y tiempo.
		li: p #[strong Rank-Tracker]: Con esta aplicación de pago, podemos monitorizar las posiciones en las búsquedas en Google o en otros buscadores de las palabras o frases que nos interesen.

	h3.title.is-3 ¿Para qué sirve controlar el posicionamiento?
	p Si queremos tener bajo control toda la labor de marketing que llevamos a cabo, tenemos que vigilar de cerca el posicionamiento, con el objeto de: 
	ul
		li: p #[strong Saber los resultados], positivos o negativos, de las tácticas de #[strong posicionamiento web] que estamos desarrollando.
		li: p Conocer cuáles de las #[strong palabras clave] que usamos están dando más beneficios con menos dificultades. 
		li: p Tener siempre en cuenta la #[strong evolución de la competencia], para #[strong actuar] antes de que nos roben el posicionamiento. 
		li: p Poder #[strong mantener] el posicionamiento en las búsquedas desde cualquier lugar y en cualquier idioma, e incluso #[strong mejorarlo]. 
			

	h3.title.is-3 ¿Qué es la adaptación web-seo on page?
	p Una vez que hemos realizado todo el análisis y trabajo anteriormente relacionado respecto de las palabras clave, procederemos a llevar a cabo las #[strong intervenciones necesarias en la página web], si ésta ya está creada, o #[strong fijar las orientaciones para la elaboración de la misma], si no está creada, de modo que la acomodemos a nuestras especificaciones relativas al posicionamiento web, por medio de: 
	ol(type="a")
		li: p #[strong Contenidos con una semántica de calidad], y redactados en consonancia con las palabras clave que hayamos elegido.
		li: p #[strong Modificación o creación de los textos de la web], teniendo en cuenta los factores de búsqueda que tengan los usuarios de los buscadores. 
		li: p #[strong Acomodo de los contenidos de la web a las búsquedas del público que nos interese], empleando para ello las herramientas ya mencionadas Google Trend, Google Keyword Planner y Ranktracker. 

	h3.title.is-3 ¿Dónde intervenimos en la web para adaptar el contenido a las palabras clave? 
	p La adaptación la llevamos a cabo en:
	ol(type="a")
		li: p #[strong Los títulos]: procurando que sean breves y únicos, y descriptivos.
		li: p #[strong La metadescription]: Introduciendo de modo adecuado la palabra clave en la metadescripción, procurando también que sea única. 
		li: p #[strong La URL]: Convirtiéndola en amigable, e introduciendo también la palabra clave. 
		li: p #[strong Las cabeceras]: Procurando que el encabezamiento sirva al lector y al buscador para obtener una definición del resto del texto. 
		li: p #[strong Las imágenes]: Se incluirán en el texto imágenes que contengan  la descripción "alt". Esto servirá para posicionar cada vez que un usuario realice una búsqueda de imágenes con la palabra clave seleccionada por nosotros. 
		li: p #[strong El cuerpo de los textos]: Debemos hacer uso de personas especializadas en el tema del contenido de la web para que redacten textos originales y de alta calidad.  
		li: p #[strong Los datos estructurados]: Hay que facilitar en lo posible la lectura del texto de nuestra web a los bots para contribuir a un mejor posicionamiento, para lo que incluiremos las etiquetas Schema.org y JSON-LD al código HTML. 

	h3.title.is-3 ¿Qué es una estrategia de contenidos?
	p Con estrategia de contenidos nos referimos a la determinación del valor de la página para los usuarios. Se trata de #[strong dotar a la web del contenido necesario para que sea útil al lector], teniendo en cuenta también factores como los canales, formatos y tiempos. 
	p Para dotar de un contenido útil a nuestra página, es indispensable saber a qué clase de personas nos queremos dirigir, para desarrollar una temática adecuada, así como el tono a emplear, mayor o menor formalidad, o el formato o canal a disponer. 

	h3.title.is-3 ¿En qué se basa nuestra actividad respecto de la estrategia de contenidos? 
	p La base de nuestra actuación en este ámbito del #[strong posicionamiento web], se divide en: 
	ol
		li: p Dependiendo de la estrategia SEO que nos interese, elegimos el #[strong tema del contenido de la web], incluyendo palabras clave de tipo long-tail que tengan relación con ese tema, para que resulte más interesante al sector de población que nos interese.
		li: p Buscamos, ante todo, que el lector encuentre #[strong satisfacción] con el contenido que introduzcamos. 
		li: p Organizamos el contenido de la página en silos de palabras clave para que al buscador le resulte más sencillo determinar la relevancia de las mismas. Es la denominada #[strong estructura SILO].
		li: p Aumento de la visibilidad de la web mediante la aparición de sus contenidos en redes sociales y otras plataformas, previa elaboración de la estrategia adecuada. 

	h3.title.is-3 ¿Qué es el posicionamiento natural off page?
	p Se trata de las estrategias SEO que tienen como fin fundamental lograr el redireccionamiento a nuestra web desde otras páginas. Se trata de una labor que, si obtiene una buena cantidad de enlaces de calidad, afecta de manera decisiva en el ranking de una página web.
	p A la hora de lograr este objetivo es importante perseguir las menciones en blogs, redes sociales, etc.
	p Según este concepto, las actuaciones referidas al posicionamiento natural off page van referidas al ámbito externo de la página, y podemos enumerarlas de la siguiente manera:
	ul
		li: p Generación de un ecosistema de páginas con un contenido similar o compatible, para dar lugar a más opciones de enlaces. Es el denominado #[strong linkbuilding].
		li: p Redacción de textos de calidad, introduciendo imágenes y/o vídeos, que interesen a los lectores para lograr que lo compartan. Es el llamado #[strong linkbaiting].
		li: p Asumir el papel de #[strong usuario en distintos foros] que interesen.
		li: p Promover la participación en #[strong publicaciones] del ámbito que nos ocupe (blogs, revistas, periódicos...).
		li: p Llevar a cabo #[strong notas de prensa].
		li: p #[strong Elaborar un canal en Youtube]. También es útil la #[strong identificación en Google+ y Google My Business], plataforma esta última que reúne en una sola todas las anteriores formas de enlazar negocios locales, ya que con anterioridad nos encontrábamos con páginas de empresa en Google + y fichas en Place.
