- var active = {"category": "Veterinarios", "service": "SEO Local"}
- var title = "SEO Local - Braun Marketing & Consulting"
- var description = "Con el SEO Local serás la primera clínica veterinaria en salir en las búsquedas."

- var intro = "En este texto vamos a intentar explicar, de la manera más resumida posible, qué es el SEO local y cuáles son las actuaciones que, respecto del mismo, llevamos a cabo para nuestros clientes."
- var video = ""