extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. Concepto de diseño de página web y consecuencias positivas
	h3.title.is-3 ¿Qué entendemos por diseño de página web?
	p.
		Si tenemos que definir el <strong>diseño de página web</strong> de algún modo, podemos decir que se trata de la actividad que se ocupa de los <strong>elementos gráficos</strong> de la web que nos permitirán atribuir a la misma unos <strong>rasgos identificadores</strong> que la diferencien de las demás y que transmitan al visitante una idea sobre la personalidad de nuestra empresa, permitiendo, al mismo tiempo, facilitar el uso de la web con el cuidado meticuloso de ciertos aspectos que más adelante comentaremos.

	h3.title.is-3 ¿Cuáles son las consecuencias positivas de una buena estrategia de diseño de página web?
	p.
		Un <strong>diseño de página web</strong> apropiado con el objeto y características de nuestro negocio, influirá siempre de modo positivo en la idea que el visitante de la página se lleve sobre la empresa.

	p.
		Los resultados que podemos obtener con un buen trabajo, pueden referirse a:
	ol
		li
			p.
				<strong>Buena impresión</strong>. Está que claro en lo primero que se fija cualquier persona cuando entra a una página, es en su apariencia. En este sentido, una imagen atractiva producirá en el usuario sensaciones satisfactorias sobre nuestra empresa.
		li
			p.
				<strong>Seguridad</strong>. Los textos, las imágenes, la utilidad que le reporte al usuario la información que encuentre y cómo se puede mover entre los datos y secciones que encuentre… Todo eso influirá en las ideas que se vaya forjando sobre la fiabilidad de nuestra empresa.
		li
			p.
				<strong>Las métricas</strong>. Un usuario satisfecho con la visita a nuestra página, es un usuario que contratará nuestros servicios o que nos recomendará para que otros nos contraten y nos visiten, lo cual también mejorará nuestra posición en los resultados de búsqueda en Internet. El diseño acertado de nuestra página repercutirá, sin lugar a dudas, en el aumento de los números del negocio.


	h3.title.is-3 ¿A qué nos referimos cuando hablamos de experiencia del usuario?
	p.
		Se trata del término empleado, conocido también como <strong>UX</strong>, para designar al resultado, satisfactorio o desagradable, que el usuario siente al navegar por nuestra página web. 
	p.
		Para lograr que esta experiencia sea <strong>positiva</strong>, hemos de cuidar toda una serie de circunstancias que permitan que la página sea <strong>útil y cómoda</strong> para el visitante.
	p.
		Estos extremos pueden ir referidos a cuestiones como la <strong>accesibilidad, usabilidad y utilidad</strong> de la página, el <strong>software</strong> o lo relacionado con los <strong>contenidos</strong>, las <strong>sensaciones</strong> y la creación y transmisión de <strong>marca</strong>.
	hr

	h2.title.is-2 2. Método que usamos

	h3.title.is-3 ¿Qué estrategia desarrollamos? 
	p.
		Las acciones que llevamos a cabo en relación con el <strong>diseño de página web</strong>, se pueden resumir en estos <strong>pasos</strong>:

	ul
		li Lo primero que debemos hacer es indagar entre las <strong>páginas de empresas competidoras</strong> del mercado y del tipo de público al que nos queremos dirigir.
		li A continuación, analizaremos cuáles son las <strong>keywords</strong> o palabras clave que nos interesa usar para nuestra web, según las utilizadas por los usuarios en sus búsquedas.
		li En tercer lugar, haremos un <strong>mock up</strong>, o boceto, que se mostrará al cliente para su aprobación.
		li En este momento, ya estaremos en condiciones de que los diseñadores y programadores <strong>desarrollen la página web</strong>.
		li Una vez publicada la web, tendremos que estar atentos a su <strong>correcto desempeño</strong> conforme a nuestras previsiones y las necesidades de los usuarios.
