extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Para qué sirve Google Analytics. Su relevancia
	h3.title.is-3 ¿Para qué se usa Google Analytics?
	p.
		Como ya adelantábamos, <strong>Google Analytics</strong> es la herramienta de la que podemos disponer para llevar a cabo esa actividad de <strong>obtener para su análisis cuantos datos sean necesarios respecto del funcionamiento de la empresa</strong>, de modo y manera que seamos capaces de deducir consecuencias de dicho estudio y emplear los resultados en introducir las variaciones sobre nuestras estrategias y procesos que se muestren como necesarias. 
	p.
		Al referirnos a todos los datos necesarios, estamos haciendo referencia a cualquiera que arroje luz sobre las <strong>claves de la interacción de los usuarios con nuestra página web</strong> sin que, en ningún caso, debamos restringir la búsqueda de información a una mera recopilación de número de visitas y ventas. 

	h3.title.is-3 ¿En qué se basa la relevancia de Google Analytics?
	p.
		<strong>Google Analytics</strong> es importante en la medida en la que logremos un rendimiento a su uso, mejorando nuestros procesos y cualquier otro aspecto de nuestro servicio y de la web que lo ofrece mediante el entendimiento, tras el correspondiente trabajo de estudio, de la información que se obtenga con la que podamos conocer mejor el <strong>perfil de nuestros potenciales usuarios</strong> y el modo en que podamos <strong>adaptar nuestra empresa a sus necesidades</strong>.

	hr
	h2.title.is-2 2. Cómo usamos este instrumento
	h3.title.is-3 ¿Cuáles son las etapas en el uso de Google Analytics?
	p.
		Podemos mencionar los siguientes <strong>momentos</strong> en la labor que abarca las acciones anteriormente explicadas:
	ol
		li.
			Según si tenemos un blog, una landing page, un ecommerce o algún otro tipo de sitio web, tendremos que <strong>usar las métricas que correspondan</strong> y los instrumentos para medir que mejor se adapten. 
		li.
			Una vez que sepamos las métricas a usar, <strong>elegiremos las variables</strong> que tendremos en cuenta en nuestros análisis, según el objetivo y los KPI´s, o indicadores claves de rendimiento, que tengamos en un principio. 
		li.
			Nos fijaremos, a continuación, un <strong>término temporal</strong> para la elaboración de las métricas.
		li.
			No debemos olvidar seleccionar adecuadamente los <strong>instrumentos de medición</strong> que utilizaremos.
		li.
			Una vez que contemos con los datos que hayamos recabado, expondremos en los informes correspondientes las <strong>conclusiones a las que lleguemos</strong> sobre el nivel de cumplimiento de objetivos.
		li.
			Por último, llevaremos a cabo las <strong>modificaciones en la web</strong> respecto de los defectos que hayan quedado expuestos con los resultados de las mediciones.

	h3.title.is-3 ¿Cuál debe ser el objeto de nuestras mediciones?
	p.
		Muchos son los datos que podemos obtener con nuestros estudios y mediciones, pero a continuación citaremos las métricas más importantes que deberemos tener en cuenta: 
	ul
		li.
			<strong>Visitas a la web</strong>.
		li.
			<strong>Visitas únicas</strong>.
		li.
			Tanto porciento de <strong>visitas nuevas</strong>.
		li.
			<strong>Tiempo de duración de las visitas</strong>, de media.
		li.
			<strong>Páginas de entrada</strong>.
		li.
			<strong>Tasa de rebote</strong>.

	p.
		Junto a estas métricas, existen otras que llamamos <strong>avanzadas</strong> y que podemos obtener también con <strong>Google Analytics</strong>, que van más enlazadas a los objetivos concretos que nos hayamos fijado y que, por tanto, serán diferentes cada vez.
	p.
		Podemos exponer <strong>dos ejemplos</strong> para entender qué son las <strong>métricas avanzadas</strong>:
	ol(type="a")
		li Si tenemos un sitio <strong>web de contenidos</strong> (como podría ser un blog o página de noticias) y queremos aumentar la fidelización de usuarios ¿Cuáles serán las métricas avanzadas que, en este supuesto específico, nos interesarán? Serían, con toda probabilidad, las siguientes:
			ul
				li Porcentaje de <strong>visitas nuevas</strong>.
				li Tiempo de <strong>permanencia en la web</strong>.
				li <strong>Profundidad de la visita</strong> (cantidad de páginas del sitio en las que entra).
				li Visitantes que se acaban <strong>suscribiendo a la página</strong>.
				li Usuarios que <strong>comparten contenido</strong> de la página.
		li Si tenemos un sitio <strong>web para la venta</strong> de algún producto y queremos aumentar las cifras de ventas, las métricas que nos interesarán son:
			ul
				li Cantidad media de los <strong>gastos en compras</strong> que desembolsa cada usuario de la web, dividiendo ingresos por ventas.
				li <strong>Visitas a la web que acaban en ventas</strong>, o tasa de conversión.
				li <strong>Cantidad de ventas por cada entrada</strong> en la web de usuarios.
