extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Para qué sirve Google Analytics. Su relevancia
	h3.title.is-3 ¿Para qué se usa Google Analytics?
	p Como ya adelantábamos, #[strong Google Analytics] es la herramienta de la que podemos disponer para llevar a cabo esa actividad de #[strong obtener para su análisis cuantos datos sean necesarios respecto del funcionamiento de la empresa], de modo y manera que seamos capaces de deducir consecuencias de dicho estudio y emplear los resultados en introducir las variaciones sobre nuestras estrategias y procesos que se muestren como necesarias. 
	p Al referirnos a todos los datos necesarios, estamos haciendo referencia a cualquiera que arroje luz sobre las #[strong claves de la interacción de los usuarios con nuestra página web] sin que, en ningún caso, debamos restringir la búsqueda de información a una mera recopilación de número de visitas y ventas. 

	h3.title.is-3 ¿En qué se basa la relevancia de Google Analytics?
	p #[strong Google Analytics] es importante en la medida en la que logremos un rendimiento a su uso, mejorando nuestros procesos y cualquier otro aspecto de nuestro servicio y de la web que lo ofrece mediante el entendimiento, tras el correspondiente trabajo de estudio, de la información que se obtenga con la que podamos conocer mejor el #[strong perfil de nuestros potenciales usuarios] y el modo en que podamos #[strong adaptar nuestra empresa a sus necesidades].

	hr
	h2.title.is-2 2. Cómo usamos este instrumento
	h3.title.is-3 ¿Cuáles son las etapas en el uso de Google Analytics?
	p Podemos mencionar los siguientes #[strong momentos] en la labor que abarca las acciones anteriormente explicadas:
	ol
		li: p Según si tenemos un blog, una landing page, un ecommerce o algún otro tipo de sitio web, tendremos que #[strong usar las métricas que correspondan] y los instrumentos para medir que mejor se adapten. 
		li: p Una vez que sepamos las métricas a usar, #[strong elegiremos las variables] que tendremos en cuenta en nuestros análisis, según el objetivo y los KPI´s, o indicadores claves de rendimiento, que tengamos en un principio. 
		li: p Nos fijaremos, a continuación, un #[strong término temporal] para la elaboración de las métricas.
		li: p No debemos olvidar seleccionar adecuadamente los #[strong instrumentos de medición] que utilizaremos.
		li: p Una vez que contemos con los datos que hayamos recabado, expondremos en los informes correspondientes las #[strong conclusiones a las que lleguemos] sobre el nivel de cumplimiento de objetivos.
		li: p Por último, llevaremos a cabo las #[strong modificaciones en la web] respecto de los defectos que hayan quedado expuestos con los resultados de las mediciones.

	h3.title.is-3 ¿Cuál debe ser el objeto de nuestras mediciones?
	p Muchos son los datos que podemos obtener con nuestros estudios y mediciones, pero a continuación citaremos las métricas más importantes que deberemos tener en cuenta: 
	ul
		li: p #[strong Visitas a la web].
		li: p #[strong Visitas únicas].
		li: p Tanto porciento de #[strong visitas nuevas].
		li: p #[strong Tiempo de duración de las visitas], de media.
		li: p #[strong Páginas de entrada].
		li: p #[strong Tasa de rebote].

	p Junto a estas métricas, existen otras que llamamos #[strong avanzadas] y que podemos obtener también con #[strong Google Analytics], que van más enlazadas a los objetivos concretos que nos hayamos fijado y que, por tanto, serán diferentes cada vez.
	p Podemos exponer #[strong dos ejemplos] para entender qué son las #[strong métricas avanzadas]:
	ol(type="a")
		li
			p Si tenemos un sitio #[strong web de contenidos] (como podría ser un blog o página de noticias) y queremos aumentar la fidelización de usuarios ¿Cuáles serán las métricas avanzadas que, en este supuesto específico, nos interesarán? Serían, con toda probabilidad, las siguientes:
			ul
				li: p Porcentaje de #[strong visitas nuevas].
				li: p Tiempo de #[strong permanencia en la web].
				li: p #[strong Profundidad de la visita] (cantidad de páginas del sitio en las que entra).
				li: p Visitantes que se acaban #[strong suscribiendo a la página].
				li: p Usuarios que #[strong comparten contenido] de la página.
		li
			p Si tenemos un sitio #[strong web para la venta] de algún producto y queremos aumentar las cifras de ventas, las métricas que nos interesarán son:
			ul
				li: p Cantidad media de los #[strong gastos en compras] que desembolsa cada usuario de la web, dividiendo ingresos por ventas.
				li: p #[strong Visitas a la web que acaban en ventas], o tasa de conversión.
				li: p #[strong Cantidad de ventas por cada entrada] en la web de usuarios.
