extends /partials/cookies-layout

block variables
	include _variables
block content

	h2.title.is-2 1. ¿Qué son las Cookies?

	p La página web de Braun Marketing & Consulting, utiliza cookies y otros archivos de funcionalidad similar. Las cookies son pequeños archivos de datos que se envían al ordenador del Usuario, teléfono móvil u otro dispositivo de acceso cuando visita una página web y que permiten obtener información relativa a su navegación o un código que permite identificar unívocamente al usuario.

	h2.title.is-2 2. Tipología de Cookies y finalidades de uso
	p Al navegar por este sitio web se utilizan cookies de sesión y cookies persistentes que, a su vez, pueden ser cookies propias o de terceros.

	p Las Cookies de sesión son cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web. Se suelen emplear para almacenar información que solo interesa conservar para la prestación del servicio solicitado por el usuario en una sola ocasión.

	p Las Cookies persistentes son un tipo de cookies en el que los datos siguen almacenados en el terminal y a los que se puede acceder y tratar durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.

	p COOKIES PROPIAS: Las creadas o gestionadas por el responsable de la página web de Braun Marketing & Consulting. La página web braunmarketingandconsulting.es, utiliza cookies propias persistentes.

	p COOKIES DE TERCEROS: Las administradas por prestadores de servicios de análisis, de redes sociales, de personalización y de publicidad ajenos a Braun Marketing & Consulting.

	h2.title.is-2 3. Desactivación o eliminación de las Cookies

	p La mayoría de navegadores web permite gestionar, en cualquier momento, las preferencias del Usuario sobre el uso de las Cookies. El Usuario puede ajustar su navegador para que rechace Cookies o elimine determinadas Cookies según su criterio.

	p Para la configuración de las Cookies el Usuario puede acceder a:

	p #[strong Google Chrome]: Herramientas → Configuración → Mostrar configuración avanzada → configuración de contenido → Cookies → Bloquear los datos de sitios y las cookies de terceros.

	p #[strong Mozilla Firefox]: Herramientas → Opciones → Privacidad → Historial → Usar una configuración personalizada para el historial (desmarque todas las casillas).

	p #[strong Internet Explorer]: Herramientas → Opciones de Internet → Privacidad → Configuración para la zona de Internet (suba la barra de navegación hasta Bloquear todas las cookies).

	p #[strong Safari]: Edición → Preferencias → Privacidad → Bloquear cookies (seleccione “siempre”).

	p #[strong Opera 19]: Menú → Configuración → Privacidad y seguridad → Sección Cookies (seleccione Bloquear cookies de terceros y datos de sitio).
	p El Usuario puede revocar su consentimiento para el uso de cookies en su navegador a través de las indicaciones anteriores.

	p El Usuario debe tener en cuenta que algunas características de los contenidos de la página web braunmarketingandconsulting.es solo están disponibles si se permite la instalación de Cookies en su navegador. Si decide no aceptar o bloquear determinadas Cookies (en función de su finalidad), puede que esto afecte, total o parcialmente, al funcionamiento normal de la página web o que impida el acceso a algunos servicios de la misma.
	h2.title.is-2 4. Actualizaciones y cambios en la Política de Cookies
	p Braun Marketing & Consulting puede modificar esta Política de Cookies en función de nuevas exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos.

	p Cuando se produzcan cambios significativos en esta Política de Cookies se comunicará al usuario mediante un aviso informativo en la página web.
