- var active = {"category": "Marketing Veterinario", "service": "Asesoramiento Empresarial"}
- var title = "Asesoramiento empresarial - Braun Marketing & Consulting"
- var description = "Confía en nuestro Asesoramiento Empresarial para saber qué cosas mejorar en tu clínica."

- var intro = "Obtener financiación, alcanzar un margen de beneficio y rentabilidad adecuados, lograr un funcionamiento eficiente en la empresa o negocio... Éstas son algunas de las principales preocupaciones y metas de cualquier profesional que actúa en el mercado dentro de su sector. Para alcanzarlas, en <strong>Braun Marketing & Consulting ponemos a tu disposición nuestro servicio de asesoramiento empresarial</strong> que te permitirá transitar por la senda del éxito. En este apartado te contamos cómo."
- var video = ""