extends /partials/services-layout

block variables
	include _variables
block content
	h2.title.is-2 1. El asesoramiento empresarial como camino hacia la rentabilidad. Definición e importancia

	h3.title.is-3 ¿De qué sirve tener un asesoramiento empresarial adecuado?
	p El profesional que comienza su trayectoria no tiene por qué ser un experto en el mundo de la empresa, le basta con ser un especialista en su campo. Para desarrollar toda la actividad de estudios de mercado, perfil de cliente que interesa, plan de negocio, objetivos financieros, etc, es necesario contar con un #[strong asesoramiento empresarial prestado por expertos] en los sectores financieros, de operaciones o de clientes, como el que ofrecemos a nuestros clientes.

	h3.title.is-3 ¿Es realmente importante para el profesional?
	p La importancia de un buen #[strong asesoramiento empresarial] para el profesional radica en el aseguramiento de una labor especializada para #[strong alcanzar los objetivos] que en cada caso se vaya marcando la empresa, comenzando por la obtención de financiación para comenzar a funcionar. 
	p Este primer objetivo vendrá condicionado de manera muy positiva para el caso de contar con un #[strong plan de negocio meticuloso], demostrando al inversor o entidad bancaria o financiera el control que se tiene sobre todas las facetas de la empresa o negocio, aumentando así la credibilidad empresarial del cliente.

	hr

	h2.title.is-2 2. Qué actuaciones concretas se llevan a cabo

	h3.title.is-3 ¿Cuál es el método de funcionamiento de nuestra actividad de asesoramiento empresarial?
	p Vamos a exponer, brevemente, los #[strong aspectos] que consideramos que no se pueden olvidar en esta labor de asesoría: 
	ol(type="i")
		li: p Es fundamental, como venimos diciendo, #[strong contar con un plan de negocio] elaborado de forma meticulosa, no solamente para lograr la financiación necesaria, sino para tener claros nuestros objetivos y la situación en que se encuentra la empresa. 
		li: p Como consecuencia necesaria de haber llevado a cabo el punto anterior de manera correcta, la #[strong obtención de la financiación] que la empresa necesita. 
		li: p Una vez que el cliente ha decidido comenzar a actuar en el mercado, y en todas las fases posteriores de su andadura, le será muy útil #[strong contar con un servicio de asesoramiento empresarial] permanente y continuo. 
		li: p Ya encontrándose en marcha el proyecto, habrá de llevarse un #[strong control exhaustivo del funcionamiento] de la empresa, con todas las métricas y datos que haya de recopilarse, sobre todo en cuanto a flujo de caja, costes e ingresos, inversiones, etc. 
		li: p En correspondencia con el apartado anterior, mantendremos #[strong vigilado el cash flow de caja] para que no exista una pérdida de control entre los pagos y los cobros de la empresa.
		li: p Como objetivo general, buscaremos siempre #[strong alcanzar la rentabilidad de la empresa], concepto que va más ligado a la eficiencia que el que se deduce de, simplemente, obtener margen de beneficios. 
		li: p Para finalizar, elaboraremos cuantos informes sean precisos para mantener la #[strong supervisión necesaria sobre los aspectos que interesen al funcionamiento de la empresa], como son las variaciones en el mercado del sector en que nuestro cliente esté involucrado, así como el estado de los precios de la competencia y margen de beneficios con especial mención a la situación de los costes directos e indirectos (hablamos en este caso de los gastos que devienen de necesidades para la prestación del servicio como los de transporte, comercialización o formalidades de entrega del producto o prestación de los servicios).  
