- var active = {category: null, service: null}
- var title = "Página no encontrada - Braun Marketing & Consulting"
- var fraseHeader = '<div>Página no encontrada</div><div><a>Volver a inicio</a></div>'