- var active= {"category": "Marketing Médico", "service": null}
- var title = "Marketing para Médicos - Braun Marketing & Consulting"
- var description = "¿Eres médico? ¿Te gustaría dar un empujón fuerte a tu marketing y hacerte un hueco en internet? Nosotros podemos ayudarte."
- var intro= "Para el quirófano se busca al experto, no al amigo. ¿Por qué no para tu Marketing Médico?"

-
    var faq = [
        {
            pregunta: "¿Es necesario contratar una Agencia de Marketing especializada en Marketing médico?",
            respuesta: `
                <p>
                    Hoy en día existe una competencia atroz y el boca a boca va perdiendo peso
                    en favor de las búsquedas de referencias, comentarios, opiniones etc., por
                    internet.
                </p>
                <p>
                    Internet da la posibilidad de que un especialista con una estructura
                    pequeña pueda tener una imagen y un posicionamiento en internet como si
                    fuera líder del mercado, consiguiendo y captando la atención de potenciales
                    clientes.
                </p>
                <p>
                    Nosotros sabemos mejor que nadie que uno debe dedicarse a lo que de verdad
                    es bueno y para lo que se ha formado. <strong>Es muy complicado ser muy bueno
                    en dos mundos completamente diferentes</strong>.
                    Contratando una agencia de marketing especializada en marketing médico
                    online puedes dedicarte a lo tuyo y olvidarte del resto, teniendo la
                    tranquilidad de que profesionales bien formados y con experiencia se
                    encargan de tu estrategia online.
                </p>
                <p>
                    <strong>Las agencias especializadas en marketing médico estamos en continua
                    formación</strong>
                    y pendientes de las últimas <strong>tendencias en tu sector</strong> así
                    como de las actualizaciones de los algoritmos de los principales
                    <strong>motores de búsqueda (Google, yahoo y bing)</strong> que están
                    continuamente cambiando y actualizándose para mejorar los resultados a los
                    usuarios, por tanto implementar dichos cambios en vuestros proyectos de
                    manera inmediata y manteneros al día tanto para los algoritmos como para lo
                    que demandan los usuarios.
                </p>
                <p>
                    Las agencias especializadas en marketing médico <strong>contamos con un
                    equipo informático y un conjunto de herramientas de pago</strong>, 
                    que nos brindan una información única y con las que conseguimos unos
                    resultados más óptimos en las acciones de marketing. Si una empresa
                    adquiriera estos equipos y los programas de pago tendría un coste muy
                    elevado. El ratio resultados/coste sería muy alto. Estas herramientas
                    compensan siempre y cuando se usen en varios proyectos.
                </p>`
        },
        {
            pregunta: "¿Qué ventajas tiene implementar una estrategia de marketing online?",
            respuesta: `
                <p>
                    Hoy en día con <strong>tus conocimientos y experiencia no es suficiente</strong>. Ahora
                    mismo profesionales como tú, con menos experiencia, menos estructura de
                    personal, con una clínica peor o incluso sin clínica propia pueden estar
                    captando un tráfico de pacientes a nivel online que tú no lo estás
                    haciendo.
                </p>
                <p>
                    Un buen marketing no es solo que conozcan tu marca en internet, es la
                    posibilidad de poner un escaparate en la calle con mayor tránsito de
                    personas de la ciudad. Hoy en día si tu negocio no está en internet no
                    existes.
                </p>
                <p>
                    Las principales ventajas del marketing online son:
                </p>
                <ul>
                    <li>
                        Permite llegar a más gente con tu mensaje. <strong>Con internet
                        cualquiera desde cualquier punto puede acceder a tu sitio
                        web.</strong>
                        No es necesario estar justo en el momento del anuncio de la televisión o
                        leer el periódico donde te anuncias o escuchar la radio y emisora justo en
                        el momento en el que se está emitiendo tu anuncio.
                    </li>
                    <li>
                        24 horas disponible. No hay cortes ni parones de ningún tipo. <strong>Estará siempre en la red.</strong>
                    </li>
                    <li>
                        Segmentación. Internet nos permite una <strong>segmentación</strong> muy
                        <strong>precisa</strong> gracias a las diferentes herramientas de las que
                        disponemos y somos especialistas. Puedes hacer que tu mensaje llegue a
                        clientes de un sexo, edad y población determinada e incluso podemos
                        segmentar por horarios, teniendo el control absoluto de quien va a recibir
                        tu anuncio.
                    </li>
                    <li>
                        Es más económico, <strong>las acciones de marketing online son más
                        económicas que las acciones de marketing tradicional</strong>.
                        Gracias a la segmentación que comentábamos en el punto anterior podemos
                        impactar de manera mucho más efectiva a nuestro público objetivo, por
                        tanto, reducimos costes ya que al ofrecer nuestro producto o servicio a
                        quien lo demandan multiplica las opciones de convertirlo en cliente,
                        reduciendo el ratio coste/captación cliente.
                    </li>
                    <li>
                        Medición de resultados. Una de las mejores y más importantes ventajas es
                        que si se ejecuta bien y se tiene en cuenta todos los factores técnicos,
                        <strong> cualquier acción se puede medir y plasmar los resultados en informes
                        con estadísticas y conclusiones</strong>. Es muy importante medir
                        el resultado de cualquier acción y comparar con
                        otras para así poder tomar las decisiones correctas en cuanto a destinación
                        de presupuestos se refiere.
                    </li>
                    <li>
                        Tiempo de reacción inmediato. Si alguna <strong>acción de marketing</strong>
                        no nos gusta o simplemente no está obteniendo el resultado deseado se puede
                        <strong>parar o modificar en el momento</strong>.
                    </li>
                </ul>`
        },
        {
            pregunta: "¿Es mejor contratar a alguien e incluirlo en mi equipo o contratar una Agencia especializada en Marketing Médico?",
            respuesta: `
                <p>
                    Siempre va a ser mejor contratar a una agencia especializada en <em>Marketing Médico</em> para llevar tu estrategia online que contratar a una o varias personas e incluirlas en tu plantilla por los siguientes motivos:
                </p>
                <ul>
                    <li>
                        El motivo principal es el coste. En una <strong>agencia somos varios especialistas</strong> en diferentes áreas que trabajamos conjuntamente para un mismo proyecto. Para tú conseguir la misma efectividad tendrías que contratar a una persona por cada una de las diferentes áreas de las que una agencia puede darte servicio. Marketing online es una palabra que embarca muchas especialidades diferentes como son Estrategia online, publicidad online, redacción de contenidos, desarrollo web, redes sociales, diseño gráfico, comunicación corporativa etc.
                    </li>
                    <li>
                        Experiencia en el sector. Son muchos proyectos llevados a cabo en tu área de trabajo lo que nos permite ahorrar en tiempo y evitar errores. <strong>Es complicado encontrar un especialista en marketing online especializado en un sector en concreto </strong>. Lo normal es que haya tocado muchos sectores diferentes y no haya profundizado en uno particular.
                    </li>
                    <li>
                        Facilidad para el cambio. Si con una agencia especializada en Marketing Médico no estás contento es tan simple como prescindir el contrato. <strong>Contratando a un equipo ya entra en juego despidos, indemnizaciones, al fin y al cabo, complicaciones</strong>.
                    </li>
                </ul>
                `
        },
        {
            pregunta: "¿Las redes sociales sirven para aumentar las ventas?",
            respuesta: `
                <p>
                    Es posible que te preguntes a menudo si las redes sociales sirven para aumentar ventas, si son solo una herramienta de comunicación o si simplemente sirven para algo. Para nosotros la respuesta es un sí rotundo. <strong>Son una herramienta más de las que ya disponemos para crear y convertir ventas</strong>. Pero como todo, hay que tener una estrategia y <strong>conocimiento específico en marketing médico</strong> para sacarle todo el partido que tus redes sociales nos pueden ofrecer.
                </p>
                <p>
                    Nosotros tenemos comprobado que las redes sirven para:
                </p>
                <ul>
                    <li>
                        <strong>Atraer más tráfico a tu sitio web</strong>. Todas las plataformas de social media tienen la posibilidad de conectar tus perfiles a tu sitio web y llevar tu tráfico de redes sociales a la página web. Puedes compartir tu contenido original o compartir contenidos de otras webs.
                    </li>
                    <li>
                        <strong>Vender</strong>. Sí, se puede vender por las redes sociales. Dependiendo de tu servicio o producto claro.
                    </li>
                    <li>
                        <strong>Promocionar un negocio</strong>. Las redes sociales son ideales para promocionar un negocio local ya sea de nueva creación o ya con un tiempo en el mercado a través de sus plataformas de publicidad online.
                    </li>
                    <li>
                        <strong>Construir tu marca</strong>. Las redes sociales son clave a la hora de crear la imagen de una marca. Las diferentes plataformas sociales se deben usar sobre todo para fortalecer la reputación de tu negocio. Son la herramienta más efectiva para generar credibilidad y confianza. Es lo primero que van a buscar e investigar para saber más de ti y tu marca tus usuarios.
                    </li>
                </ul>`
        }
    ]