extends /partials/services-layout

block variables
	include _variables
block content

	h2.title.is-2 1. Concepto y relevancia del Social Media Marketing

	h3.title.is-3 ¿Qué es el Social Media Marketing?
	p El social media o los medios sociales, en español, son las #[strong plataformas de comunicación online] donde el contenido es creado o compartido por los usuarios mediante el uso de la tecnología de la web 2.0.
	p El social media se basa en la influencia y la interacción entre pares, con una audiencia pública que es cada vez más inteligente y participativa. El social media es capaz de ampliar el impacto del boca a boca y sus consecuencias y, al usar una plataforma, también permite el poder medir las interacciones y, por tanto, rentabilizarlas.
	p Dentro del social media lo más usado son las #[strong redes sociales], los #[strong blogs] y los #[strong microblogs], aunque existen más plataformas. Tener un control sobre esto es fundamental para tener una buena <a href="#[+nextServiceURL()]">Reputación Online</a>.

	h3.title.is-3 ¿Por qué es importante el Social Media Marketing?
	p La razón por lo que es importante el Social Media Marketing es doble: primero porque va a #[strong derivar tráfico a nuestra web] corporativa y, posiblemente más importante, porque es fundamental poder mantener #[strong conversaciones con nuestros clientes] de tú a tú y para ello las redes sociales son fundamentales. Esas conversaciones nos harán ganar credibilidad, reputación y ayudará a que nuestros mensajes tengan una mayor difusión.

	h3.title.is-3 ¿Cuáles son las ventajas del uso de las redes sociales?
	ul
		li: p #[strong Bajo coste]: Abrir un perfil no cuesta más que unos minutos de tiempo para introducir los datos que nos demanda cada red. Esto es cierto, pero es un dato engañoso, porque aunque crear el perfil no cuesta nada, generar contenido interesante y relevante para nuestros usuarios puede requerir mucho tiempo y recursos.
		li: p #[strong Audiencia amplia]: Tener presencia en las redes sociales nos permite que cualquier persona desde cualquier lugar pueda tener acceso a nosotros.
		li: p #[strong Instantaneidad]: Permite una interacción con los usuarios de manera inmediata, pudiendo resolver dudas y consultas sobre la marcha. Dentro de este punto, podemos incluir la gran repercusión que está teniendo el vídeo actualmente en todas las redes sociales. Tanto Facebook, Instagram o Youtube con sus directos, como Twitter con Periscope, están incorporando la emisión en directo de eventos en donde se puede interactuar con los usuarios conectados mediante comentarios resolviéndoles dudas. Es una gran herramienta para dar cursos o pequeños tutoriales en directo.

	h3.title.is-3 ¿Cuáles son las principales redes sociales?
	p En la actualidad parece impensable que existan empresas que no tengan presencia en las redes sociales para informar a sus usuarios y poder hablar con ellos. Existen una gran cantidad de redes sociales, cada vez más especializadas, y es necesario hacer una buena estrategia de #[strong Social Media Marketing] para saber en cuáles debemos estar y en cuáles no. Las #[strong principales redes] son:
	ul
		li
			p #[strong Facebook]: Es la mayor red social actualmente con millones de usuarios registrados. Tiene dos tipos de #[strong perfiles]: uno para las #[strong personas físicas] y otros para las #[strong empresas]. La principal diferencia entre ellos es que las páginas para empresas permiten un mayor número de opciones como poder programar las publicaciones o estadísticas sobre el alcance de las publicaciones. No obstante, un inconveniente que presenta Facebook lo encontramos en el hecho de que las publicaciones que se hacen #[strong no las ven todos nuestros seguidores] sino que solo llega a un 3-5% de los mismos y si conseguimos que genere interacciones (me gustas, comentarios o compartidos) ese alcance irá aumentando. En cuanto al perfil de usuarios, Facebook es la más amplia ya que abarca tanto hombres como mujeres de todas las edades y niveles educativos. 
			p Las mejores horas para publicar son de 1 a 3 de la tarde y de 7 a 9 de la noche, siendo los mejores días jueves y viernes. Hay que tener en cuenta que Facebook tiene casi #[strong 1.600 millones de usuarios], de los cuales 19 millones son españoles y la mayoría se encuentra en la franja de 16-55 años (casi 16 millones).
		li
			p #[strong Twitter]: Es la red social de microblogging más importante. Su principal característica son los #[strong mensajes cortos], de no más de 140 caracteres. Otra característica, y unos de sus defectos, es la #[strong fugacidad de su contenido] que al cabo de 1 o 2 horas queda prácticamente oculto a los usuarios. Su gran ventaja es la #[strong inmediatez para solucionar consultas] o dudas que puedan tener los usuarios. Esta red social suele ser usada más por hombres, tanto jóvenes como mayores, y unos niveles de ingresos medios-altos. 
			p Los mejores días para publicar son los miércoles y los fines de semana, siendo las 12 del mediodía y las 6 de la tarde las horas donde se consigue mayor alcance de las publicaciones. A nivel mundial tiene alrededor de #[strong 320 millones de usuarios] y en España unos 7,7 millones.
		li
			p #[strong LinkedIn]: Es la principal #[strong red social profesional] que hay. En ella encontrarás tanto a empresas como personas físicas. Su principal características es que los #[strong perfiles están enfocados a todos los datos laborales] tanto de las empresas como de las personas físicas. Permite trabajar la marca en un entorno profesional, dotándola de seriedad y prestigio. Es una red social usada principalmente por hombres, de una edad media y unos ingresos y nivel educativo mayormente altos.
			p El mejor momento para postear es entre las 5 y 6 de la tarde y los días con mayor impacto los martes, miércoles y jueves. Cuenta con más de #[strong 433 millones de usuarios en todo el mundo] y en España en torno a los 8 millones.
		li
			p #[strong Youtube]: Red social para compartir #[strong contenido en vídeo]. Permite poder compartir los vídeos en otras plataformas y redes sociales. Los vídeos en esta red social son indexados por Google, por lo que ayuda al posicionamiento SEO. Es una de las que mayor crecimiento está experimentando gracias a la facilidad que hay en hacer vídeos con los smartphones. El usuario tipo de Youtube tiene una edad media, está repartido casi por igual entre hombres y mujeres y es de clase media. 
			p Los mejores días para publicar vídeos son los miércoles y los jueves, y la hora, sobre la 1 de la tarde. Tiene más de #[strong 1.000 millones de usuarios] y en España ven su contenido casi 14 millones de personas.
		li
			p #[strong Instagram]: Al igual que Youtube es la red social de vídeos, Instagram es la #[strong red social de la fotografía]. Su éxito se basa en que permite aplicar diferentes #[strong filtros y efectos a las fotos] para darles un aspecto más profesional. La aparición del smartphone y la necesidad de la gente de compartir sus vivencias, ha hecho que tenga un #[strong crecimiento espectacular]. Esta red social puede ayudar a las empresas a enseñar de manera visual cómo es su día a día, quiénes son los profesionales que hay y dotar de una mayor transparencia a la empresa. Es una red usada sobre todo por mujeres jóvenes con un nivel de ingresos medio.
			p El mayor alcance se consigue entre las 3 y  4 de la tarde, siendo el lunes el mejor día para publicar. Tiene algo más de #[strong 400 millones de usuarios] y es una de las que más crecimiento está teniendo. En España, cuenta con 8 millones de usuarios únicos y activos.

	hr


	h2.title.is-2 2. Nuestra metodología para el Social Media Marketing

	h3.title.is-3 ¿Qué pasos damos respecto a nuestra estrategia de social media maketing?

	ul
		li
			p #[strong Análisis previo]
			p El primer paso es ver qué perfiles tiene ya la empresa y cómo están funcionando. Habrá que ver qué nombre se está usando, qué tipos de perfiles son, qué imagen corporativa se está usando, qué tipo de publicaciones se hacen y cada cuánto tiempo, etc.
			p Este paso es necesario para saber la presencia que tiene la empresa en redes sociales o si todavía no ha dado el salto.
		li
			p #[strong Diseño de la estrategia]
			p A continuación tendremos que diseñar la estrategia que seguirá la empresa en las redes sociales. Para ello, es necesario saber los objetivos de la empresa y con qué intención quiere estar. Será necesario tener una guía que recoja el lenguaje a usar en las publicaciones, cómo contestar a los usuarios, la imagen que deseamos transmitir, etc.
		li
			p #[strong Elección de redes]
			p Según los objetivos y la estrategia, tendremos que seleccionar en qué redes sociales va a tener presencia la empresa. Todo debe tener una coherencia para transmitir un mensaje único y nítido al usuario. A partir de aquí, se podrá elegir estar en una red social o en varias de ellas, siempre con una imagen corporativa homogénea.
		li
			p #[strong Generación de contenido]
			p Teniendo en cuenta la estrategia planteada, la guía de estilo y las redes seleccionadas, se irá creando contenido para darle vida y personalidad a cada perfil. Es la parte que más horas de trabajo supone.
		li
			p #[strong Seguimiento]
			p Tras cada publicación hay que hacer un seguimiento para ver qué es lo que más éxito tiene entre los usuarios y lo que menos para ir depurando nuestro contenido al gusto de ellos. En esta parte también hay que ir interactuando con los usuarios resolviendo sus dudas y posibles quejas.
		li
			p #[strong Creación de informes]
			p Se crean unos informes mensuales para los clientes, donde se va indicando un pequeño resumen con la analítica de los perfiles. En estos informes se incluye la evolución de los usuarios, número de publicaciones, interacciones de las mismas, alcance conseguido, etc.

